<script src="/javascripts/jquery-ui-1.10.4.min.js"></script>
<link rel="stylesheet" href="/stylesheets/jquery-ui-1.10.4.css" />

<SCRIPT language="Javascript">
jQuery(document).ready(function(){

	l_id_save	 	= '<%= @lifecycle_id %>'
	ws_save 	 	= '<%= @workstream %>'
	mn_id_save 	 	= '<%= @milestone_name_id %>'
	kpi_type 	 	= '<%= @kpi_type %>'
	chart_type 	 	= '<%= @chart_type %>'
	begin_date_save = '<%= @begin_date %>'
	end_date_save 	= '<%= @end_date %>'

	url 		= "/spider_kpis/generate_kpi_charts_data"
	url_export 	= "/spider_kpis/generate_kpi_export"
	<% if (@chart_type == "cumul") %>
		url 		= "/spider_kpis/generate_kpi_cumul_charts_data"
	<% end %>

	jQuery("#loading_container").show();
	jQuery.ajax({
		url: url,
		type: "POST",
		data: "lifecycle_id="+l_id_save+"&workstream="+ws_save+"&milestone_name_id="+mn_id_save+"&kpi_type="+kpi_type+"&chart_type="+chart_type
	})
	.done(function(result) { 
	  jQuery("#charts_list").html(result);
	  jQuery("#loading_container").hide();
	})
	.fail(function() { 
		jQuery("#loading_container").hide(); 
	});


	change_lifecycle = function(lifecycle_id)
	{
		l_id_save = lifecycle_id
	}
	change_workstream = function(workstream_id)
	{
		ws_save = workstream_id
	}
	change_milestone = function(milestone_id)
	{
		mn_id_save = milestone_id
	}

	change_begin_date = function(begin_date)
	{
		begin_date_save = begin_date;
	}

	change_end_date = function(end_date)
	{
		end_date_save = end_date;
	}

	filter = function()
	{
		jQuery("#loading_container").show();

		jQuery.ajax({
			url: url,
			type: "POST",
			data: "lifecycle_id="+l_id_save+"&workstream="+ws_save+"&milestone_name_id="+mn_id_save+
					"&begin_date="+begin_date_save+"&end_date="+end_date_save+
					"&kpi_type="+kpi_type+"&chart_type="+chart_type})
			.done(function(result) 
			{ 
				jQuery("#charts_list").html(result);
				jQuery("#loading_container").hide();
			})
			.fail(function() 
			{ 
				jQuery("#loading_container").hide(); 
			}
		);
	}

	export_excel = function()
	{
		//generate_kpi_export
		window.location.replace("" + url_export + "?" + "lifecycle_id=" + l_id_save + "&workstream=" + ws_save + "&milestone_name_id=" + mn_id_save +
					"&begin_date=" + begin_date_save + "&end_date=" + end_date_save +
					"&kpi_type=" + kpi_type + "&chart_type=" + chart_type)
		// jQuery.ajax({
		// 	url: url_export,
		// 	type: "POST",
			// data: "lifecycle_id="+l_id_save+"&workstream="+ws_save+"&milestone_name_id="+mn_id_save+
			// 		"&begin_date="+begin_date_save+"&end_date="+end_date_save+
			// 		"&kpi_type="+kpi_type+"&chart_type="+chart_type})
		// 	.done(function(result) 
		// 	{ 
		// 		jQuery("#loading_container").hide();
		// 	})
		// 	.fail(function() 
		// 	{ 
		// 		jQuery("#loading_container").hide(); 
		// 	}
		// );
	
		
	}

	// Date picker
	jQuery(function() {
  		jQuery( "#begin_date" ).datepicker();
  	});
  	jQuery(function() {
    	jQuery( "#end_date" ).datepicker();
    });
});
</SCRIPT>


<div id="chart_selectors">

Lifecycle 	: <%= select_tag('choose_lifecycle', options_for_select(@lifecycles), {:onchange=>"change_lifecycle(this.value)"}) %>
Workstream 	: <%= select_tag('choose_workstream', options_for_select(@workstreams), {:onchange=>"change_workstream(this.value)"}) %>
Milestones 	: <%= select_tag('choose_milestone', options_for_select(@milestones), {:onchange=>"change_milestone(this.value)"}) %>
Begin 		: <%= text_field_tag 'begin_date', @begin_date, {:onchange=>"change_begin_date(this.value)"} %> 
End 		: <%= text_field_tag 'end_date', @end_date, {:onchange=>"change_end_date(this.value)"} %> 
<%= submit_tag 'Filter', {:onclick=>"filter()"} %>
<%= submit_tag 'Export in excel', {:onclick=>"export_excel()"} %>
</div>

<div style="margin-top:10px;display:none;" id="loading_container">
	Chargement des données <%= image_tag "ajax-loader.gif", :alt => "Loading", :id => "image_loading" %>
</div>

<div id="charts_list">
</div>
