<tr<%= r.background_for_po%>>
  <!-- <td><%= link_to r.request_id.gsub(/(0{3,})[^1-9]*/,''),"http://toulouse.sqli.com/EMN/view.php?id="+r.request_id  %></td> -->
  <td><%= link_to r.request_id,"http://toulouse.sqli.com/EMN/view.php?id="+r.request_id  %></td>
  <td><%= r.workstream %></td>
  <td><%= r.status %></td>
  <td><%= r.summary %></td>
  <td><%= r.assigned_to %></td>
  <td><%= r.work_package %></td>
  <td><%= r.milestone %></td>
  <td class="req_proposed"><%= r.date %></td>
  <td class="req_proposed"><%= r.po %></td>
</tr>
