<tr>
<td><%= phase_by_type.title %></td>
<td><%= phase_by_type.initial %></td>
<td><%= phase_by_type.remaining %></td>
<td><%= phase_by_type.balancei %></td>
<td><%= phase_by_type.gain_percent %></td>
</tr>

