<tr>
<td><%= provision.title %></td>
<td align="right"><%= provision.initial %></td>
<td align="right"><%= provision.initial_should_be %></td>
<td align="right"><%= provision.reevaluated %></td>
<td align="right"><%= provision.reevaluated_should_be %></td>
<td align="right"><%= provision.difference %></td>
</tr>

