<tr>
  <td><%= r.assigned_to %></td>
  <td><a href="http://toulouse.sqli.com/EMN/view.php?id=<%=r.request_id.to_i%>"><%= r.request_id.to_i %></a></td>
  <td><%= link_to(r.project.full_name, :controller=>'projects', :action=>'show', :id=>r.project.id) %></td>
  <td><%= r.work_package %></td>
  <td><%= r.milestone %></td>
  
<% if not r.bam_milestone %>
  <td><%= r.milestone_date %></td>
  <td>no milestone ?</td>
  <td><%= r.actual_m_date %></td>
  <td>no milestone ?</td>
<% else %>
  <td<% if r.milestone_date.to_s!=r.bam_milestone.milestone_date.to_s %> bgcolor="#FAA"<%end%>><%= r.milestone_date %></td>
  <td><%= r.bam_milestone.milestone_date %> (<%= r.bam_milestone.name %>)</td>
  <td<% if r.actual_m_date.to_s!=r.bam_milestone.actual_milestone_date.to_s %> bgcolor="#FAA"<%end%>><%= r.actual_m_date %></td>
  <td><%= r.bam_milestone.actual_milestone_date %> (<%= r.bam_milestone.name %>)</td>
<% end %>

</tr>
