<li><%= name %>;0;0;<%= load %>;23738;107116;110;;-1;-1;2604;-1;-1;-1;13;7;<%=p.sdp_id%>;<%=(p.sdp_id==-1) ? 1 : -1%>;0;22422;<%=(Date.today-1.month).strftime("%d/%m/%Y")%>;0;1;Internal SQLI Meetings (imported from EISQ Report);fintask</li>

