<tr>
  <td><%= sdp_wrong_task.sdp_id %></td>
  <td><%= sdp_wrong_task.activity_id %></td>
  <td><%= sdp_wrong_task.phase_id %></td>
  <td><%= sdp_wrong_task.title %></td>
  <td><%= sdp_wrong_task.request_id %></td>
  <td><%= sdp_wrong_task.done %></td>
  <td><%= sdp_wrong_task.initial %></td>
  <td><%= sdp_wrong_task.reevaluated %></td>
  <td><%= sdp_wrong_task.assigned %></td>
  <td><%= sdp_wrong_task.consumed %></td>
  <td class="req_proposed"><%= sdp_wrong_task.remaining %></td>
  <!-- <td><%= sdp_wrong_task.revised %></td>
  <td><%= sdp_wrong_task.gained %></td> -->
  <td><%= sdp_wrong_task.iteration %></td>
  <td><%= sdp_wrong_task.collab %></td>
  <!--   <td><%= sdp_wrong_task.balancei %></td>
    <td><%= sdp_wrong_task.balancer %></td>
    <td><%= sdp_wrong_task.balancea %></td> -->
</tr>

