<% date = "#{Date.today().year}-#{filled_number(Date.today().month,2)}" %>

<%= render(:file=>"tools/sdp_menu.erb") %>

<% form_remote_tag(:url=>{:action=>"import_monthly_tasks"},:update => "rv") do %>

  <!-- QR -->
  <%= label_tag(:qr_name, "QR task") %>
  <%= text_field_tag(:qr_name, "MEET - Comites Operationnels #{date}", {:size=>40}) %><br/>
  <%= label_tag(:qr_load, "Load") %>
  <%= text_field_tag(:qr_load, "1.5", {:size=>3}) %><br/>
  <ul class="checkbox-list">
    <% @ope.each do |qr| -%>
      <li><%= check_box_tag "qr[ids][]", qr.id, true -%> <%= qr.name -%></li>
    <% end -%>
  </ul>

  <!-- WP Responsable -->
  <%= label_tag(:resp_name, "WP Resp task") %>
  <%= text_field_tag(:resp_name, "WP Organisation #{date}", {:size=>40}) %><br/>
  <%= label_tag(:qr_load, "Load") %>
  <%= text_field_tag(:resp_load, "2", {:size=>3}) %><br/>
  <ul class="checkbox-list">
    <% @service_resp.each do |p| -%>
      <li><%= check_box_tag "resp[ids][]", p.id, true -%> <%= p.name -%></li>
    <% end -%>
  </ul>

  <!-- CP/DP -->
  <%= label_tag(:cpdp_name, "CP-DP task") %>
  <%= text_field_tag(:cpdp_name, "#{date} Project Management", {:size=>40}) %><br/>
  <%= label_tag(:cpdp_load, "Load") %>
  <%= text_field_tag(:cpdp_load, "2", {:size=>3}) %><br/>
  <ul class="checkbox-list">
    <% @cpdp_people.each do |p| -%>
      <li><%= check_box_tag "cpdp[ids][]", p.id, true -%> <%= p.name -%></li>
    <% end -%>
  </ul>

  <!-- SUBMIT -->
  <%= submit_tag("Generate") %>
<% end %>
<div id="rv">&nbsp;</div>

