<%= render(:file=>"tools/menu.erb") %>

<h2>Projects</h2>

<% form_tag :action=>:last_projects do %>
<%= select_tag(:filter, options_for_select([["Last Projects", "last"], ["M5 not passed","m5"]], session["last_projects_filter"])) %>
<%= submit_tag("filter") %>
<%end%>

<b><%=@projects.size %> projects</b><br/>
<br/>
PM in bold are PM from projects info, else from requests<br/>
<table class="grid sortable">
  <tr>
  <td>Creation</td>
  <td>Project</td>
  <td>DWS</td>
  <td>TODO</td>
  <td>PM</td>
  <td>QR</td>
  <td>Status</td>
  <td>WP</td>
  </tr>

  <%= render(:partial=>'last_project', :collection=>@projects, :as=>:p) %>
</table>
