<%= render(:file=>"tools/sdp_menu.erb") %>
<%= @error %>

<%
  return "No data. Please do an import." if not @operational_total
%>

<table>
  <tr>
  <td>Title</td>
  <td>Initial</td>
  <td>Remaining</td>
  <td>Balance</td>
  <td>Gain %</td>
  </tr>

  <%= render(:partial=>'phase', :collection=>@phases) %>
</table><br/>

<br/>

<% if @real_balance_and_provisions_diff %>
  <table>
    <tr>
      <td valign="top">
        <table>
          <tr><td>SDP Initial Gain:</td><td><%= @sdp_initial_balance_diff %></td></tr>
          <tr><td>Provision Gain:</td><td><%= @provisions_diff %> (PM+OM)</td></tr>
          <tr><td>Theorical m. Gain:</td><td><%= @theorical_diff %></td></tr>
          <tr style="font-weight:bold;"><td>Total Gain:</td><td><%= @real_balance_and_provisions_diff %></td></tr>
          <tr><td>Operational diff:</td><td><%= @operational_diff %> (nb of days for new requests minus OM)</td></tr>
          <tr><td>Not included rem diff:</td><td><%= @not_included_remaining_diff %></td></tr>
          <tr><td>Sold Gain:</td><td><%= @sold_diff %> (<%= (@sold_diff*421).to_i.pretty_number %> Euros)</td></tr>
        </table>
      </td>
      <td valign="top">
        <%= image_tag(@sdp_graph) if @sdp_graph%>
      </td>
    </tr>
  </table>
  <br/>
<% end %>

<table>
  <tr><td>SDP Initial Balance:</td><td><%= @sdp_initial_balance %>, real balance: <%=@real_balance%> (balance minus lacking  management), plus provisions: <b><%=@real_balance_and_provisions%></b> (total provisions to release: <%= @provisions_remaining_should_be %>)</td></tr>
	<tr><td>Operational:</td><td> <%= @remaining %> / <%= @operational_total-(@operational2011_10percent+@operational2012_10percent+@operational2013_10percent) %> /  <%= @operational_total %> (Remaining  / Total minus OM / including OM)</td></tr>
  <tr><td>Remaining time:</td><td> <%= @remaining_time %> months</td></tr>
  <tr><td>Constants:</td><td> <%= @nb_qr %> op persons, <%= @fte %> op FTE</td></tr>
  <tr><td>Theorical management remaining:</td><td> <%= @theorical_management %> (in SDP: <%= @remaining_management %>, diff: <%= @theorical_management - @remaining_management%>)</td></tr>
  <tr><td>Not included remaining:</td><td> <%= @not_included_remaining %> (diff between theorical management remaining and actual + (CI + QA real remaining provisions))</td></tr>
  <tr><td>Sold:</td><td> <%= @sold %> (<%= @sold ? (@sold*421).to_i.pretty_number : 0 %> Euros)</td></tr>
</table><br/>
<br/>

<b>Provisions:</b>
<table>
  <tr>
  <td>Title</td>
  <td>Initial</td>
  <td>should be</td>
  <td>Remaining</td>
  <td>should be</td>
  <td>Difference</td>
  </tr>

  <%= render(:partial=>'provision', :collection=>@provisions) %>
  <tr><td colspan="6" style="border-top: solid 1px black"></td></tr>

  <tr><td>Finances:</td><td> <%= @provisions_remaining_should_be %></td><td colspan="2">(PM+OM)</td></tr>
  <tr><td>Other provisions:</td><td> <%= @other_provisions %></td><td colspan="2">(CI+QA+Risks)</td></tr>
  <tr><td>Total provisions:</td><td> <%= @total_provisions %></td><td colspan="2">(PM+OM+CI+QA+Risks)</td></tr>
</table>
<% if @sdp_index_by_mail != nil and @sdp_index_by_mail == true %>
<br /> 
Si le graphique ne s'affiche pas correctement, vous pouvez y accéder à l'adresse suivante : <%= url_for :controller => "tools", :action => "sdp_graph_history", :only_path => false, :date =>Date.today.to_s("%Y-%m-%d %H:%M:%S") %>
<% end %>