<%= link_to('SDP Import',       {:controller=>'tools', :action=>'sdp_import'}, {:class=>'btnlnk'}) %>
<%= link_to('SDP Add',          {:controller=>'tools', :action=>'sdp_add'}, {:class=>'btnlnk'}) %>
<%= link_to('People',           {:controller=>'tools', :action=>'sdp_people'}, {:class=>'btnlnk'}) %>
<%= link_to('CHECK RMT SDP yes',{:controller=>'tools', :action=>'sdp_yes_check'}, {:class=>'btnlnk'}) %>
<%= link_to('CHECK RMT ended',  {:controller=>'tools', :action=>'requests_ended_check'}, {:class=>'btnlnk'}) %>
<%= link_to('CHECK RMT should be ended',  {:controller=>'tools', :action=>'requests_should_be_ended_check'}, {:class=>'btnlnk'}) %>
<!-- <%= link_to('CHECK Complexity', {:controller=>'tools', :action=>'complexity_check'}, {:class=>'btnlnk'}) %> -->
<br/>
<br/>

<table>
<tr>
<td>Title</td>
<td>Remaining</td>
<td>Balance</td>
<td>Gain %</td>
</tr>

<%= render(:partial=>'phase', :collection=>@phases) %>
</table><br/>

<br/>

<table>
<tr><td>Initial Balance:</td><td><%= @balancei %> (theorical real: <%=@real_balance%>, plus provisions: <%=@real_balance_and_provisions%>)</td></tr>
<tr><td>Operational remaining:</td><td> <%= @remaining %></td></tr>
<tr><td>Remaining time:</td><td> <%= @remaining_time %> months</td></tr>
<tr><td>Theorical remaining management:</td><td> <%= @theorical_management %></td></tr>
<tr><td>Operational Total:</td><td> <%= @operational_total %></td></tr>
<tr><td>Sold:</td><td> <%= @sold %></td></tr>
</table><br/>
<br/>

<b>Provisions:</b>
<table>
<tr>
<td>Title</td>
<td>Initial</td>
<td>Initial should be</td>
<td>Remaining</td>
<td>Remaining should be</td>
<td>Difference</td>
</tr>

<%= render(:partial=>'provision', :collection=>@provisions) %>
</table>

