<li id="q_<%=q.id%>">
  <b><%= my_simple_format(q.question) %></b>

  <%= radio_button_tag "question[#{q.id}]", :yes, false, {:onclick=>"$('risks_#{q.id}').hide();"} %> Yes
  <%= radio_button_tag "question[#{q.id}]", :no,  false, {:onclick=>"$('risks_#{q.id}').show();"} %> No

  <ol id="risks_<%=q.id%>" style="display:none;">
    <%= render(:partial=>'generic_risks/generic_risk_run', :collection=>q.generic_risks, :as=>:r) %>
  </ol>
</li>

