<%= link_to('Back', :controller=>'projects', :action=>'show', :id=>@project.id) %>
<h2>Running generic risk checklist for <%= @project.full_name %></h2>
Risks with probability set to 0 will not be imported<br/>

<% form_tag(:action=>'import') do %>
  <%= hidden_field_tag('id', @project.id) %>
  <ol>
    <%= render(:partial=>'question_run', :collection=>@questions, :as=>:q) %>
  </ol>
  <%= submit_tag('Import theses risks') %>
<% end %>
