<div id="m_<%=milestone.id%>" class="milestone<%=milestone.passed_style%>">
  <div class="milestone_name <%=milestone.timealert%>">
    <%= milestone.name %>
    <%= link_to(image_tag('edit.gif'), {:controller=>'milestones', :action=>'edit', :id=>milestone.id}) %>
    <%= link_to_remote(image_tag('delete.gif'), :url=>{:controller=>'milestones', :action=>'destroy', :id=>milestone.id}, :confirm=>"Sure ?", :success=>"$('m_#{milestone.id}').hide();") %>
  </div>
  <div class="milestone_comments status<%=milestone.status%>">
    <%= my_simple_format(milestone.comments) %>
    <%= milestone.date %><br/>
    <%= milestone.delay_in_words %>
  </div>

  <%= milestone.checklist_div(current_user) %>
  <% if milestone.name[0..1]!='QG' and milestone.status==2 and milestone.amendments.size == 0 %>
    <strong>No amend.</strong><br/>
  <% end %>
</div>
