<div id="m_<%=milestone.id%>" class="milestone<%=milestone.passed_style%>">
  <div class="milestone_name <%=milestone.timealert%>">
    <%= milestone.name %>
    <%= link_to(image_tag('edit.gif'), {:controller=>'milestones', :action=>'edit', :id=>milestone.id}) %>
    <%= link_to_remote(image_tag('delete.gif'), :url=>{:controller=>'milestones', :action=>'destroy', :id=>milestone.id}, :confirm=>"Sure ?", :success=>"$('m_#{milestone.id}').hide();") %>
  </div>
  <div class="milestone_comments status<%=milestone.status%>">
    <%= my_simple_format(milestone.comments) %>
    <%= milestone.date %><br/>
    <% if milestone.name[0..1]!='QG' and milestone.status==2 and milestone.amendments.size == 0 %>
      <strong>No amendment</strong><br/>
    <% end %>
  </div>

  <%
    items = milestone.checklist_items.select{|i| i.ctemplate.ctype!='folder'}
    non_zero = items.select{|i| i.status!=0}
  %>
  <% if items.size > 0 or current_user.has_role?('Admin') %>
    <div class="milestone_cl<%if non_zero.size==items.size%> done<%end%>" onclick="open_checklist(<%=milestone.id%>)">
    Checks: <%=non_zero.size%>/<%=items.size%>
    </div>
  <% end %>
</div>

