<p><%= label_tag 'name' %>
<%= text_field :ws, :name %></p>

<p><%= label_tag 'strenghts' %>
<%= text_area :ws, :strenghts, {:rows=>10, :cols=>100} %></p>

<p><%= label_tag 'weaknesses' %>
<%= text_area :ws, :weaknesses, {:rows=>10, :cols=>100} %></p>
