<input type="button" id="export" value="Export all" />
<SCRIPT language="Javascript">
	var chartsList = new Array();
</SCRIPT>
<% @charts_data.each do |chart_data| %>
	<h2><%= @titles_data[chart_data[0]].to_s %></h2>

	<!-- CREATE CHART DIV -->
	<div id="container_<%= chart_data[0].to_s %>" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

	<!-- FORMAT SERIES OF DATA IN JS -->
	<SCRIPT language="Javascript">
		// Series array for highchart (axe title and data)
		var series = new Array();
		var categories = new Array();
		var serieData = new Array();
		
		// Array of data
		<% chart_data[1].each do |row| %>
			serieData.push(<%= row[0].to_f.round(2).to_s %>);
			categories.push("<%= I18n.t('date.abbr_month_names')[row[1].to_i] %>-<%= row[2].to_s %>");
		<% end %>
		
		//series push
		var seriesObject = new Array();
		seriesObject["name"] = "<%= @titles_data[chart_data[0]].to_s %>";
		seriesObject["data"] = serieData;
		series.push(seriesObject);
		
		// CREATE CHART
		$(document).ready(function() {
			chartsList.push(generate_kpi_chart("container_<%= chart_data[0].to_s %>", "<%= @titles_data[chart_data[0]].to_s %>", categories, series));
	  });
	</SCRIPT>	

<% end %>
<SCRIPT language="Javascript">
	$(document).ready(function() {
		$("#export").click(function() {
			Highcharts.exportCharts(chartsList,{
				            type: 'image/png',
				            filename: 'kpi_export'
	  	});
		});
  });
</SCRIPT>