

<script type="text/javascript"> 
$(function () {
	
	// Consolidate fct
	function consolidate()
	{
		document.getElementById("consolidate_spider").value=1;
		document.forms["form_update_spider"].submit();
	}
	$("#consolidate_btn").click(function () {
		consolidate();
	});

	$("select").change(function () {
		calculAverage();
	});
	calculAverage();
});
</script>


<%= link_to "Back to project", :controller=>'projects', :action=>'show', :id=>@currentProjectId %>
<!-- *** -->
<!-- CURRENT SPIDER QUESTIONS -->
<!-- *** -->

<h2>Current Spider</h2>

<% if (@spider)%>
	<p>Creation Date : <%= @spider.created_at %></p>
	<% form_tag({:action => "update_spider"}, :method => "post", :id => 'form_update_spider') do -%>
	<input type="hidden" name="project_id" id="project_id" value="<%= @currentProjectId %>" />
	<input type="hidden" name="milestone_name_id" id="milestone_name_id" value="<%= @currentMilestoneNameId %>" />
	<input type="hidden" name="spider_id" id="spider_id" value="<%= @spider.id %>" />
	<input type="hidden" name="consolidate_spider" id="consolidate_spider" value="0"  />

<%
	i = 0
	# each PM type loop
	@questions.each {|p| 
		# PARAMS
		currentAxes = ""
		currentAxeId = ""
		chartName = "chartContainer_"+i.to_s
		pmTabId = i.to_s
		
		# Header and table creation
		concat "<p id='table_title_" + pmTabId + "'>"+ @pmType[p[0]].to_s + '</p><table class="pm_type_tab" id="pm_' + pmTabId + '" style="border: 1px solid black;width: 400px;">'	

		# each lines - questions
		j = 0
		p[1].each { |q| 
			
			# New Axes
			if(currentAxes != q.pm_type_axe.title)
				if(j!=0)
					concat "<tr><td>Average</td>"
					concat "<td id='" + pmTabId + "_axe_average_note_" + currentAxeId + "'></td>"
					concat "<td id='" + pmTabId + "_axe_average_ref_" + currentAxeId + "'></td><tr>"
					currentAxeId = q.pm_type_axe.id.to_s
				else
					currentAxeId = q.pm_type_axe.id.to_s
				end
				concat "<tr><td class='axe_tab' id='" + pmTabId + "_axe_" + q.pm_type_axe.id.to_s + "' colspan='3' style='border: 1px solid black;'>"+q.pm_type_axe.title+"</td></tr>"
				currentAxes = q.pm_type_axe.title
			end
			
			# Question line
			concat '<tr><td style="border: 1px solid blue;">' + q.text  + '</td>'
			# SELECT LIST - Question note
			concat '<td><select class="question_note_' + q.pm_type_axe.id.to_s + '" name="spiderquest[' + @questions_values[q.id].id.to_s + '][]" value="' + @questions_values[q.id].note.to_s + '">'
				# NI
				concat '<option '
				if (@questions_values[q.id].note.to_s == "NI") 
					concat 'selected ' 
				end
				concat 'value="NI">NI</option>'
				# 1
				concat '<option '
				if (@questions_values[q.id].note.to_s == "1") 
					concat 'selected ' 
				end
				concat 'value="1">1</option>'
				# 2
				concat '<option '
				if (@questions_values[q.id].note.to_s == "2") 
					concat 'selected ' 
				end
				concat 'value="2">2</option>'
				# 3
				concat '<option '
				if (@questions_values[q.id].note.to_s == "3") 
					concat 'selected ' 
				end
				concat 'value="3">3</option>'
			concat '</select></td>'
			
			# Question Reference
			concat '<td class="question_reference_' + q.pm_type_axe.id.to_s + '" style="border: 1px solid red;">'
			if(@questions_values[q.id].reference)
			  concat @questions_values[q.id].reference 
			else
			  concat "NI"
		 	end
			
			# End question line
			concat '</td></tr>'	
			j = j + 1
		}
		concat "<tr><td>Average</td>"
		concat "<td id='" + pmTabId + "_axe_average_note_" + currentAxeId + "'></td>"			
		concat "<td id='" + pmTabId + "_axe_average_ref_" + currentAxeId + "'></td><tr>"	
		concat '</table>'
		i = i + 1
		
		# Chart		
%>
		<div class="spider_chart" id="<%= chartName %>" style="width: 700px; height: 400px; margin: 0 auto"></div>
<%	
	}
%>
	<input type="submit" value="Save" />
	<input type="button" value="Consolidate" id="consolidate_btn" />
	<% end -%>	
<% else %>
	<p>No data.</p>
	<% form_tag({:action => "project_spider"}, :method => "get", :id => "form_create_spider") do -%>
		<input type="hidden" value="<%= @currentProjectId %>" name="project_id" />
		<input type="hidden" value="<%= @currentMilestoneNameId %>" name="milestone_name_id" />
		<input type="hidden" value="1" name="create_spider" />
		<input type="submit" value="Create new spider" />
	<% end -%>
<% end %>

<!-- *** -->
<!-- HISTORY -->
<!-- *** -->

<h2>History</h2>
<% @history.each { |s|
	spider_name = "Spider [created the "
	spider_name << s.created_at.to_s
	spider_name << "] [Consolidated the "
	spider_name << s.spider_consolidations.first().created_at.to_s
	spider_name << "]"
%>
	<%= link_to spider_name, :action => "project_spider_history", :spider_id => s.id %><br />

<% } %>
