<p><%= label_tag 'name' %>
<%= text_field :person, :name %></p>

<% if APP_CONFIG['use_virtual_people'] %>
  <p><%= label_tag 'is_virtual' %>
  <%= radio_button :person, :is_virtual, 0 %> No
  <%= radio_button :person, :is_virtual, 1 %> Yes (identified as a staffing need)</p>
<% else %>
  <%= hidden_field :person, :is_virtual, :value=>0 %>
<% end %>

<p><%= label_tag 'company' %>
<%= select(:person, :company_id, @companies.map {|u| [u.name,u.id]}) %></p>

<p><%= label_tag 'tbp_collab_id' %>
<%= select(:person, :tbp_collab_id, @tbp_collabs.map {|u| ["#{APP_CONFIG['tbp_auths'][u.account_index]['name']} - #{u.lastname} #{u.firstname}" , u.tbp_id]},:include_blank => true) %></p>

<% if APP_CONFIG['workloads_use_financial_monitoring'] %>
	<p><%= label_tag 'cost_profile' %>
	<%= select(:person, :cost_profile_id, @profiles) %></p>
<% end %>

<p><%= label_tag 'email' %>
<%= text_field :person, :email %></p>

<p><%= label_tag 'phone' %>
<%= text_field :person, :phone %></p>

<% if current_user.has_role?('Admin') %>

<p><%= label_tag 'rmt_user' %>
<%= text_field :person, :rmt_user %></p>

<p><%= label_tag 'trigram' %>
<%= text_field :person, :trigram %></p>

<p><%= label_tag 'sdp_id' %>
<%= text_field :person, :sdp_id %></p>

<p><%= label_tag 'login' %>
<%= text_field :person, :login %></p>

<p><%= label_tag 'Password' %>
<%= password_field :person, :password %></p>

<p><%= label_tag 'is_cp/dp' %>
<%= radio_button :person, :is_cpdp, 0 %> No
<%= radio_button :person, :is_cpdp, 1 %> Yes</p>

<p><%= label_tag 'is_transverse' %>
<%= radio_button :person, :is_transverse, 0 %> No
<%= radio_button :person, :is_transverse, 1 %> Yes (Will not appear in operational consolidations)</p>

<p><%= label_tag 'has_left' %>
<%= radio_button :person, :has_left, 0 %> No
<%= radio_button :person, :has_left, 1 %> Yes (Account will be suspended)</p>

<p><%= label_tag 'is_supervisor' %>
<%= radio_button :person, :is_supervisor, 0 %> No
<%= radio_button :person, :is_supervisor, 1 %> Yes (Is customer)</p>

<% @roles.each { |r| %>
<p><%= label_tag r.name %>
<%= radio_button :role, r.name.to_sym, 0, {:checked=>!@person.has_role?(r.name)} %> No
<%= radio_button :role, r.name.to_sym, 1, {:checked=>@person.has_role?(r.name)} %> Yes
</p>
<% } %>

<% end %>
