<li style="<%= person.css_style %>">
<% if current_user.has_role?('Admin') %>
<%= link_to(image_tag('edit.gif'), {:controller=>'people', :action=>'edit', :id=>person.id}) %>
<% end %>
<% if person.company %><%= person.company.name %><% else %>???<% end %>
<%= link_to(person.name, :action=>'show', :id=>person.id) %>

<%
#if current_user.has_role?('Admin')
#  nb = person.active_requests.size
#  l  = person.load
#  a = (l/nb).to_s[0..3]
#end
%>


<% if person.is_supervisor==1 %>
  <b>supervisor</b>
<% elsif false #current_user.has_role?('Admin') %>
  <b>nb</b>: <%= nb %> / <%= person.requests.size %>
  <b>load</b>: <%= l %>
  <b>average</b>: <%= a %>
<% end %>
<% if person.is_virtual==1%>
  <strong>virtual</strong>
<% end %>
<% if current_user.has_role?('Admin') %>
  <%= link_to(image_tag('icon_workload.gif'), :controller=>'workloads', :person_id=>person.id) %>
  <% if (not person.login or person.login=='')%>
    <strong>no login</strong>
  <% end %>
  <% if (not person.trigram or person.trigram=='')%>
    <strong>no trigram</strong>
  <% end %>
<% end %>

</li>
