<span class="<%= request.sanitized_status %>">
<a href="http://toulouse.sqli.com/EMN/view.php?id=<%= request.request_id %>"><%= request.request_id %></a>
<%= request.workstream %>
<b><%= request.project_name %></b>
<%= request.summary %>
<b><%= request.work_package %></b>
<%= request.assigned_to %>
<%= request.status %>
<b>start:</b> <%= request.start_date %>
<b>end:</b> <%= request.foreseen_end_date_str %>

</span>
<br/>
