<li id="template_<%=ctemplate.id%>">
  <%= link_to(ctemplate.title, :action=>'edit', :id=>ctemplate.id) %>
  <a href="#" title="<%= ctemplate.milestone_names.map {|m| m.title}.join(', ') %>">M</a>
  <a href="#" title="<%= ctemplate.workpackages.map {|m| m.shortname}.join(', ') %>">WP</a>
  <%= link_to_remote('delete', :url=>{:action=>'destroy', :id=>ctemplate.id}, :success=>"$('template_#{ctemplate.id}').hide()") %>
</li>
<ul>
  <%= render(:partial=>"ctemplate", :collection=>ctemplate.children) %>
</ul>

