<p><%= label_tag(:name) %>
<%= text_field(:task, :name) %></p>

<p><%= label_tag(:start_date) %>
<%= text_field(:task, :start_date) %></p>

<p><%= label_tag(:duration_in_day) %>
<%= text_field(:task, :duration_in_day) %></p>
