<%= render(:file=>'topics/header') %>
<%= render(:partial=>'topic', :collection=>@topics) %>
</table>
<br/>
<br/>
<%= link_to_function('Display closed topics', '$("closed").toggle()') %>
<div id="closed" style="display:none;">
<%= render(:file=>'topics/header') %>
<%= render(:partial=>'topic', :collection=>@topics_closed) %>
</table>
</div>

