<tr id="a_<%=topic.id%>" class="topic_<%=topic.done%> <%= cycle('even', 'odd') %>">

<td><%= topic.id %></td>

<td>
<% if topic.person %><%= topic.person.name %><% end %>
</td>

<td>
<% if topic.private==1 %><%=image_tag('private.gif')%><% end %>
<%= my_simple_format(topic.topic) %>
</td>

<td>
<% if topic.done==1 %>
<%= topic.done_date.to_date %>
(<%= time_ago_in_words(topic.done_date) %>)
<% else %>
<%= topic.created_at.to_date %>
(<%= time_ago_in_words(topic.created_at) %>)
<% end %>
</td>

<td>
<%= my_simple_format(topic.decision) %>
</td>

<td>
<% if topic.sqli_action == 1 %>
yes
<% end %>

</td>

<td>
<%= link_to(image_tag('edit.gif'), {:controller=>'topics', :action=>'edit', :id=>topic.id}) %>
<% if current_user.has_role?('Admin') %>
<%= link_to_remote(image_tag('delete.gif'), :url=>{:controller=>'topics', :action=>'destroy', :id=>topic.id}, :confirm=>"You should change the topic status to 'abandonned', are you sure you want to delete this topic ?", :success=>"$('a_#{topic.id}').hide();") %>
<% end %>
</td>
</tr>

