<%
  remaining     = @workload.line_sums[wl_line.id][:remaining].to_f
  consumed      = @workload.line_sums[wl_line.id][:consumed].to_f
  planned_total = @workload.line_sums[wl_line.id][:sums].to_f
  error = false
  error_line    = (wl_line.wl_type == 100 or wl_line.wl_type == 200 or wl_line.wl_type == 500)
  error = 1 if error_line and (planned_total/remaining < 0.9)
  error = 2 if error_line and (planned_total/remaining > 1.1)
  #error = 3 if error_line and (planned_total-remaining).abs > 3
%>
<tr id="wl_line_<%= wl_line.id %>" class="wl_line_<%= wl_line.wl_type_by_project %>"<% if remaining==0.0 and wl_line.request and wl_line.request.sdp=="Yes"%> style="color:grey; font-style:italic;"<% end %>>
  <!-- Action destroy -->
	<td align='center'>
    <% if wl_line.wl_type != 500 %>
    <%= link_to_remote(image_tag("delete.gif"),
     {:url=>{:action=>'destroy_line', :id=>wl_line.id},
     :confirm=>"Are you sure ?\nYou will lose all workload related to this line.",
     :failure=>"alert('Error:' + request.responseText);"},
     {:class=>"delete"}) %>
     <% end %>
  </td>

	<!-- Request link -->
  <td align='center'>
    <% if wl_line.request and wl_line.request.project %>
      <%= link_to(image_tag("link.gif"), :controller=>'projects', :action=>'show', :id=>wl_line.request.project.id) %>
    <% end %>
    <!-- SDP Alert -->
    <%= image_tag('alert.gif', :title=>'no sdp task', :width=>'14', :height=>'14') if (wl_line.wl_type == 200 and wl_line.sdp_tasks.size == 0) or (wl_line.wl_type == 500 and wl_line.alert_sdp_task) %>
    <!-- Left Alert -->
    <%= image_tag('exit.png', :title=>'user has left the project', :width=>'15', :height=>'15') if wl_line.person.has_left? %>
  </td>

	<!-- Edit btn / Alert / Backup msg / Person name -->
  <td>
    <!-- highlight function -->
    <%= link_to_function(image_tag('bulb.gif'), "highlight_wl_line(#{wl_line.id}, '#FF0')") %>
    <!-- Backup -->
    <% if wl_line.parent_line != nil %>[BACKUP]<% end %>
    <!-- Name -->
    <%= wl_line.display_name(:with_tags_names=>true, :with_person_name=>true, :with_project_name=>false, :with_person_url=>true) %>
    <!-- QS and Spider Previsionals -->
    <% if (wl_line.wl_type == 110 and wl_line.project) %>
      (QS wkld prev : <%= (wl_line.project.calcul_qs_previsional.to_f * APP_CONFIG['qs_load'].to_f).to_s %>)
    <% elsif wl_line.wl_type == 120 and wl_line.project %>
      (Spiders wkld prev : <%= (wl_line.project.calcul_spider_previsional.to_f * APP_CONFIG['spider_load'].to_f).to_s %>)
    <% end %>
  </td>

	<!-- Request -->
  <% if APP_CONFIG['workloads_display_status_column'] %>
  <td align="center">
		<% if wl_line.request %><%= wl_line.request.status %><% end %>
	</td>
  <% end %>

	<!-- Sum if wl_type != 110/120 (not qr_qwr wl line) -->
	<% if wl_line.wl_type != 110 and wl_line.wl_type != 120 %>
		<td class="wl_case"><%= @workload.line_sums[wl_line.id][:init] %></td>
    <% if APP_CONFIG['workloads_display_consumed_column'] %>
      <td class="wl_case"><%= consumed %></td>
    <% end %>
    <% gain_class = "wl_case" %>
    <% gain_class = "wlerror" if @workload.line_sums[wl_line.id][:balance] < 0 %>
    <% gain_class = "wlpositive" if @workload.line_sums[wl_line.id][:balance] > 0 %>
    <td class=<%= gain_class %>><%= @workload.line_sums[wl_line.id][:balance] %></td>
    <td class="wl_case <% if @workload.line_sums[wl_line.id][:init]=='no sdp' %> no_sdp<%end%>"><%= remaining %></td>
  <% else %>
    <td colspan="3"></td>
  <% end %>
	<td id="pltotal_<%= wl_line.id %>" class="wl_total"><%= planned_total %></td>
  
  <% if APP_CONFIG['workloads_display_diff_between_consumed_and_planned_column'] %>
  <td id="diff_planned_remaining_<%= wl_line.id %>" <% if error %> class="wlerror<%=error%>"<% else %> class="wl_case"<% end %>><%= planned_total - remaining %></td>
  <% end %>
  
  <% if APP_CONFIG['workloads_display_total_column'] %>
    <td id="ltotal_<%= wl_line.id %>" class="wl_case"><%= wl_line.sum %></td>
  <% end %>

	<!-- Values by week -->
	<%
  for week in @workload.wl_weeks
    milestones = wl_line.milestones(week)
    m_names    = milestones.map { |m| "<b>#{m.name}</b>: #{m.date}"}.join("<br/>")
	%>
    <td title="<%= wl_line.title %>" class="wl_case"<% if milestones.size > 0 %> onmouseover="display_milestones(event,'<%=m_names%>');" onmouseout="hide_milestones();"<% end %>>
    <%
      wlload = wl_line.get_load_by_week(week)
      wlload = wlload == 0.0 ? '' : wlload
    %>

    <% if wl_line.wl_type == 500 %> 
      <%= wlload %>
    <% else %>
      <%= text_field_tag('t', wlload, :id=>"#{wl_line.id}_#{week}", :class=>'wl_textfield'+(milestones.size > 0 ? ' workload_milestone' : ''), :onchange=>"wl_save_value('#{wl_line.id}', '#{week}', '1');return false;") %>
    <% end %>

    </td>
<% end %>
</tr>
