<script type="text/javascript" src="/javascripts/jscolor.js" ></script>
<div id="workload" class="workload">

  <div id="wl_line_add_form" class="popup" style="display:none;">
    <%= link_to_function(image_tag("close.png", :style=>"float: right;margin-top:20px;"),"$('wl_line_add_form').fade({duration:0.2});") %><br/>
    <div class="title">Add a person to <%= @workload.names %></div>
    <% form_remote_tag(:url=>{:action => "add_a_person"}) do %>
      <%= select_tag('person_id', options_for_select(@people)) %>
      <%= hidden_field_tag('project_id', @workload.project_ids) %>
      <%= submit_tag("Add") %>
    <% end %>
  </div>

  <%#= link_to_function(image_tag('toggle.gif'), 'hide_workload_menu()', :id=>'wmenu_close') %>
  <!--<div id="wmenu" <%#if session['wmenu_hidden'].to_s=='true' %>style='display:none;'<%# end %>>-->
  <!--</div>-->
  <br/>

  <% if @workload.other_lines_count > 0 %>
    <div id="wmsg" class="workload_msg">
      <%= @workload.other_days_count %> days on <%= @workload.other_lines_count %> lines
      are not summed as their are lines ouside project scope but are associated
      to a selected project. If you do not wish to see this message do not associate a project
      to a line not related to your project. <%= link_to_function("hide","$('wmsg').hide()") %>
    </div>
  <% end %>

  <b>
  <%= @workload.nb_current_lines %> lines
  <% if @workload.nb_hidden_lines > 0 %><strong><%end%>
  (<%= @workload.nb_hidden_lines %> hidden)
  <% if @workload.nb_hidden_lines > 0 %></strong><%end%>

  <% if session['workload_persons_iterations'] != [] or session['workload_person_project_ids'] != [] or session['workload_companies_ids'] != [] %>
  <strong>filtered</strong><%end%>
  </b>


  <%= check_box_tag('hide_lines_with_no_workload', true, session['workload_hide_lines_with_no_workload'].to_s=='true', {:onclick=>'hide_lines_with_no_workload()'}) %> hide lines with no workload in next 8 weeks
  <%= check_box_tag('group_by_person', true, session['group_by_person'].to_s=='true', {:onclick=>'group_by_person()'}) %> group by person

  <%= link_to('XML Export', {:action => 'xml_export'}, {:class=>'btnlnk'}) %>
  <br/>

  <!-- WORKLOAD GENERAL -->
  <h2><%= @workload.names %> (<%= @workload.companies %>)</h2>
  <table id="workload_table">
  <thead>
    <% if session['workload_project_ids'].size != 0 %>
      <% @workload.projects.each do |p| %>
        <% color = "#ABC" %>
        <% if p.planning %>
          <% if p.planning.tasks %>
            <% p.planning.tasks.each do |t| %>
              <tr>
                <% @tasks_header += 1 %>
                <% this_color = color %>
                <% this_color = t.color if t.color%>
                <% @task_id = "task_"+t.id.to_s %>
                <th id="<%=@task_id%>" style="background: <%=this_color%>;" class="planning_task"></th>
                <th id="<%=@task_id%>" style="background: <%=this_color%>;" class="planning_task"></th>
                <th id="<%=@task_id%>" style="background: <%=this_color%>;" class="wl_names planning_task">[<%= p.name %>] <%= t.name %></th>
                <% if APP_CONFIG['workloads_display_status_column'] %>
                  <th class="planning_task"></th>
                <% end %>
                <th class="planning_task">
                <% if current_user.is_cpdp == 1 or current_user.has_role?('Admin')%>
                  <input id="color_<%=@task_id%>" class="color_picker" value="<%=this_color[1..6]%>" onchange="change_task_color(this,'<%=@task_id%>')">
                <% end %>
                </th>

                <% if APP_CONFIG['workloads_display_consumed_column'] %>
                  <th class="planning_task"></th>
                <% end %>
                <th class="planning_task"></th>
                <th class="planning_task"></th>
                <th class="planning_task"></th>
                <% if APP_CONFIG['workloads_display_diff_between_consumed_and_planned_column'] %>
                  <th class="planning_task"></th>
                <% end %>
                <% if APP_CONFIG['workloads_display_total_column'] %>
                  <th class="planning_task"></th>
                <% end %>
                <%
                  c = []
                  @workload.planning_tasks.each do |pt|
                    c << pt if pt[:task]==t
                  end
                %>
                <% @start_date_condition = "not detected" %>
                <% nb_cells = c.select{|y|y[:week]==true}.length %>
                <%= render(:partial=>"wl_task_planning", :collection=>c, :locals=>{:color=>this_color, :nb_cells=>nb_cells}) %>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      <%  end %>
    <% end %>
    <tr>
    <th></th>
    <th></th>
    <th class="wl_names"></th>
    <% if APP_CONFIG['workloads_display_status_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <% if APP_CONFIG['workloads_display_consumed_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
    <% if APP_CONFIG['workloads_display_diff_between_consumed_and_planned_column'] %>
    <th></th>
    <% end %>
    <% if APP_CONFIG['workloads_display_total_column'] %>
    <th></th>
    <% end %>
    <%= render(:partial=>"wl_head", :collection=>@workload.months) %>
    </tr>

    <tr>
    <th></th>
    <th></th>
    <th class="wl_names"></th>
    <% if APP_CONFIG['workloads_display_status_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <% if APP_CONFIG['workloads_display_consumed_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
    <% if APP_CONFIG['workloads_display_diff_between_consumed_and_planned_column'] %>
    <th></th>
    <% end %>
    <% if APP_CONFIG['workloads_display_total_column'] %>
    <th></th>
    <% end %>
    <%= render(:partial=>"wl_head", :collection=>@workload.weeks) %>
    </tr>

    <tr>
    <th></th>
    <th></th>
    <th class="wl_names"></th>
    <% if APP_CONFIG['workloads_display_status_column'] %>
    <th style="min-width:100px;">Status</th>
    <% end %>
    <th style="min-width:45px;">Init.</th>
    <% if APP_CONFIG['workloads_display_consumed_column'] %>
    <th style="min-width:45px;">Cons.</th>
    <% end %>
    <th style="min-width:45px;">Gain</th>
    <th style="min-width:45px;">Rem.</th>
    <th class="wl_total" style="min-width:45px;">Planned</th>
    <% if APP_CONFIG['workloads_display_diff_between_consumed_and_planned_column'] %>
    <th style="min-width:45px;">Diff</th>
    <% end %>
    <% if APP_CONFIG['workloads_display_total_column'] %>
    <th style="min-width:45px;">Total</th>
    <% end %>
    <%= render(:partial=>"wl_head", :collection=>@workload.days) %>
    </tr>

    <tr class="wl_opens">
    <th></th>
    <th></th>
    <th class="wl_names">Nb of worked days</th>
    <% if APP_CONFIG['workloads_display_status_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <% if APP_CONFIG['workloads_display_consumed_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
    <% if APP_CONFIG['workloads_display_diff_between_consumed_and_planned_column'] %>
    <th></th>
    <% end %>
    <% if APP_CONFIG['workloads_display_total_column'] %>
    <th></th>
    <% end %>
    <%= render(:partial=>"wl_head", :collection=>@workload.opens) %>
    </tr>

    <tr class="wl_total">
    <th></th>
    <th></th>
    <th class="wl_names">Total</th>
    <% if APP_CONFIG['workloads_display_status_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <% if APP_CONFIG['workloads_display_consumed_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
    <% if APP_CONFIG['workloads_display_diff_between_consumed_and_planned_column'] %>
    <th></th>
    <% end %>
    <% if APP_CONFIG['workloads_display_total_column'] %>
    <th></th>
    <% end %>
    <%= render(:partial=>"wl_ctotal", :collection=>@workload.ctotals) %>
    </tr>

    <tr class="wl_total">
    <th></th>
    <th></th>
    <th class="wl_names">Sums / Percents</th>
    <% if APP_CONFIG['workloads_display_status_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <% if APP_CONFIG['workloads_display_consumed_column'] %>
    <th id="consumed_total"><%= @workload.sdp_consumed_total %></th>
    <% end %>
    <th></th>
    <th><%= @workload.sdp_remaining_total %></th>
    <th id="planned_total"><%= @workload.planned_total %></th>
    <% if APP_CONFIG['workloads_display_diff_between_consumed_and_planned_column'] %>
    <th id="diff_planned_remaining"><%= @workload.planned_total - @workload.sdp_remaining_total %></th>
    <% end %>
    <% if APP_CONFIG['workloads_display_total_column'] %>
    <th id="total"><%= @workload.total %></th>
    <% end %>
    <%= render(:partial=>"wl_ctotal", :collection=>@workload.percents) %>
    </tr>

    <tr class="wl_total">
    <th></th>
    <th></th>
    <th class="wl_names">Availability (Sum for the 2 next months)</th>
    <% if APP_CONFIG['workloads_display_status_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <% if APP_CONFIG['workloads_display_consumed_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <th></th>
    <th title="Availablity for the 2 next months" id="availability_total"><%= @workload.sum_availability %></th>
    <% if APP_CONFIG['workloads_display_diff_between_consumed_and_planned_column'] %>
    <th></th>
    <% end %>
    <% if APP_CONFIG['workloads_display_total_column'] %>
    <th></th>
    <% end %>
    <%= render(:partial=>"wl_ctotal", :collection=>@workload.availability) %>
    </tr>
  </thead>

  <tbody class="scrollContent">
    <%= render(:partial=>"wl_line", :collection=>@workload.displayed_lines) %>
  </tbody>

  </table>

  <!-- CHART -->
  <div style="position:absolute;"><%= image_tag(@chart_url) if @chart_url %></div>

</div>
<br/>