<script src="/javascripts/project_workload.js" type="text/javascript"></script>

<%
  if session['workload_project_ids'] and session['workload_project_ids'].size > 0 and session['workload_companies_ids'] and session['workload_companies_ids'].size > 0
    display = true
  else
    display = false
  end
%>

<%= render(:partial=>'workloads/last_sdp_update') %>
<%= image_tag('loading.gif', :id=>'loading', :style=>"display:none;position:fixed;left:600px;") %>

<%= link_to_function('Projects filter', "Effect.toggle('filters','blind', {duration: 0.5});",{:class=>"btnlnk"}) %>
<%= link_to('Switch to person view', {:controller=>'workloads'}, {:class=>'btnlnk'}) %>
<% if display and session['workload_project_ids'].size == 1 %>
  <%= link_to_function('Add a person', "wl_add_line()", :class=>"btnlnk") %>
<% else %>
  <a style="color:#FA5858">(Add a person is disabled when no project or more than one project is selected)</a>
<% end %>
<!--<div id="edit_line"></div>-->

<div id="filters" style="display:none;border:1px solid #DDD;margin-top:25px;background: #EEE;">
<form action="/project_workloads/index/filter_projects_companies" name="filter_projects_companies" method="post">
<!-- <% form_tag(:action=>'index') do %> -->
<table>
  <tr valign="top">
    <td>
      <b><a href="#" onclick="check_uncheck(this,'project_ids[]')" >Projects</a></b><br/>
      <% if @projects %>
        <% for p in @projects %>
          <%= check_box_tag('project_ids[]', p.id, session['workload_project_ids'].include?(p.id.to_s)) %><%= "#{p.name} (#{p.wl_lines.size})"%><br/>
        <% end %>
      <% end %>
    </td>
    <td>
      <b><a href="#" onclick="check_uncheck(this,'companies_ids[]')" >Companies</a></b><br/>
      <% @companies= Company.find(:all) %>
      <% if @companies %>
        <% for c in @companies %>
          <% company_size = Person.find(:all, :conditions=>["company_id=?",c.id]).size %>
          <%= check_box_tag('companies_ids[]', c.id, session['workload_companies_ids'].include?(c.id.to_s)) %><%= "#{c.name} (#{company_size})"%><br/>
        <% end %>
      <% end %>
    </td>
    <td>
      <b><a href="#" onclick="check_uncheck(this,'tags_ids[]')" >Tags</a></b><br/>
      <% @tags= Tag.find(:all) %>
      <% if @tags %>
        <% for t in @tags %>
          <% tag_size = LineTag.find(:all, :conditions=>["tag_id=?",t.id]).size %>
          <%= check_box_tag('tags_ids[]', t.id, session['workload_tags'].include?(t.id.to_s)) %><%= "#{t.name} (#{tag_size})"%><br/>
        <% end %>
      <% end %>
    </td>
    <td>
      <b><a href="#" onclick="check_uncheck(this,'iterations_ids[]')" >Iterations</a></b><br/><br/>
      <% @iterations= Iteration.find(:all, :order=>:project_code) %>
      <% if @iterations %>
      <% previous_project = @iterations.first.project_code %>
      <b><a href="#" onclick="check_uncheck_iterations(this,'iterations_<%= previous_project %>')" ><%= @iterations.first.project.name %></a></b><br/><br/>
        <% for i in @iterations %>
          <% actual_project = i.project_code %>
          <% if actual_project!=previous_project %>
            <br/><b><a href="#" onclick="check_uncheck_iterations(this,'iterations_<%= actual_project %>')" ><%= i.project.name %></a></b><br/>
            <% previous_project = actual_project %>
          <% end %>
          <% checked = session['workload_iterations'].include?({:name=>i.name, :project_code=>i.project_code, :project_id=>i.project.id}) %>
          <input id="iterations_<%= actual_project %>" type="checkbox" value="<%= i.id%>" name="iterations_ids[]" <% if checked %>checked="true"<%end%>><%= "#{i.name}"%></input><br/>

        <% end %>
      <% end %>
    </td>
    
  </tr>
</table>
<button class="btnlnk" type="button" id="submit_filter" onclick="verify_filter(this)">Filter</button>
<% end %>
</div>
<br/>

<% if display %>
  <% @tasks_header = 0 %>
  <%= render(:partial=>"workload") %>
  <script>
    set_fixed_header(<%=APP_CONFIG['workloads_max_height'] + ( @tasks_header * 22) %>);
    new Draggable(wl_line_add_form); // does not mix well with scrollbar
  </script>
<% end %>
