<p><%= label_tag 'source_identifier' %>
<%= text_field :req, :source_identifier %></p>

<p><%= label_tag 'requirement' %>
<%= text_area :req, :description, :rows=>3 %></p>

<p><%= label_tag 'long description' %>
<%= text_area :req, :long_description, :rows=>3 %></p>

<p><%= label_tag 'compliance means' %>
<%= text_area :req, :compliance_means, :rows=>3 %></p>

<p><%= label_tag 'short_name' %>
<%= text_field :req, :short_name %></p>

<p><%= label_tag 'source' %>
<%= text_field :req, :source_name %></p>

<p><%= label_tag 'Requirement date' %>
<%= text_field :req, :source_date %></p>

<p><%= label_tag 'category' %>
<%= select(:req, :req_category_id, @cats, {:prompt => 'Select a category...'}) %></p>

<p><%= label_tag 'wave' %>
<%= select(:req, :req_wave_id, @waves, {:prompt => 'Select a wave...'}) %></p>

<p><%= label_tag 'status' %>
<%= select(:req, :status, Requirement::Req_Status) %></p>

<p><%= label_tag 'priority' %>
<%= select(:req, :priority, Requirement::Req_Priority) %></p>

<p><%= label_tag 'impact' %>
<%= select(:req, :impact, Requirement::Req_Impact) %></p>

<p><%= label_tag 'is_covered' %>
<% is_covered_list = APP_CONFIG['requirement_is_covered_list'].split(',') %>
<%= select(:req, :is_covered, is_covered_list) %></p>

<p><%= label_tag 'How the requirement is covered' %>
<%= text_area :req, :cover_detail, :rows=>3 %>

<p><%= label_tag 'Last review date' %>
<%= date_select :req, :last_review %></p>