<tr class="<%= req.css_class %>">
<td width="30"><%= req.id %></td>
<td><%= req.version %></td>
<td width="80"><%= req.source_identifier %></td>
<td><b><%= req.short_name %></b></td>
<td>
  <%= req.description %><br/>
  <% if req.req_impacts.size > 0 %>
    <b>Impacts:</b><br/>
    <%= render(:partial=>'req_impacts/simple_impact', :collection=>req.req_impacts, :as=>:i) %>
  <% end %>
</td>
<td width="80"><%= my_date(req.source_date) %></i></td>
<td><%= req.priority_name %></td>
<td><%= req.status_name %></td>
<td width="80"><%= my_date(req.status_date) %></i></td>
<td><%= req.req_category.label %></td>
<td><%= req.req_wave.name %></td>
<td><i><%= req.source_name %></i></td>
<td width="80"><%= req.person.short_name %></td>
<td><%= req.is_covered %></td>
<td><%= req.cover_detail %></td>
<td><%= req.last_review %></td>
<td><%= link_to(image_tag('edit.gif'), {:controller=>'requirements', :action=>'edit', :id=>req.id}) %></td>
<td><%= link_to(image_tag('add.png', :title=>"Add an impact"), {:controller=>'req_impacts', :action=>'new', :id=>req.id}) %></td>
</tr>

