<% if self_backup %>
	<tr id="self_backup_<%= b.id.to_s %>">
		<td>DATE</td>
		<td><%= b.backup.name %></td>
		<td><%= text_area_tag "self_backup_comment_"+b.id.to_s, b.comment, :size => "40x1", :class=>"backup_comment", :onchange=>"update_backup_comment("+b.id.to_s+", true);" %></td>
		<td><%= submit_tag "Remove", :type=>'button', :onclick=>'delete_wl_backup("'+b.id.to_s+'", true);', :confirm=>"Are you sure ?" %></td>
	</tr>
<% else %>
	<tr id="backup_<%= b.id.to_s %>">
		<td>DATE</td>
		<td><%= b.person.name %></td>
		<td><%= text_area_tag "backup_comment_"+b.id.to_s, b.comment, :size => "40x1", :class=>"backup_comment", :onchange=>"update_backup_comment("+b.id.to_s+", false);" %></td>
		<td><%= submit_tag "Remove", :type=>'button', :onclick=>'delete_wl_backup("'+b.id.to_s+'", false);', :confirm=>"Are you sure ?" %></td>
	</tr>
<% end %>
