<tr id="wl_line_<%=line.id%>"
  <%
    if @current!=line.person_id
      @current = line.person_id
  %>
  style="background-color:#FFA;"
  <% end %>
>
<td><%= line.project_name %></td>
<td><%= line.person.name if line.person%></td>
<td align="right"<% if line.planned_sum > 0 %> style="background-color:#FAA;"<%end%>><%= line.planned_sum %></td>
<td align="right"><%= line.sum %></td>
<td>
  <%= link_to_remote(image_tag('delete.gif', :alt=>'Delete this line'),
   {:url=>{:action=>'destroy_line', :id=>line.id},
   :confirm=>"Are you sure ?\nYou will lose all workload related to this line.",
   :success=>"$('wl_line_#{line.id}').fade();",
   :failure=>"alert('Error:' + request.responseText);"},
   {:class=>"delete"}) %>
</td>
<td><%= line.name %></td>
</tr>
