<tr<% if conso_line.person.is_virtual==1 %> style="background-color:#FDA"<% end %>>
  <td width="200">
    <a href='/workloads/?person_id=<%= conso_line.person.id %>'>
      <%= conso_line.person.name %>
    <a>
  </td>
  <td align="center"><%= conso_line.remain_to_plan_days %></td>
  <td align="center"><%= conso_line.next_month_percents %>%</td>
  <td align="center" width="80"><%= conso_line.three_next_months_percents %>% (<%= conso_line.three_next_months_percents-conso_line.next_month_percents %>)</td>
  <td align="center"><%= conso_line.sum_availability.round %></td>
	<% indexWeek = 0 %>
	<% for w in conso_line.percents %>
		<%
			w_avail_value = conso_line.availability[indexWeek][:value].to_f.round
			w_avail_css = "availability x"+w_avail_value.to_s
		%>
    <% if APP_CONFIG['consolidation_alert_on_overworkload'] %>
      <% if conso_line.percents[indexWeek][:value] > 100 %>
        <td style="background-color:red"><%=conso_line.percents[indexWeek][:display]%></td>
      <% else %>
        <td class="<%= w_avail_css %>"><%= w_avail_value if w_avail_value > 0 %></td>
      <% end %>
    <% else %>
      <td class="<%= w_avail_css %>"><%= w[:display] %></td>
		<% end %>
    <% indexWeek += 1 %>
	<% end %>
</tr>
