<tr>
  <td><%= short_name(conso_line.person.name) %></td>
  <td align="center"><%= conso_line.remain_to_plan_days %></td>
  <td align="center"><%= conso_line.next_month_percents %>%</td>
  <td align="center"><%= conso_line.three_next_months_percents %>% (<%= conso_line.three_next_months_percents-conso_line.next_month_percents %>)</td>

  <% for w in conso_line.percents %>
      <td><%= w[:value] %></td>
  <% end %>
</tr>

