<td>
	<table class="backup_list_person" id="backup_<%= l.id.to_s %>">
		<% l.wl_backups.each do |b| %>
			<tr id="wl_backup_id_<%= b.id.to_s %>" >
				<td><%= submit_tag "x", :type=>'button', :onclick=>'delete_wl_backup(' + b.id.to_s + ', false);', :confirm=>"Are you sure ?" %>
				<%= b.person.name %></td><td>
				<%= text_area_tag "backup_comment_"+b.id.to_s, b.comment, :size => "40x1", :class=>"backup_comment", :onchange=>"update_backup_comment("+b.id.to_s+");" %></td>
			</tr>
		<% end %>
	</table>
</td>
<td>
<%= submit_tag "Add backup", :type=>'button', :onclick=>'line_duplicate_add_user("'+l.id.to_s+'", "'+l.name.to_s+'");' %>
</td>
