<div id="edit_line" class="popup" style="display:none;">
<%= link_to_function(image_tag("close.png", :style=>"float: right;margin-top:20px;"),"$('edit_line').fade({duration:0.2});") %><br/>
<div class="title">Edit line</div>
<% if edit_line.request_id %>
  Request id: <%= edit_line.request_id %><br/>
  <%= edit_line.request.workload_name %><br/>
  <%= link_to_function('Copy this name', "$('name_text_input').value='#{escape_javascript(edit_line.request.workload_name)}'") %><br/>
  <br/>
<% end %>
<% remote_form_for :wl_line, :url => {:controller=>"workloads", :action => "edit_line", :id=>edit_line.id } do |f| %>
  <%= f.label(:name, "Name") %>
  <%= f.text_area(:name, {:id=>"name_text_input",:cols=>60, :rows=>3})%><br/>
  <%= f.label(:wl_type, "Type") %>
  <%= f.select(:wl_type, [["Request from RMT", 100], ["Other (not in RMT)", 200], ["Holidays", 300], ["Not related to EISQ", 400]])%><br/>
  <%= f.label(:edit, "&nbsp;") %>
  <%= submit_tag "Edit" %>
<% end %>
<br/>
<%= link_to_function('Options',"$('options').toggle();") %>

<div id="options" style="display:none;">
  <div class="title">Link to a request</div>
  <% form_remote_tag(:url=>{:action => "link_to_request", :id=>edit_line.id}) do %>
    <%= label_tag(:request_id, "Request #") %>
    <%= text_field_tag(:request_id, nil, {:size=>5}) %>
    <%= submit_tag("Link") %>
  <% end %>
  <%= label_tag(:unlink, "&nbsp;") %>
  <%= link_to_remote('Unlink',
   {:url=>{:action=>'unlink_request', :id=>edit_line.id},
   :confirm=>"Are you sure ?"}) %><br/>
  <br/>

  <div class="title">Link to a SDP task</div>
  <% form_remote_tag(:url=>{:action => "link_to_sdp", :id=>edit_line.id}) do %>
    <%= label_tag(:task, "Task") %>
    <%= render(:partial=>"sdp_tasks") %>
    <%= submit_tag("Link") %>
  <% end %>
  <%= label_tag(:unlink, "&nbsp;") %>
  <br/>
  Debug:<br/>
  SDP Task id: <%= edit_line.sdp_task_id %><br/>
  SDP Task: <%= edit_line.sdp_task.title if edit_line.sdp_task %>
  <%= image_tag('alert.gif', :alt=>'no sdp task', :width=>'14', :height=>'14') if edit_line.wl_type == 300 and not edit_line.sdp_task %>
  <br/>
  <%= link_to_remote('Unlink',
   {:url=>{:action=>'unlink_sdp', :id=>edit_line.id},
   :confirm=>"Are you sure ?"}) %><br/>
  <br/>

  <div class="title">Delete line</div>
  <%= label_tag(:delete, "&nbsp;") %>
  <%= link_to_remote('Delete this line from your workload',
   {:url=>{:action=>'destroy_line', :id=>edit_line.id},
   :confirm=>"Are you sure ?\nYou will lose all workload related to this line.",
   :success=>"$('edit_line').fade(); $('wl_line_#{edit_line.id}').fade();",
   :failure=>"alert('Error:' + request.responseText);"},
   {:class=>"delete"}) %>
  </div>
</div>
