<div id="edit_line" class="popup" style="display:none;">
<%= link_to_function(image_tag("close.png", :style=>"float: right;margin-top:20px;"),"$('edit_line').fade({duration:0.2});") %><br/>
<div class="title">Edit line</div>
<% if edit_line.request_id %>
  Request id: <%= edit_line.request_id %><br/>
  <%= edit_line.request.workload_name %><br/>
  <%= link_to_function('Copy this name', "$('name_text_input').value='#{escape_javascript(edit_line.request.workload_name)}'") %><br/>
  <br/>
<% end %>
<% remote_form_for :wl_line, :url => {:controller=>"workloads", :action => "edit_line", :id=>edit_line.id } do |f| %>
  <%= f.label(:name, "Name") %>
  <%= f.text_area(:name, {:id=>"name_text_input",:cols=>60, :rows=>3})%><br/>
  <%= f.label(:wl_type, "Type") %>
  <%= f.select(:wl_type, [["Request from RMT", 100], ["Other (not in RMT)", 200], ["Holidays", 300], ["Not related to EISQ", 400]])%><br/>
  <%= f.label(:edit, "&nbsp;") %>
  <%= submit_tag "Edit" %>
<% end %>
<br/>
<%= link_to_function('Options',"$('options').toggle();") %>

<div id="options">
  <!-- README LINK => https://github.com/aehlke/tag-it/blob/master/README.markdown -->
  <fieldset>
  <legend>Tags</legend>
    <ul id="lineTags_<%=edit_line.id%>">
      <!-- Existing list items will be pre-added to the tags -->
      <% if !edit_line.tags.nil? %>
        <% edit_line.tags.each do |tag| %>
          <li><%= tag.name %></li>
        <% end %>
      <% end %>
    </ul>
  </fieldset>
  <fieldset>
  <legend>Link to a request</legend>
  <% form_remote_tag(:url=>{:action => "link_to_request", :id=>edit_line.id}) do %>
    <%= label_tag(:request_id, "Request #") %>
    <%= text_field_tag(:request_id, nil, {:size=>5}) %>
    <%= submit_tag("Link") %>
  <% end %>
  <%= label_tag(:unlink, "&nbsp;") %>
  <%= link_to_remote('Unlink', {:url=>{:action=>'unlink_request', :id=>edit_line.id},:confirm=>"Are you sure ?"}) %><br/>
  </fieldset>
  <% if APP_CONFIG['workloads_add_by_sdp_task'] %>
    <fieldset>
    <legend>Link to a SDP task</legend>
    <% form_remote_tag(:url=>{:action => "link_to_sdp", :id=>edit_line.id}) do %>
      <%= render(:partial=>"sdp_tasks", :locals=>{:edit_line=>edit_line, :partial_id=>"sdp_tasks_edit"}) %>
    <% end %>
    </fieldset>
  <% end %>
  <% if APP_CONFIG['workloads_add_by_project'] %>
    <fieldset>
    <legend>Link to a project</legend>
    <% form_remote_tag(:url=>{:action => "link_to_project", :id=>edit_line.id}) do %>
      <%= label_tag(:task, "Project") %>
      <%= render(:partial=>"projects") %>
      <%= submit_tag("Link") %>
    <% end %>
    <%= label_tag(:unlink, "&nbsp;") %>
    <%= link_to_remote('Unlink', {:url=>{:action=>'unlink_project', :id=>edit_line.id},:confirm=>"Are you sure ?"}) %><br/>
    </fieldset>
  <% end %>
  <%= link_to_function('Debug info',"$('debug').toggle();") %><br/>
  <div id="debug" style="display:none;">
    Request id: <%= edit_line.request.request_id if edit_line.request %><br/>
    SDP Tasks ids: <%= edit_line.sdp_tasks.map{|t|t.sdp_id}.join(',') %><br/>
    SDP Tasks: <%= edit_line.sdp_tasks.map{|t|t.title}.join(',') if edit_line.sdp_tasks %>
  </div>
  <%= image_tag('alert.gif', :alt=>'no sdp task', :width=>'14', :height=>'14') if edit_line.wl_type == 300 and not edit_line.sdp_tasks %>
  <br/>

  <br/>

  <div class="title">Delete line</div>
  <%= label_tag(:delete, "&nbsp;") %>
  <%= link_to_remote('Delete this line from your workload',
   {:url=>{:action=>'destroy_line', :id=>edit_line.id},
   :confirm=>"Are you sure ?\nYou will lose all workload related to this line.",
   :success=>"$('edit_line').fade(); $('wl_line_#{edit_line.id}').fade();",
   :failure=>"alert('Error:' + request.responseText);"},
   {:class=>"delete"}) %>
  </div>
</div>

  <script type="text/javascript">
    init_tags(<%= edit_line.id %>, <%= "[\"#{Tag.all.map{|p|p.name}.join('","')}\"]"%>);
  </script>

