<tr<% if tbp_line.person.is_virtual==1 %> style="background-color:#FDA"<% end %>>
  <td width="200"><%= tbp_line.person.name %></td>
  <td align="center"><a title="See BAM workload" href='/workloads/?person_id=<%= tbp_line.person.id %>'><img src="/images/icon_workload.gif"></a></td>
  <td align="center">
    <% if tbp_line.person.tbp_collab %>
      <a title="See imported TBP data" href='/tbp/collab/<%= tbp_line.person.tbp_collab.tbp_id %>'><img src="/images/docview.png"></a>    
    <% end %>
  </td>
  <td align="center"><% if tbp_line.person.tbp_collab %><a title="Open TBP" href="http://toulouse.sqli.com/tbp/tableau_production/tbpVueMensuelleCollab.php?mois=07&annee=2014&clb_id=<%=tbp_line.person.tbp_collab.tbp_id%>"><img src="/images/link.gif"></a><% end %></td>
  <td align="center"><%= link_to(image_tag('edit.gif'), {:controller=>'people', :action=>'edit', :id=>tbp_line.person.id}, {:title=>"Edit person info in BAM"}) %></td>
  <% if tbp_line.person.tbp_collab %>  
    <td align="center" id="collab_<%=tbp_line.person.tbp_collab.tbp_id%>"><%= link_to_remote(image_tag('loading.png'), {:url=>{:controller=>:tbp, :action=>:update_collab, :id=>tbp_line.person.tbp_collab.tbp_id}, :loading=>"$('collab_#{tbp_line.person.tbp_collab.tbp_id}').update('...')", :update=>{:success=>"collab_#{tbp_line.person.tbp_collab.tbp_id}", :failure=>"collab_#{tbp_line.person.tbp_collab.tbp_id}"}}, {:title=>"Fetch and update TBP data"}) %></td>
  <% else %>
    <td></td>
  <% end %>
  <td align="center"><%= tbp_line.remain_to_plan_days %></td>
  <td align="center"><%= tbp_line.next_month_percents %>%</td>
  <td align="center" width="80"><%= tbp_line.three_next_months_percents %>% (<%= tbp_line.three_next_months_percents-tbp_line.next_month_percents %>)</td>
  <td align="center"><%= tbp_line.sum_availability.round %></td>
	<% indexWeek = 0 %>
	<% for w in tbp_line.percents %>
		<%
			w_work_value = tbp_line.ctotals[indexWeek][:value]
      diff = tbp_line.forecasted[indexWeek][:value] - w_work_value
      w_work_css = ""
      w_work_css = "availability x4" if diff < 0
      w_work_css = "availability x0" if diff > 0
		%>
    <td class="<%= w_work_css %>"><%= diff if diff!=0 %></td>
    <% indexWeek += 1 %>
	<% end %>
</tr>
