<div id="view_alert_sdp_content">

<h4>SDP Tasks not linked to your workload</h4>
<ul>
	<% sdp_tasks.each do |sdp| %>
 		<li><%= sdp.title %></li>
	<% end %>
</ul>

<h4>SDP Tasks (with requests) not linked to your workload</h4>
<ul>
	<% sdp_tasks_req.each do |sdp| %>
		<li><%= sdp.title %></li>
	<% end %>
</ul>    

<h4>Requests which should be closed (remaining to 0)</h4>
<ul>
    <% requests_to_close.each do |req| %>
	    <li>
	        <a href='http://toulouse.sqli.com/EMN/view.php?id=#<%= req.request_id.to_s %>'> 
	        <b><%= req.work_package %></b>
	        <%= req.milestone %>
	        <%= req.complexity %>
	        (<%= req.workload2 %>)
	        <%= req.foreseen_end_date_str %>
	    </li>
    <% end %>
</ul>

</div>
