<%
request = wl_line.request
if request
  init      = request.sdp=="No" ? "No" : request.sdp_tasks_initial_sum
  balancei  = request.sdp=="No" ? "No" : request.sdp_tasks_balancei_sum
  remaining = request.sdp=="No" ? "No" : request.sdp_tasks_remaining_sum
elsif wl_line.sdp_task
  init      = wl_line.sdp_task.initial
  balancei  = wl_line.sdp_task.balancei
  remaining = wl_line.sdp_task.remaining
else
  init      = ""
  remaining = ""
  balancei  = ""
end
%>

<tr id="wl_line_<%= wl_line.id %>" title="<%= wl_line.name %>" class="wl_line_<%= wl_line.wl_type %>"<% if remaining==0.0 and request and request.sdp=="Yes"%> style="color:grey; font-style:italic;"<% end %>>
  <td><%= link_to_function(image_tag("edit.gif"), "wl_edit(#{wl_line.id})") %>  <%= wl_line.display_name %></td>
  <td align="center"><% if request %><%= request.status %><% end %></td>
  <td><%= init %></td>
  <td><%= balancei %></td>
  <td><%= remaining %></td>
  <td id="ltotal_<%= wl_line.id %>" class="wl_total"><%= @workload.line_sums[wl_line.id] %></td>
<%
  for week in @workload.wl_weeks
    milestones = wl_line.milestones(week)
    m_names    = milestones.map { |m| "<b>#{m.name}</b>: #{m.date}"}.join("<br/>")
%>
    <td class="wl_case"<% if milestones.size > 0 %> onmouseover="display_milestones('<%=m_names%>');" onmouseout="hide_milestones();"<% end %>>
    <%
      wlload = wl_line.get_load_by_week(week)
      wlload = wlload == 0.0 ? '' : wlload
    %>

    <%= text_field_tag('t', wlload, :id=>"#{wl_line.id}_#{week}", :class=>'wl_textfield'+(milestones.size > 0 ? ' milestone' : ''), :onchange=>"wl_save_value('#{wl_line.id}', '#{week}');return false;") %>
    </td>
<% end %>
</tr>

