<%
  remaining     = @workload.line_sums[wl_line.id][:remaining].to_f
  planned_total = @workload.line_sums[wl_line.id][:sums].to_f
  error         = ((wl_line.wl_type == 100 or wl_line.wl_type == 200) and ((planned_total/remaining < 0.8) or (planned_total > remaining)))
%>
<tr id="wl_line_<%= wl_line.id %>" title="<%= wl_line.name %>" class="wl_line_<%= wl_line.wl_type %>"<% if remaining==0.0 and wl_line.request and wl_line.request.sdp=="Yes"%> style="color:grey; font-style:italic;"<% end %>>
  <td><%= link_to_function(image_tag("edit.gif"), "wl_edit(#{wl_line.id})") %>  <%= wl_line.display_name %></td>
  <td align="center"><% if wl_line.request %><%= wl_line.request.status %><% end %></td>
  <td><%= @workload.line_sums[wl_line.id][:init] %></td>
  <td><%= @workload.line_sums[wl_line.id][:balance] %></td>
  <td<% if error %> class="wlerror"<% end %>><%= remaining %></td>
  <td id="ltotal_<%= wl_line.id %>" class="wl_total"><%= planned_total %></td>
<%
  for week in @workload.wl_weeks
    milestones = wl_line.milestones(week)
    m_names    = milestones.map { |m| "<b>#{m.name}</b>: #{m.date}"}.join("<br/>")
%>
    <td class="wl_case"<% if milestones.size > 0 %> onmouseover="display_milestones('<%=m_names%>');" onmouseout="hide_milestones();"<% end %>>
    <%
      wlload = wl_line.get_load_by_week(week)
      wlload = wlload == 0.0 ? '' : wlload
    %>

    <%= text_field_tag('t', wlload, :id=>"#{wl_line.id}_#{week}", :class=>'wl_textfield'+(milestones.size > 0 ? ' milestone' : ''), :onchange=>"wl_save_value('#{wl_line.id}', '#{week}');return false;") %>
    </td>
<% end %>
</tr>
