<div id="workload" class="workload">
<%= link_to_function('Add a line', "wl_add_line(#{workload.person_id})", :class=>"btnlnk") %>
<% if @suggested_requests.size > 0 %>
You have <b><%=@suggested_requests.size%></b> suggested requests
<% end %>
<br/>
<br/>
<b>Next month:</b> <%= workload.next_month_percents %>%<br/>
<b>6 months:</b>   <%= workload.total_percents %>%<br/>
<br/>
<table>

<thead>
  <tr>
  <th class="wl_names"></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <%= render(:partial=>"wl_head", :collection=>workload.months) %>
  </tr>

  <tr>
  <th class="wl_names"></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <%= render(:partial=>"wl_head", :collection=>workload.weeks) %>
  </tr>

  <tr>
  <th class="wl_names"></th>
  <th style="text-align:left;min-width:100px;">Status</th>
  <th>Init.</th>
  <th>Gain</th>
  <th>Rem.</th>
  <th class="wl_total">Sum</th>
  <%= render(:partial=>"wl_head", :collection=>workload.days) %>
  </tr>

  <tr class="wl_opens">
  <th class="wl_names">Nb of worked days</th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <%= render(:partial=>"wl_head", :collection=>workload.opens) %>
  </tr>

  <tr class="wl_total">
  <th class="wl_names">Total</th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <%= render(:partial=>"wl_ctotal", :collection=>workload.ctotals) %>
  </tr>

  <tr class="wl_total">
  <th class="wl_names">Percent</th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <%= render(:partial=>"wl_ctotal", :collection=>workload.percents) %>
  </tr>
</thead>

<tbody class="scrollContent">
  <%= render(:partial=>"wl_line", :collection=>workload.wl_lines, :locals=>{:line_sums=>workload.line_sums, :wl_weeks=>workload.wl_weeks}) %>
</tbody>

</table>
</div>
<br/>

