<div id="workload" class="workload">
    <%= link_to_function(image_tag('toggle.gif'), 'hide_workload_menu()', :id=>'wmenu_close') %>
    <div id="wmenu" <%if session['wmenu_hidden'].to_s=='true' %>style='display:none;'<% end %>>
    <table width="100%">
    <tr><td valign="top">
      <%= link_to_function('Add a line', "wl_add_line(#{@workload.person_id})", :class=>"btnlnk") %>
      <%= link_to('Transfert', {:action=>'transfert'}, {:class=>"btnlnk"}) %>
      <%= link_to('Backup', {:action=>'duplicate',:weeks=>@workload.weeks,:wl_weeks=>@workload.wl_weeks,:months=>@workload.months}, {:class=>"btnlnk"}) %>
      <% if @suggested_requests.size > 0 %>
      You have <b><%=@suggested_requests.size%></b> suggested requests
      <% end %>

      <div id="milestones" class="popup" style="display:none;"></div>
      <br/>
      <br/>
      <b>Next 5 weeks:</b> <%= @workload.next_month_percents %>%<br/>
      <b>3 next months:</b>   <%= @workload.three_next_months_percents %>%<br/>
      <%
      sdp_total = @workload.sdp_remaining_total
      if sdp_total == 0
        percent_planned = 0
      else
        percent_planned = (((@workload.planned_total / sdp_total)*100)/0.1).round * 0.1
      end
      if percent_planned < 95
      %>
        You have <%= @workload.sdp_remaining_total %> remaining days in SDP but only <strong><%= @workload.planned_total %></strong> days planned in your workload (<%=percent_planned%>%).<br/>
      <% end %>

    </td>
    <td align="right">

      <%= render(:file=>"workloads/sdp_table", :locals=>{:workload=>@workload}) %>

    </td></tr>
    </table>
    </div>

  <b>
  <%= @workload.nb_current_lines %> lines
  <% if @workload.nb_hidden_lines > 0 %><strong><%end%>
  (<%= @workload.nb_hidden_lines %> hidden)
  <% if @workload.nb_hidden_lines > 0 %></strong><%end%>
  </b>

  <%= check_box_tag('hide_lines_with_no_workload', true, session['workload_hide_lines_with_no_workload'].to_s=='true', {:onclick=>'hide_lines_with_no_workload()'}) %> hide lines with no workload in next 8 weeks

  <!-- WORKLOAD GENERAL -->
  <table id="workload_table">
  <thead>
    <tr>
    <th></th>
    <th></th>
    <th class="wl_names"></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <%= render(:partial=>"wl_head", :collection=>@workload.months) %>
    </tr>

    <tr>
    <th></th>
    <th></th>
    <th class="wl_names"></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <%= render(:partial=>"wl_head", :collection=>@workload.weeks) %>
    </tr>

    <tr>
    <th></th>
    <th></th>
    <th class="wl_names"></th>
    <th style="min-width:100px;">Status</th>
    <th style="min-width:45px;">Init.</th>
    <th style="min-width:45px;">Gain</th>
    <th style="min-width:45px;">Rem.</th>
    <th class="wl_total" style="min-width:45px;">Planned</th>
    <th style="min-width:45px;">Total</th>
    <%= render(:partial=>"wl_head", :collection=>@workload.days) %>
    </tr>

    <tr class="wl_opens">
    <th></th>
    <th></th>
    <th class="wl_names">Nb of worked days</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <%= render(:partial=>"wl_head", :collection=>@workload.opens) %>
    </tr>

    <tr class="wl_total">
    <th></th>
    <th></th>
    <th class="wl_names">Total</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <%= render(:partial=>"wl_ctotal", :collection=>@workload.ctotals) %>
    </tr>

    <tr class="wl_total">
    <th></th>
    <th></th>
    <th class="wl_names">Sums / Percents</th>
    <th></th>
    <th></th>
    <th></th>
    <th><%= @workload.sdp_remaining_total %></th>
    <th id="planned_total"><%= @workload.planned_total %></th>
    <th id="total"><%= @workload.total %></th>
    <%= render(:partial=>"wl_ctotal", :collection=>@workload.percents, :locals=>{:high_limit=>110, :low_limit=>85}) %>
    </tr>

    <tr class="wl_total">
    <th></th>
    <th></th>
    <th class="wl_names">Availability (Sum for the 2 next months)</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th title="Availablity for the 2 next months" id="availability_total"><%= @workload.sum_availability %></th>
    <th></th>
    <%= render(:partial=>"wl_ctotal", :collection=>@workload.availability) %>
    </tr>
  </thead>

  <tbody class="scrollContent">
    <%= render(:partial=>"wl_line", :collection=>@workload.displayed_lines) %>
  </tbody>

  </table>

  <div>
    <!-- CHART -->
    <div style="position:absolute;"><%= image_tag(@chart_url) if @chart_url %></div>

    <!-- Workload for QS/spiders -->
    <table style="float:right;" class="workload_qs_spider_table">
      <!-- Header -->
      <thead><tr><th>Name</th><th>Prev.</th><th>Plan.</th></tr></thead>
      <!-- Body -->
      <tbody>
        <% # Get all data (Previsonal and imputation) for all Streams (General + Spider + QS) %>
        <% streams_with_wl = @workload.get_qr_qwr_wl_lines_by_streams %>

        <% # Each Streams %>
        <% streams_with_wl.each do |key_stream, hash_stream| %>
          <!-- Streams values -->
          <tr class="stream_line">
            <td><%= Stream.find(key_stream).name %></td>
            <td class="load_values"><%= hash_stream["prev"].to_s if hash_stream["prev"].to_f > 0 %></td>
            <td class="load_values"><%= hash_stream["sum"].to_s if hash_stream["sum"].to_f > 0 %>  </td>
          </tr>
          <!-- QS Values -->
          <tr>
            <td>QS</td>
            <td class="load_values"><%= hash_stream["qs_prev"].to_s if hash_stream["qs_prev"].to_f > 0 %></td>
            <td class="load_values"><%= hash_stream["qs_sum"].to_s  if hash_stream["qs_sum"].to_f > 0 %></td>
          </tr>
          <!-- Spider Values -->
          <tr>
            <td>Spider</td>
            <td class="load_values"><%= hash_stream["spider_prev"].to_s if hash_stream["spider_prev"].to_f > 0 %></td>
            <td class="load_values"><%= hash_stream["spider_sum"].to_s  if hash_stream["spider_sum"].to_f > 0 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
<br/>
