<script type="text/javascript" src="/javascripts/jscolor.js" ></script>
<% @tasks_header = 0 %>
<div id="workload" class="workload">
    <div id="filters" style="display:none;border:1px solid #DDD;margin-top:25px;background: #EEE;">
    <!-- <form action="/project_workloads/index/filter_persons_iterations" name="filter_persons_iterations" method="post"> -->
    <% form_tag(:action=>'index') do %>
    <%= render(:partial=>"wl_person") %>
    <table>
      <tr valign="top">
        <% person      = Person.find(session['workload_person_id']) %>
        <td>
          <% projects = person.projects_map %>
          <% if projects.size != 0 %>
            <b><a href="#" onclick="check_uncheck(this,'project_ids[]')" >Projects</a></b><br/>
            <% for p in projects %>
              <%= check_box_tag('project_ids[]', p[:id], session['workload_person_project_ids'].include?(p[:id].to_s)) %><%= "#{p[:name]} (#{p[:nb]})"%><br/>
            <% end %>
          <% else %>
            <br/>
            <b style="color:#FF0000"> No Project for </b><br/>
            <b style="color:#FF0000"> <%= person.name %> </b>
          <% end %>
        </td>
        <td>
        <td>
          <b><a href="#" onclick="check_uncheck(this,'person_tags_ids[]')" >Tags</a></b><br/>
          <% @tags= person.tags %>
          <% if @tags %>
            <% for t in @tags %>
              <% tag_size = LineTag.find(:all, :conditions=>["tag_id=#{t.id} and id in (#{person.lines_tagged.join(',')})"]).size %>
              <%= check_box_tag('person_tags_ids[]', t.id, session['workload_person_tags'].include?(t.id.to_s)) %><%= "#{t.name} (#{tag_size})"%><br/>
            <% end %>
          <% end %>
        </td>
        <td>
        <td>
          <% iterations = person.iterations %>
          <% if iterations.size !=  0 %>
            <b><a href="#" onclick="check_uncheck(this,'iterations_ids[]')" >Iterations</a></b><br/><br/>
            <% previous_project = iterations.first.project_code %>
            <b><a href="#" onclick="check_uncheck_iterations(this,'iterations_<%= previous_project %>')" ><%= iterations.first.project.name %></a></b><br/>
            <% for i in iterations %>
              <% actual_project = i.project_code %>
              <% if actual_project!=previous_project %>
                <br/><b><a href="#" onclick="check_uncheck_iterations(this,'iterations_<%= actual_project %>')" ><%= i.project.name %></a></b><br/>
                <% previous_project = actual_project %>
              <% end %>
              <% checked = session['workload_persons_iterations'].include?({:name=>i.name, :project_code=>i.project_code, :project_id=>i.project.id}) %>
              <input id="iterations_<%= actual_project %>" type="checkbox" value="<%= i.id%>" name="iterations_ids[]" <% if checked %>checked="true"<%end%>><%= "#{i.name}"%></input><br/>
            <% end %>
          <% else %>
            <br/>
            <b style="color:#FF0000"> No iteration for </b><br/>
            <b style="color:#FF0000"> <%= person.name %> </b>
          <% end %>
        </td>
      </tr>
    </table>
    <%= submit_tag('Filter') %>
    <% end %>
    </div>

    <%= link_to_function(image_tag('toggle.gif'), 'hide_workload_menu()', :id=>'wmenu_close') %>
    <div id="wmenu" <%if session['wmenu_hidden'].to_s=='true' %>style='display:none;'<% end %>>
    <table width="100%">
    <tr><td valign="top">
      <%= link_to_function('Add a line', "wl_add_line(#{@workload.person_id})", :class=>"btnlnk") %>
      <%= link_to('Transfert', {:action=>'transfert'}, {:class=>"btnlnk"}) %>
      <%= link_to('Backup', {:action=>'duplicate',:weeks=>@workload.weeks,:wl_weeks=>@workload.wl_weeks,:months=>@workload.months}, {:class=>"btnlnk"}) %>
      <% if @suggested_requests.size > 0 %>
      You have <b><%=@suggested_requests.size%></b> suggested requests
      <% end %>

      <div id="milestones" class="popup" style="display:none;"></div>
      <br/>
      <br/>
      <b>Next 5 weeks:</b> <%= @workload.next_month_percents %>%<br/>
      <b>3 next months:</b>   <%= @workload.three_next_months_percents %>%<br/>
      <%
      sdp_total = @workload.sdp_remaining_total
      if sdp_total == 0
        percent_planned = 0
      else
        percent_planned = (((@workload.planned_total / sdp_total)*100)/0.1).round * 0.1
      end
      if percent_planned < 95
      %>
        You have <%= @workload.sdp_remaining_total %> remaining days in SDP but only <strong><%= @workload.planned_total %></strong> days planned in your workload (<%=percent_planned%>%).<br/>
      <% end %>

    </td>
    <td align="right">

      <%= render(:file=>"workloads/sdp_table", :locals=>{:workload=>@workload}) %>

    </td></tr>
    </table>
    </div>

  <b>
  <%= @workload.nb_current_lines %> lines
  <% if @workload.nb_hidden_lines > 0 %><strong><%end%>
  (<%= @workload.nb_hidden_lines %> hidden)
  <% if @workload.nb_hidden_lines > 0 %></strong><%end%>

  <% if session['workload_persons_iterations'] != [] or session['workload_person_project_ids'] != [] %>
  <strong>filtered</strong><%end%>
  </b>

  <%= check_box_tag('hide_lines_with_no_workload', true, session['workload_hide_lines_with_no_workload'].to_s=='true', {:onclick=>'hide_lines_with_no_workload()'}) %> hide lines with no workload in next 8 weeks

  <!-- WORKLOAD GENERAL -->
  <% if @workload.names.size !=0 %><h2><%= @workload.names %></h2><% end %>
  <table id="workload_table">
  <thead>
    <% @workload.projects.each do |p| %>
      <% color = "#ABC" %>
      <% if p.planning %>
        <% if p.planning.tasks %>
          <% p.planning.tasks.each do |t| %>
            <tr>
              <% @tasks_header += 1 %>
              <% this_color = color %>
              <% this_color = t.color if t.color%>
              <% @task_id = "task_"+t.id.to_s %>
              <th id="<%=@task_id%>" style="background: <%=this_color%>;" class="planning_task"></th>
              <th id="<%=@task_id%>" style="background: <%=this_color%>;" class="planning_task"></th>
              <th id="<%=@task_id%>" style="background: <%=this_color%>;" class="wl_names planning_task">[<%= p.name %>] <%= t.name %></th>
              <% if APP_CONFIG['workloads_display_status_column'] %>
              <th class="planning_task"></th>
              <% end %>
              <th class="planning_task">
              <% if current_user.is_cpdp == 1 or current_user.has_role?('Admin')%>
                <input id="color_<%=@task_id%>" class="color_picker" value="<%=this_color[1..6]%>" onchange="change_task_color(this,'<%=@task_id%>')">
              <% end %>
              </th>
              <% if APP_CONFIG['workloads_display_consumed_column'] %>
                <th class="planning_task"></th>
              <% end %>
              <th class="planning_task"></th>
              <th class="planning_task"></th>
              <th class="planning_task"></th>
              <% if APP_CONFIG['workloads_display_diff_between_consumed_and_planned_column'] %>
                <th class="planning_task"></th>
              <% end %>
              <% if APP_CONFIG['workloads_display_total_column'] %>
                <th class="planning_task"></th>
              <% end %>
              <%
                c = []
                @workload.planning_tasks.each do |pt|
                  c << pt if pt[:task]==t
                end
              %>
              <% @start_date_condition = "not detected" %>
              <% nb_cells = c.select{|y|y[:week]==true}.length %>
              <%= render(:partial=>"wl_task_planning", :collection=>c, :locals=>{:color=>this_color, :nb_cells=>nb_cells}) %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <%  end %>
    <tr>
    <th></th>
    <th></th>
    <th class="wl_names"></th>
    <% if APP_CONFIG['workloads_display_status_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <% if APP_CONFIG['workloads_display_consumed_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
    <% if APP_CONFIG['workloads_display_diff_between_consumed_and_planned_column'] %>
    <th></th>
    <% end %>
    <% if APP_CONFIG['workloads_display_total_column'] %>
    <th></th>
    <% end %>
    <%= render(:partial=>"wl_head", :collection=>@workload.months) %>
    </tr>

    <tr>
    <th></th>
    <th></th>
    <th class="wl_names"></th>
    <% if APP_CONFIG['workloads_display_status_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <% if APP_CONFIG['workloads_display_consumed_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
    <% if APP_CONFIG['workloads_display_diff_between_consumed_and_planned_column'] %>
    <th></th>
    <% end %>
    <% if APP_CONFIG['workloads_display_total_column'] %>
    <th></th>
    <% end %>
    <%= render(:partial=>"wl_head", :collection=>@workload.weeks) %>
    </tr>

    <tr>
    <th></th>
    <th></th>
    <th class="wl_names"></th>
    <% if APP_CONFIG['workloads_display_status_column'] %>
    <th style="min-width:100px;">Status</th>
    <% end %>
    <th style="min-width:45px;">Init.</th>
    <% if APP_CONFIG['workloads_display_consumed_column'] %>
    <th style="min-width:45px;">Cons.</th>
    <% end %>
    <th style="min-width:45px;">Gain</th>
    <th style="min-width:45px;">Rem.</th>
    <th class="wl_total" style="min-width:45px;">Planned</th>
    <% if APP_CONFIG['workloads_display_diff_between_consumed_and_planned_column'] %>
    <th style="min-width:45px;">Diff</th>
    <% end %>
    <% if APP_CONFIG['workloads_display_total_column'] %>
    <th style="min-width:45px;">Total</th>
    <% end %>
    <%= render(:partial=>"wl_head", :collection=>@workload.days) %>
    </tr>

    <tr class="wl_opens">
    <th></th>
    <th></th>
    <th class="wl_names">Nb of worked days</th>
    <% if APP_CONFIG['workloads_display_status_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <% if APP_CONFIG['workloads_display_consumed_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
    <% if APP_CONFIG['workloads_display_diff_between_consumed_and_planned_column'] %>
    <th></th>
    <% end %>
    <% if APP_CONFIG['workloads_display_total_column'] %>
    <th></th>
    <% end %>
    <%= render(:partial=>"wl_head", :collection=>@workload.opens) %>
    </tr>

    <tr class="wl_total">
    <th></th>
    <th></th>
    <th class="wl_names">Total</th>
    <% if APP_CONFIG['workloads_display_status_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <% if APP_CONFIG['workloads_display_consumed_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
    <% if APP_CONFIG['workloads_display_diff_between_consumed_and_planned_column'] %>
    <th></th>
    <% end %>
    <% if APP_CONFIG['workloads_display_total_column'] %>
    <th></th>
    <% end %>
    <%= render(:partial=>"wl_ctotal", :collection=>@workload.ctotals) %>
    </tr>

    <tr class="wl_total">
    <th></th>
    <th></th>
    <th class="wl_names">Sums / Percents</th>
    <% if APP_CONFIG['workloads_display_status_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <% if APP_CONFIG['workloads_display_consumed_column'] %>
    <th id="consumed_total"><%= @workload.sdp_consumed_total %></th>
    <% end %>
    <th></th>
    <th><%= @workload.sdp_remaining_total %></th>
    <th id="planned_total"><%= @workload.planned_total %></th>
    <% if APP_CONFIG['workloads_display_diff_between_consumed_and_planned_column'] %>
    <th id="diff_planned_remaining"><%= @workload.planned_total - @workload.sdp_remaining_total %></th>
    <% end %>
    <% if APP_CONFIG['workloads_display_total_column'] %>
    <th id="total"><%= @workload.total %></th>
    <% end %>
    <%= render(:partial=>"wl_ctotal", :collection=>@workload.percents, :locals=>{:high_limit=>110, :low_limit=>85}) %>
    </tr>

    <tr class="wl_total">
    <th></th>
    <th></th>
    <th class="wl_names">Availability (Sum for the 2 next months)</th>
    <% if APP_CONFIG['workloads_display_status_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <% if APP_CONFIG['workloads_display_consumed_column'] %>
    <th></th>
    <% end %>
    <th></th>
    <th></th>
    <th title="Availablity for the 2 next months" id="availability_total"><%= @workload.sum_availability %></th>
    <% if APP_CONFIG['workloads_display_diff_between_consumed_and_planned_column'] %>
    <th></th>
    <% end %>
    <% if APP_CONFIG['workloads_display_total_column'] %>
    <th></th>
    <% end %>
    <%= render(:partial=>"wl_ctotal", :collection=>@workload.availability, :locals=>{:low_limit=>0, :reverse=>true}) %>
    </tr>
  </thead>

  <tbody class="scrollContent">
    <%= render(:partial=>"wl_line", :collection=>@workload.displayed_lines) %>
  </tbody>

  </table>

  <div>
    <!-- CHART -->
    <div style="position:absolute;"><%= image_tag(@chart_url) if @chart_url %></div>

    <!-- Workload for QS/spiders -->
    <table style="float:right;" class="workload_qs_spider_table">
      <!-- Header -->
      <thead><tr><th>Name</th><th>Prev.</th><th>Plan.</th></tr></thead>
      <!-- Body -->
      <tbody>
        <% # Get all data (Previsonal and imputation) for all Streams (General + Spider + QS) %>
        <% streams_with_wl = @workload.get_qr_qwr_wl_lines_by_streams %>

        <% # Each Streams %>
        <% streams_with_wl.each do |key_stream, hash_stream| %>
          <!-- Streams values -->
          <tr class="stream_line">
            <td><%= Stream.find(key_stream).name %></td>
            <td class="load_values"><%= hash_stream["prev"].to_s if hash_stream["prev"].to_f > 0 %></td>
            <td class="load_values"><%= hash_stream["sum"].to_s if hash_stream["sum"].to_f > 0 %>  </td>
          </tr>
          <!-- QS Values -->
          <tr>
            <td>QS</td>
            <td class="load_values"><%= hash_stream["qs_prev"].to_s if hash_stream["qs_prev"].to_f > 0 %></td>
            <td class="load_values"><%= hash_stream["qs_sum"].to_s  if hash_stream["qs_sum"].to_f > 0 %></td>
          </tr>
          <!-- Spider Values -->
          <tr>
            <td>Spider</td>
            <td class="load_values"><%= hash_stream["spider_prev"].to_s if hash_stream["spider_prev"].to_f > 0 %></td>
            <td class="load_values"><%= hash_stream["spider_sum"].to_s  if hash_stream["spider_sum"].to_f > 0 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
<br/>
