<%= link_to('Back to workload', :action=>'index') %>
<h2>Workload line backup(Backup)</h2>

<div id="view_line_backup">
    <%= submit_tag "X", :id=>"button_line_backup_close", :type=>'button', :onclick=>'$("view_line_backup").hide();' %>
    <h3>Add backup for line <span id="label_line_id"></span></h3>
    <%= select_tag('select_list_backup_person', options_for_select(@people)) %> <%= submit_tag "Add", :type=>'button', :onclick=>'line_backup(selected_backup_line_id,selected_backup_person_id);' %>
</div>

  <h3>Classic lines</h3>
  <table>
    <tr class="duplicate_tr_header">
      <th>Line</th>
      <th style="width:800px;">Backups</th>
      <th>Actions</th>
    </tr>

    <tr>
      <%= render(:partial=>"duplicate_line", :collection=>@lines, :as=>:l, :locals => { :is_qr_qwr => false, :backup => true }) %>
    <tr>
  </table>

  <h3>QR/QWR lines</h3>
  <table>
    <tr class="duplicate_tr_header">
      <th>Line</th>
      <th style="width:800px;">Backups</th>
      <th>Actions</th>
    </tr>
    <tr>
      <%= render(:partial=>"duplicate_line", :collection=>@lines_qr_qwr, :as=>:l, :locals => { :is_qr_qwr => true, :backup => true }) %>
    <tr>
  </table>


<SCRIPT language="Javascript">
  <% if @people.size > 0 and @people[0].size > 0 %>
    selected_backup_person_id = <%= @people[0][1] %>;
  <% end %>

  <% if @people.size > 0 and @people[0].size > 0 %>
    var selected_backup_name = "<%= @people[0][0] %>";
  <% end %>

  $("view_line_backup").hide();
  check_backup_person_change();
</SCRIPT>