<script src="/javascripts/jquery-ui.js"></script>
<link rel="stylesheet" href="/stylesheets/jquery-ui.css" />

<%= link_to('Back to workload', :action=>'index') %>

<!-- Add backup view -->
<div id="view_backup_add">
    <%= submit_tag "X", :id=>"button_backup_add_close", :type=>'button', :onclick=>'$("view_backup_add").hide();' %>
    <h3>Add backup</span></h3>
    <%= text_field_tag 'week' %>
    <%= select_tag('select_list_backup_person', options_for_select(@people)) %> <%= submit_tag "Add", :type=>'button', :onclick=>'add_backup('+session["workload_person_id"]+', selected_backup_person_id, 0000);' %>
</div>

<!-- Backups for me -->
<h1>My backups</h1>
<%= submit_tag "Add backup", :type=>'button', :onclick=>'add_backup_action();' %>
<table id="backup_list">
    <tr class="duplicate_tr_header">
        <th>Date</th>
        <th>Backup</th>
        <th>Actions</th>
    </tr>
    <%= render(:partial=>"backup_line", :collection=>@backups, :as=>:b, :locals => { :self_backup => false }) %>
</table>

<!-- I'm the backup of -->
<h1>I'm the backup of</h1>
<table id="self_backup_list">
    <tr class="duplicate_tr_header">
        <th>Line</th>
        <th>Backup From</th>
        <th>Actions</th>
    </tr>
    <%= render(:partial=>"backup_line", :collection=>@self_backups, :as=>:b, :locals => { :self_backup => false }) %>
</table>


<SCRIPT language="Javascript">
  <% if @people.size > 0 and @people[0].size > 0 %>
    selected_backup_person_id = <%= @people[0][1] %>;
  <% end %>

  <% if @people.size > 0 and @people[0].size > 0 %>
    var selected_backup_name = "<%= @people[0][0] %>";
  <% end %>

  $("view_backup_add").hide();
  check_backup_person_change();

jQuery(document).ready(function(){
    jQuery( "#week" ).datepicker();
});

</SCRIPT>