<%
  cookies["tab_menu_wl_conso"] = "1" if !cookies["tab_menu_wl_conso"]
%>

<div id="tabs">
  <ol>
      <%= tab_menu("wl_conso", [
        "Consolidation",
        "Holidays",
        "Missing tasks",
        "Missing lines",
        "Errors in affectation",
        "Requests to validate"
        ]) %>
  </ol>

  <div id="tabscontent">
    <div id="tabContent1" class="tabContent" style="display:<%= cookies["tab_menu_wl_conso"]=="1"? "block" : "none"%>;">
      <br />
      <div id="conso_workloads">
        <% if APP_CONFIG['workloads_show_consolidation_filters'] %>
          <%= form_remote_tag(:url=> {:action => "refresh_conso"}, :loading => "$('error1').update('');$('loading1').appear()", :complete => "$('loading1').hide()", :update => { :success => "data1", :failure => "error1"}, :html=>{:name=>"refresh_form"})  %>
            <%= select(:company, :company_ids, options_for_select(@companies), :include_blank=>"All" ) %>
            <%= submit_tag('Refresh') %>
          </form>
        <% else %>
          <%= link_to_remote('Refresh',  :url => { :action => "refresh_conso" }, :loading => "$('error1').update('');$('loading1').appear()", :complete => "$('loading1').hide()", :update => { :success => "data1", :failure => "error1" }) %>
        <% end %>
        <br/>
        <br/>
        <%= image_tag('loading.gif', :id=>'loading1', :style=>"display:none;") %>
        <div id="error1"></div>
        <div id="data1"></div>
      </div>
    </div>

    <div id="tabContent2" class="tabContent" style="display:<%= cookies["tab_menu_wl_conso"]=="2"? "block" : "none"%>;">
      <br />
      <div id="holidays">
        <%= link_to_remote('Refresh',  :url => { :action => "refresh_holidays" }, :loading => "$('error2').update('');$('loading2').appear()", :complete => "$('loading2').hide()", :update => { :success => "data2", :failure => "error2" }) %>
        <br/>
        <br/>
        <%= image_tag('loading.gif', :id=>'loading2', :style=>"display:none;") %>
        <div id="error2"></div>
        <div id="data2"></div>
      </div>
    </div>

    <div id="tabContent3" class="tabContent" style="display:<%= cookies["tab_menu_wl_conso"]=="3"? "block" : "none"%>;">
      <br />
      <div id="missing_tasks">
        <%= link_to_remote('Refresh',  :url => { :action => "refresh_missing_tasks" }, :loading => "$('error3').update('');$('loading3').appear()", :complete => "$('loading3').hide()", :update => { :success => "data3", :failure => "error3" }) %>
        <br/>
        <br/>
        <%= image_tag('loading.gif', :id=>'loading3', :style=>"display:none;") %>
        <div id="error3"></div>
        <div id="data3"></div>
      </div>
    </div>

    <div id="tabContent4" class="tabContent" style="display:<%= cookies["tab_menu_wl_conso"]=="4"? "block" : "none"%>;">
      <br />
      <div id="missing_wl_lines">
        <%= link_to_remote('Refresh',  :url => { :action => "refresh_missing_wl_lines" }, :loading => "$('error4').update('');$('loading4').appear()", :complete => "$('loading4').hide()", :update => { :success => "data4", :failure => "error4" }) %>
        <br/>
        <br/>
        <%= image_tag('loading.gif', :id=>'loading4', :style=>"display:none;") %>
        <div id="error4"></div>
        <div id="data4"></div>
      </div>
    </div>

    <div id="tabContent5" class="tabContent" style="display:<%= cookies["tab_menu_wl_conso"]=="5"? "block" : "none"%>;">
      <br />
      <div id="errors_in_affectations">
        <%= link_to_remote('Refresh',  :url => { :action => "refresh_errors_in_affectations" }, :loading => "$('error3').update('');$('loading5').appear()", :complete => "$('loading5').hide()", :update => { :success => "data5", :failure => "error5" }) %>
        <br/>
        <br/>
        <%= image_tag('loading.gif', :id=>'loading5', :style=>"display:none;") %>
        <div id="error5"></div>
        <div id="data5"></div>
      </div>
    </div>

    <div id="tabContent6" class="tabContent" style="display:<%= cookies["tab_menu_wl_conso"]=="6"? "block" : "none"%>;">
      <br />
      <div id="requests_to_validate">
        <%= link_to_remote('Refresh',  :url => { :action => "refresh_requests_to_validate" }, :loading => "$('error3').update('');$('loading6').appear()", :complete => "$('loading6').hide()", :update => { :success => "data6", :failure => "error6" }) %>
        <br/>
        <br/>
        <%= image_tag('loading.gif', :id=>'loading6', :style=>"display:none;") %>
        <div id="error6"></div>
        <div id="data6"></div>
      </div>
    </div>

  </div><!--End of tabscontent-->
</div><!--End of tabs-->
