<%
  cookies["tab_menu_wl_conso"] = "1" if !cookies["tab_menu_wl_conso"]
%>

<div id="tabs">
  <ol>
      <%= tab_menu("wl_conso", [
        "Consolidation",
        "Holidays",
        "Missing tasks",
        "Requests to validate"
        ]) %>
  </ol>

  <div id="tabscontent">
    <div id="tabContent1" class="tabContent" style="display:<%= cookies["tab_menu_wl_conso"]=="1"? "block" : "none"%>;">
        <br />
        <div id="conso_workloads">
          <%= select(:company, :company_id, options_for_select(@companies), :id=>'company') %><br/>
          <br/>
          <%= link_to_remote('Refresh',  :url => { :action => "refresh_conso", :company_id=>1}, :loading => "$('error1').update('');$('loading1').appear()", :complete => "$('loading1').hide()", :update => { :success => "data1", :failure => "error1" }) %>
          <br/>
          <br/>
          <%= image_tag('loading.gif', :id=>'loading1', :style=>"display:none;") %>
          <div id="error1"></div>
          <div id="data1"></div>
        </div>
    </div>

    <div id="tabContent2" class="tabContent" style="display:<%= cookies["tab_menu_wl_conso"]=="2"? "block" : "none"%>;">
        <br />
        <div id="holidays">
          <%= link_to_remote('Refresh',  :url => { :action => "refresh_holidays" }, :loading => "$('error2').update('');$('loading2').appear()", :complete => "$('loading2').hide()", :update => { :success => "data2", :failure => "error2" }) %>
          <br/>
          <br/>
          <%= image_tag('loading.gif', :id=>'loading2', :style=>"display:none;") %>
          <div id="error2"></div>
          <div id="data2"></div>
        </div>
    </div>

    <div id="tabContent3" class="tabContent" style="display:<%= cookies["tab_menu_wl_conso"]=="3"? "block" : "none"%>;">
        <br />
        <div id="missing_tasks">
          <%= link_to_remote('Refresh',  :url => { :action => "refresh_missing_tasks" }, :loading => "$('error3').update('');$('loading3').appear()", :complete => "$('loading3').hide()", :update => { :success => "data3", :failure => "error3" }) %>
          <br/>
          <br/>
          <%= image_tag('loading.gif', :id=>'loading3', :style=>"display:none;") %>
          <div id="error3"></div>
          <div id="data3"></div>
        </div>
    </div>

    <div id="tabContent4" class="tabContent" style="display:<%= cookies["tab_menu_wl_conso"]=="4"? "block" : "none"%>;">
        <br />
        <div id="missing_tasks">
          <%= link_to_remote('Refresh',  :url => { :action => "refresh_requests_to_validate" }, :loading => "$('error3').update('');$('loading4').appear()", :complete => "$('loading4').hide()", :update => { :success => "data4", :failure => "error4" }) %>
          <br/>
          <br/>
          <%= image_tag('loading.gif', :id=>'loading4', :style=>"display:none;") %>
          <div id="error4"></div>
          <div id="data4"></div>
        </div>
    </div>

  </div><!--End of tabscontent-->
</div><!--End of tabs-->
