<script src="/javascripts/workload.js" type="text/javascript"></script>

<%= render(:partial=>'workloads/last_sdp_update') %>
<%= image_tag('loading.gif', :id=>'loading', :style=>"display:none;position:fixed;left:500px;") %>

<div id="edit_line"></div>


<!-- <div id="debug"></div>
<script type="text/javascript">
    Ajax.Responders.register({
    // log the beginning of the requests
    onCreate: function(request, transport) {
      new Insertion.Bottom('debug', '<p><strong>[' + new Date().toString() + '] accessing ' + request.url + '</strong></p>')
      },
     
    // log the completion of the requests
    onComplete: function(request, transport) {
      new Insertion.Bottom('debug',
      '<p><strong>http status: ' + transport.status + '</strong></p>' +
      '<pre>' + transport.responseText.escapeHTML() + '</pre>')
      }
    });
 </script> -->

<div id="wl_line_add_form" class="popup" style="display:none;">
  <%= link_to_function(image_tag("close.png", :style=>"float: right;margin-top:20px;"),"$('wl_line_add_form').fade({duration:0.2});") %><br/>
  <div class="title">Add a line</div>
  <% if APP_CONFIG['workloads_add_by_request_number'] %>
    By request number
    <% form_remote_tag(:url=>{:action => "add_by_request"}) do %>
      <%= label_tag(:request_id, "Request #") %>
      <%= text_field_tag(:request_id, nil, {:id=>'input_request', :size=>5}) %>
      <%= submit_tag("Add") %>
    <% end %>
    <br/>
  <% end %>
  By name ("Holidays", "Training",...)
  <% form_remote_tag(:url=>{:action => "add_by_name"}) do %>
    <%= label_tag(:name, "Name") %>
    <%= text_area_tag(:name, nil, {:id=>'input_name', :cols=>50, :rows=>3}) %>
    <%= submit_tag("Add") %>
  <% end %>
  <% if APP_CONFIG['workloads_add_by_sdp_task'] %>
    <br/>
    By SDP task
    <% form_remote_tag(:url=>{:action => "add_by_sdp_task"}) do %>
      <%= render(:partial=>"sdp_tasks", :locals=>{:edit_line=>nil, :partial_id=>"sdp_tasks_add_by_sdp_task"}) %>
    <% end %>
  <% end %>
  <% if APP_CONFIG['workloads_add_by_project'] %>
    <br/>
    By project
    <% form_remote_tag(:url=>{:action => "add_by_project"}) do %>
      <%= label_tag(:sdp_task, "Project") %>
      <%= select_tag('project_id', options_for_select(@projects), {:id=>"project_id"}) %>
      <%= submit_tag("Add") %>
    <% end %>
  <% end %>
  <% if APP_CONFIG['workloads_suggested_request'] %>
    <br/>
    <b>Suggested requests:</b><br/>
    <div id="suggested_requests">
      <%= render(:partial=>"suggested_request", :collection=>@suggested_requests) %>
    </div>
  <% end %>
</div>

<% if current_user.has_role?('Admin') or current_user.has_role?('ServiceLineResp') %>
  <%= select_tag('choose_name', options_for_select(@people, session['workload_person_id'].to_i), {:onchange=>"change_workload(this.value)"}) %>
  <%= link_to_function('Iterations filter', "Effect.toggle('filters','blind', {duration: 0.5});",{:class=>"btnlnk"}) %>
  <% if APP_CONFIG['workloads_view_by_project_menu'] %>
    <%= link_to('Switch to project view', {:controller=>'project_workloads'}, {:class=>'btnlnk'}) %>
  <% end %>
  <br/>
  <br/>
<% end %>
<div id="filters" style="display:none;border:1px solid #DDD;margin-top:25px;background: #EEE;">
<!-- <form action="/project_workloads/index/filter_persons_iterations" name="filter_persons_iterations" method="post"> -->
<% form_tag(:action=>'index') do %>
<table>
  <tr valign="top">
    <td>
      <b><a href="#" onclick="check_uncheck(this,'project_ids[]')" >Projects</a></b><br/>
      <% @projects = Project.find(:all, :order=>:project_code) %>
      <input id="disable_filter" type="checkbox" value="0" name="project_ids[]"><b>Disable filter</b></input><br/>
      <% if @projects %>
        <% for p in @projects %>
          <%= check_box_tag('project_ids[]', p.id, session['workload_person_project_ids'].include?(p.id.to_s)) %><%= "#{p.name} (#{p.wl_lines.size})"%><br/>
        <% end %>
      <% end %>
    </td>
    <td>
    <td>
      <b><a href="#" onclick="check_uncheck(this,'iterations_ids[]')" >Iterations</a></b><br/><br/>
      <% @iterations= Iteration.find(:all, :order=>:project_code) %>
      <% if @iterations %>
      <% previous_project = @iterations.first.project_code %>
      <b><a href="#" onclick="check_uncheck_iterations(this,'iterations_<%= previous_project %>')" ><%= @iterations.first.project.name %></a></b><br/><br/>
        <% for i in @iterations %>
          <% actual_project = i.project_code %>
          <% if actual_project!=previous_project %>
            <br/><b><a href="#" onclick="check_uncheck_iterations(this,'iterations_<%= actual_project %>')" ><%= i.project.name %></a></b><br/>
            <% previous_project = actual_project %>
          <% end %>
          <input id="iterations_<%= actual_project %>" type="checkbox" value="<%= i.id%>" name="iterations_ids[]"><%= "#{i.name}"%></input><br/>

        <% end %>
      <% end %>
    </td>
  </tr>
</table>
<%= submit_tag('Filter') %>
<!-- <button class="btnlnk" type="button" id="submit_filter" onclick="verify_filter(this)">Filter</button> -->
<% end %>
</div>
<br/>
<%= render(:partial=>"workload") %>

<script>
  set_fixed_header(<%=APP_CONFIG['workloads_max_height']%>);
  new Draggable(wl_line_add_form); // does not mix well with scrollbar
</script>

