
<%= render(:partial=>'workloads/last_sdp_update') %>
<%= image_tag('loading.gif', :id=>'loading', :style=>"display:none;position:fixed;left:500px;") %>

<div id="edit_line"></div>
<div id="wl_line_add_form" class="popup" style="display:none;">
  <%= link_to_function(image_tag("close.png", :style=>"float: right;margin-top:20px;"),"$('wl_line_add_form').fade({duration:0.2});") %><br/>
  <div class="title">Add a line</div>
  <% if APP_CONFIG['workloads_add_by_request_number'] %>
    By request number
    <% form_remote_tag(:url=>{:action => "add_by_request"}) do %>
      <%= render(:partial=>"wl_person") %>
      <%= label_tag(:request_id, "Request #") %>
      <%= text_field_tag(:request_id, nil, {:id=>'input_request', :size=>5}) %>
      <%= submit_tag("Add") %>
    <% end %>
    <br/>
  <% end %>
  By name ("Holidays", "Training",...)
  <% form_remote_tag(:url=>{:action => "add_by_name"}) do %>
    <%= render(:partial=>"wl_person") %>
    <%= label_tag(:name, "Name") %>
    <%= text_area_tag(:name, nil, {:id=>'input_name', :cols=>50, :rows=>3}) %>
    <%= submit_tag("Add") %>
  <% end %>
  <% if APP_CONFIG['workloads_add_by_sdp_task'] %>
    <br/>
    By SDP task
    <% form_remote_tag(:url=>{:action => "add_by_sdp_task"}) do %>
      <%= render(:partial=>"wl_person") %>
      <%= render(:partial=>"sdp_tasks", :locals=>{:edit_line=>nil, :partial_id=>"sdp_tasks_add_by_sdp_task"}) %>
    <% end %>
  <% end %>
  <% if APP_CONFIG['workloads_add_by_project'] %>
    <br/>
    By project
    <% form_remote_tag(:url=>{:action => "add_by_project"}) do %>
      <%= render(:partial=>"wl_person") %>
      <%= label_tag(:sdp_task, "Project") %>
      <%= select_tag('project_id', options_for_select(@projects), {:id=>"project_id"}) %>
      <%= submit_tag("Add") %>
    <% end %>
  <% end %>
  <% if APP_CONFIG['workloads_suggested_request'] %>
    <br/>
    <b>Suggested requests:</b><br/>
    <div id="suggested_requests">
      <%= render(:partial=>"suggested_request", :collection=>@suggested_requests) %>
    </div>
  <% end %>
</div>

<% if current_user.has_role?('Admin') or current_user.has_role?('ServiceLineResp') %>
  <%= select_tag('choose_name', options_for_select(@people, session['workload_person_id'].to_i), {:onchange=>"change_workload(this.value)"}) %>
<% end %>
<%= link_to_function('Filters', "Effect.toggle('filters','blind', {duration: 0.5});",{:class=>"btnlnk"}) %>
<% if current_user.has_role?('Admin') or current_user.has_role?('ServiceLineResp') %>
  <% if APP_CONFIG['workloads_view_by_project_menu'] %>
    <%= link_to('Switch to project view', {:controller=>'project_workloads'}, {:class=>'btnlnk'}) %>
  <% end %>
<% end %>
<%= render(:partial=>"workload") %>

<script>
  set_fixed_header(<%=APP_CONFIG['workloads_max_height']+ ( @tasks_header * 22)%>);
  new Draggable(wl_line_add_form); // does not mix well with scrollbar
</script>

