<%= @workloads.size %> workloads<br/>
<br/>
<table>
  <tr style="font-weight:bold;">
    <td colspan="3"></td>
    <% for w in @workloads.first.months %>
        <td><%= w %></td>
    <% end %>
  </tr>

  <tr style="font-weight:bold;">
    <td>Name</td>
    <td>Next 5 weeks</td>
    <td>Next 3 months</td>
    <% for w in @workloads.first.weeks %>
        <td><%= w %></td>
    <% end %>
  </tr>

  <%= render(:partial=>'conso_line', :collection=>@workloads) %>


  <tr style="font-weight:bold;">
    <td>Total</td>
    <% for w in @totals %>
      <td align="center"><%= w %>%</td>
    <% end %>
  </tr>

  <tr style="font-weight:bold;">
    <td>Capped total</td>
    <% for w in @cap_totals %>
      <td align="center"><%= w %>%</td>
    <% end %>
  </tr>

</table>
<br/>
<br/>
<%= image_tag(@chart_url) %>

