<b><%= @not_in_workload.size %></b> <%= link_to_function('requests are not in workloads', "$('tbv_requests').toggle();")%>:
<b><%= @not_in_workload_days %></b> days not in the workload (including 20% gain)<br/>
<div id="tbv_requests" style="display:none;">
<%= render(:partial=>'workloads/request', :collection=>@not_in_workload) %>
</div>
<b><%= @total_planned_days %></b> days planned on <b><%= @total_days %></b> SDP or "to be validated" days (<%= ((@total_planned_days*100 / @total_days /0.1).round * 0.1) %>%) (minus 20% for to be validated requests)<br/>
To be validated in workloads remaining total: <%= @to_be_validated_in_wl_remaining_total %><br/>
<br/>
<%= @workloads.size %> workloads<br/>
<br/>

<table>
  <tr style="font-weight:bold;">
    <td colspan="4"></td>
    <% for w in @workloads.first.months %>
        <td><%= w %></td>
    <% end %>
  </tr>

  <tr style="font-weight:bold;">
    <td>Name</td>
    <td>To plan</td>
    <td>Next 5 weeks</td>
    <td>Next 3 months</td>
    <% for w in @workloads.first.weeks %>
        <td><%= w %></td>
    <% end %>
  </tr>

  <%= render(:partial=>'conso_line', :collection=>@workloads) %>

  <tr style="font-weight:bold;">
    <td>Total</td>
    <td align="center"><%= @totals[0] %></td>
    <% for w in @totals[1..-1] %>
      <td align="center"><%= w %>%</td>
    <% end %>
  </tr>

  <tr style="font-weight:bold;">
    <td>Capped total</td>
    <td align="center"><%= @cap_totals[0] %></td>
    <% for w in @cap_totals[1..-1] %>
      <td align="center"><%= w %>%</td>
    <% end %>
  </tr>
  
  <tr style="font-weight:bold;">
    <td>Availability</td>
    <% for w in @avail_totals %>
      <td align="center"><%= w %></td>
    <% end %>
  </tr>

</table>
<br/>
<br/>
<%= image_tag(@chart_url) %>
<br/>
<br/>
render time: <%= Time.now-@start_time %> secs. <%= Time.now().to_formatted_s(:db) %><br/>

