  <table class="grid">
  <tr class="grid header">
  <td>Date</td>
  <td>Initial</td>
  <td>SDP Rem.</td>
  <td>WL Rem.</td>
  <td>Months</td>
  <td>Balance</td>
  <td>Gain</td>
  <td>Action</td>
  </tr>

  <tbody id="sdp_table">
    <%= render(:partial=>"sdp_logs/log", :collection=>@sdp_logs) %>
    <tr style="background-color: #EEE;">
	<% 	if @last_sdp_update != nil
	   		table_date = @last_sdp_update.to_date
		else
			table_date = "Never"
		end
	%>
    <td align="right"><%= table_date %></td>
    <td align="right"><%= @balance[:initial] %></td>
    <td align="right"><%= @balance[:remaining] %></td>
    <td align="right"><%= workload.sdp_remaining_total %></td>
    <td align="right"><%= delay=(workload.sdp_remaining_total / 18 / 0.1).round * 0.1 %></td>
    <td align="right"><%= @balance[:balance] %></td>
    <td align="right"><%= @balance[:percent] %>%</td>
    <td align="center">
    <% if (current_user.has_role?('Admin') or current_user.has_role?('ServiceLineResp')) and @last_sdp_update != nil %>
    <%= link_to_remote(image_tag('add.png', :id=>'sdp_add'),
      :url=>{:controller=>'sdp_logs', :action=>'create',
        :date=>table_date,
        :person_id=>workload.person_id,
        :initial=>@balance[:initial],
        :sdp_remaining=>@balance[:remaining],
        :wl_remaining=>workload.sdp_remaining_total,
        :delay=>delay,
        :balance=>@balance[:balance],
        :percent=>@balance[:percent]},
       :update=>'sdp_table',
       :loading=>"$('sdp_add').src='/images/loading.gif'") %></td>
    <% end %>
    </tr>
  </tbody>
  </table>

<% if @sdp_logs.size > 0 %>
<%= link_to_function('Show chart', "$('sdp_chart').toggle()") %>
<div id="sdp_chart" style="display:none;">
  <%= image_tag(workload.person.sdp_graph) %>
</div>
<% end %>
