<p><%= label_tag 'name' %>
<%= text_field :wave, :name %></p>

<p><%= label_tag 'deployment date' %>
<%= text_field :req, :deployment_target_date %></p>

<p><%= label_tag 'revised deployment date' %>
<%= text_field :req, :deployment_target_date_revision %></p>

