<%= hidden_field :myaction, :project_id %>

<p><%= label_tag 'project' %>
<%= select(:myaction, :project_id, @projects_select, :include_blank=>"=== No project ===") %>
</p>

<p><%= label_tag 'action' %>
<%= text_area :myaction, :action, {:rows=>3} %></p>

<p><%= label_tag 'Type' %>
<%= radio_button :myaction, :private, 0 %> Public
<%= radio_button :myaction, :private, 1 %> Private
</p>


<p><%= label_tag 'person_id' %>
<%= select(:myaction, :person_id, @people.map {|u| [u.name,u.id]}) %></p>

<p><%= label_tag 'creation_date' %>
<%= text_field :myaction, :creation_date %> yyyy-mm-dd</p>

<p><%= label_tag 'due_date' %>
<%= text_field :myaction, :due_date %></p>

<p><%= label_tag 'progress' %>
<%= radio_button :myaction, :progress, :open %> Open
<%= radio_button :myaction, :progress, :in_progress %> In progress
<%= radio_button :myaction, :progress, :closed %> Closed
<%= radio_button :myaction, :progress, :abandonned %> Abandonned
</p>

<p><%= label_tag 'result' %>
<%= text_area :myaction, :result, {:rows=>3} %></p>
