<li>
<b><% if(a.project != nil) %>
     <%= a.project.full_name %>
   <% else %>
     No Project Name
   <% end %>
</b>
<%= a.action %>
<% if a.due_date %>
<%= a.due_date %>
(<%= time_ago_in_words(a.due_date) %>)
<% end %>
<u><%= a.result %></u>
</li>
