<h2>My actions</h2>
<%= @actions.size %> actions<br/>

<%= render(:file=>'actions/actions_header') %>
<%= render(:partial=>'action', :collection=>@actions) %>
</table>
<br/>
<br/>
<%= link_to_function('Display closed actions', '$("my_closed").toggle()') %>
<div id="my_closed" style="display:none;">
<%= render(:file=>'actions/actions_header') %>
<%= render(:partial=>'action', :collection=>@actions_closed) %>
</table>
</div>

