<tr class="<%= p.css_class %>">
	<td align="right"><b><%=link_to(p.external_id, "https://sqli.steering-project.com/mantis/view.php?id=#{p.internal_id}")%></b></td>
	<td><%= p.order %></td>
	<td><%= p.status %></td>
	<td><%= p.visibility %></td>
	<td><%= p.assigned_to %></td>
	<td><% if p.strategic==1 %><%=image_tag('danger.gif')%><%end%></td>
	<td><%= p.summary %></td>
	<td><b><%= p.short_stage %></b></td>
	<td><b><%= p.sqli_validation_date_objective %></b></td>
	<td><b><%= p.sqli_validation_date_review %></b></td>
	<td><%= link_to(image_tag('edit.gif'), :action=>"edit", :id=>p.id)%></td>
</tr>
