<tr class="<%=p.is_late_css%>">
	<td align="right"><%= p.external_id %></td>
	<td><%= p.airbus_responsible %></td>
	<td><%= p.assigned_to %></td>
	<td><%= p.summary %></td>
	<td><%= p.airbus_validation_date_objective %></td>
	<td><b><%= p.airbus_validation_date_review %></b></td>
	<td><%= p.kick_off_date %></td>
</tr>
