<tr class="<%=p.is_late_css%>">
	<td align="right"><%= p.external_id %></td>
	<td><%= p.airbus_responsible %></td>
	<td><%= p.assigned_to %> <%= "(#{p.status})" if p.status=="Accepted"%></td>
	<td><%= p.summary %></td>
	<td><b><%= p.validation_date_objective %></b></td>
</tr>
