<tr class="<%=p.is_late_css%>">
	<td align="right"><%= p.external_id %></td>
	<td><%= p.airbus_responsible %></td>
	<td><%= p.assigned_to %> <%= "(#{p.status})" if p.status=="Accepted"%></td>
	<td><%= p.summary %></td>
	<td><%= p.kick_off_date %></td>
	<td><%= p.sqli_validation_date_objective %></td>
	<td><b><%= p.sqli_validation_date_review %></b></td>
</tr>
