<%= render(:file=>"tools/sdp_menu.erb") %>
<%= link_to_function("import", "$('import').toggle();", :class=>"btnlnk") %>
<div id="import" style="display:none;">
	<h2>Mantis import</h2>
	<%= form_tag({:action => 'do_upload'}, :multipart => true) %>
	  <p>
	    <label for="upload_file">Mantis CSV</label>
	    <%= file_field 'upload', 'datafile' %>
	    <%= submit_tag "Upload" %>
	  </p>
	</form>
</div>

<h2>Projects list</h2>
<ul>
	<%= render(:partial=>"ci_project", :collection=>@projects, :as=>:p) %>
</ul>
