<table class="edit">
<tr><td>Process Owner</td><td><%= text_field :stream, :process_owner %></td></tr>
<tr><td>Quality Manager</td><td><%= text_field :stream, :quality_manager %></td></tr>
<tr><td>DWL</td><td><%= text_field :stream, :dwl %></td></tr>
<tr><td>Supervisor</td><td><%= select(:stream, :supervisor_id, @supervisors.map {|p| [p.name, p.id]}, :include_blank=>true) %></td></tr>
<tr><td>Description</td><td><%= text_area :stream, :description %></td><t/r>
</table>
