<tr<% if risk.probability==0 %> style="color:#999;"<% end %>>
<td align="center" bgcolor="<%= risk.get_severity_color %>"><%= risk.severity %></td>
<td align="center"<% if risk.generic_risk_id!=nil %> style="background-color:#AAF;"<% end %>><%= risk.id %></td>
<td><%= my_simple_format(risk.context) %></td>
<td><% if risk.is_quality==1 %>Q<%end%></td>
<td><%= my_simple_format(risk.risk) %></td>
<td align="center"<%if risk.probability>=4%> bgcolor="#F55"<%end%>><%= risk.probability %> / 4</td>
<td><%= my_simple_format(risk.consequence) %></td>
<td align="center"><%= risk.impact %> / 4</td>
<td<%if (risk.probability>=4 or risk.severity>=6) and risk.actions==""%> bgcolor="#F55"<%end%>><%= my_simple_format(risk.actions) %></td>
<td><% if risk.is_ria_logged==1 %>Y<%end%></td>
<td><% if risk.is_ria_action==1 %>Y<%end%></td>
<td><%= my_time(risk.created_at) %></td>
<td><%= my_time(risk.updated_at) %></td>
<td><%= link_to('Edit', :controller=>'risks', :action=>'edit_with_stream', :id=>risk.id) %></td>
</tr>
