<h2><%= @review.review_type.title %> Review</h2>

<%= error_messages_for :review %>
<% form_for @review, :url=>{:action=>'create_review' } do |f| -%>
  <%= hidden_field(:review, :stream_id) %>
  <%= hidden_field(:review, :review_type_id) %>

  <p><%= text_area(:review, :text, {:cols=>100, :rows=>7 }) %></p>
  <%= submit_tag 'add Review' %></p>
<% end -%>

