<ul>
	<% Stream.find(:all).each do |stream| %>
		<li>
			<% 
				# Generate params
				link_title = stream.name 
				last_update_str = "No last update"
				last_update = stream.get_last_update_review
				if last_update
					last_update_str = last_update.updated_at.strftime("%Y-%m-%d %H:%M")
				end
			%>
			
			<!-- TITLE -->
			<h2>
				<%= link_to('Open', {:controller => "streams", :action => "show", :id => stream.id}, {:class=>'menu grey'}) %>
				<%= link_to link_title, :controller => "streams", :action => "show", :id => stream.id %>
			</h2>
			<!-- LAST READ DATE -->
			<p>
				<% if stream.read_date and current_user.has_role?('Admin')%>
				  <span class="bold">Last read:</span> <%= time_ago_in_words(stream.read_date) %>
				<% else %>
					<span class="bold">Last read:</span> Never Read
				<% end %>
				<!-- MARK AS READ -->
				<% if current_user.has_role?('Admin')%>
				  <%= link_to_remote('Mark as read', {:url=>{:controller=>'streams',
				     :action=>'mark_as_read', :id=>stream.id},
				     :success=>"$('markasread_#{stream.id}').fade();"},
				     {:class=>'btnlnk special', :id=>"markasread_#{stream.id}"}) %>
				<% end %>
			</p>
			<!-- INFOS -->
			<p><span class="bold">Last review update :</span>	
			<%= last_update_str %></p>
			<p><span class="bold">QS count :</span>
			<%=  stream.get_consumed_qs_count.to_s %> / <%= stream.get_qs_counter.to_s %></p>
			<p><span class="bold">Spider count :</span>
			<%=  stream.get_consumed_spider_count.to_s %> / <%= stream.get_spider_counter.to_s %></p>
		</li>
	<% end %>
</ul>