<script>
function edit(id) {
    location = '/streams/edit_review/'+id;
}
function add(id,type_id) {
	location = '/streams/add_review_form?id='+id+"&type="+type_id;
}
</script>

<p>
	<%= link_to "Stream", :controller => "streams", :action => "show", :id => @stream.id %>-
	<%= link_to "Projects", :controller => "streams", :action => "show_stream_projects", :id => @stream.id %>-
	<%= link_to "Informations", :controller => "streams", :action => "show_stream_informations", :id => @stream.id %>
	<% @stream.get_stream_review_types.each do |review_type| %>
		<%= link_to  review_type.title , :controller => "streams", :action => "show_stream_review", :id => @stream.id, :type => review_type.id %>
	<% end %>
</p>


<div>
	<%= link_to_function('Add review', "add(#{@stream.id},#{@review_type})", {:class=>'btnlnk'}) %>
	
	<% if @last_review %>
      <font color="#777777">Last read: <%= time_ago_in_words(@last_review.updated_at) %></font>
	  <%= render(:partial=>'review', :object=>@last_review) %>
    <% end %>
    <br/>
    
    <%= link_to_function("Old (#{@old_reviews.size})", "$('old_statuses').toggle();", :class=>"menu") %>
    <div id='old_statuses' style="display:none;">
      <% for s in @old_reviews %>
        <%= render(:partial=>'review', :object=>s) %>
      <% end %>
    </div>
</div>