<%= render(:file=>"streams/menu") %>

<h2><%= @stream.name %> dashboard</h2>
<p><span class="bold">QS count :</span> <%= @stream.get_consumed_qs_count.to_s %> / <%= @stream.get_qs_counter.to_s %>
<% if ((@stream.get_consumed_qs_count.to_i + 5 >= @stream.get_qs_counter.to_i) && (@stream.get_consumed_qs_count.to_i > 0)) %>
	<span class="warning"> Not enough QS tickets </span>
<% elsif ((@stream.get_consumed_qs_count.to_i >= @stream.get_qs_counter.to_i) && (@stream.get_consumed_qs_count.to_i > 0)) %>
	<span class="alert"> Not enough QS tickets </span>
<% end %>
</p>
<p><span class="bold">Spider Count :</span> <%= @stream.get_consumed_spider_count.to_s %>  / <%= @stream.get_spider_counter.to_s %>
<% if ((@stream.get_consumed_spider_count.to_i + 5 >= @stream.get_spider_counter.to_i) && (@stream.get_consumed_spider_count.to_i > 0)) %>
	<span class="warning"> Not enough Spider tickets </span>
<% elsif ((@stream.get_consumed_spider_count.to_i >= @stream.get_spider_counter.to_i) && (@stream.get_consumed_spider_count.to_i > 0 )) %>
	<span class="alert"> Not enough Spider tickets </span>
<% end %>
</p>

<p>
	<span class="bold">Status :</span>
	<% suggested_status = @stream.suggested_status %>
	<%= html_status(suggested_status) %>
</p>

<h2>Last reviews</h2>
<% @stream.get_stream_review.each { |r| %>
<div class='status_explanation'>
	<div class='status_date'>
		<span class="bold_colored"><%= r.review_type.title %></span> -  
		<span class="bold">Last edit :</span> <%= r.updated_at.strftime("%m/%d/%Y %H:%M") %>
		<span class="bold"> by </span> <%= r.author.name.to_s %>
  </div>
	<br />
	<span class="bold">Content </span>
	<p>
		<%= my_simple_format(r.text.to_s) %>
	</p>
</div>
<% } %>
