<%= render(:file=>"streams/menu") %>

<h2><%= link_to('Edit', {:action=>'edit', :id=>@stream.id}, {:class=>'btnlnk'}) %> Informations</h2>
<p><span class="bold">Supervisor: </span> 			<%= @stream.supervisor.name %></p>
<p><span class="bold">Quality Manager: </span> 	<%= @stream.quality_manager %></p>
<p><span class="bold">DWL: </span> 							<%= @stream.dwl %></p>
<p><span class="bold">Process Owner: </span> 		<%= @stream.process_owner %></p>
<p><span class="bold">Request resp:</span> 			<%= @stream.assignees.join(', ')%></p>



<h2>Review type</h2>
<% form_tag ({:controller => "streams", :action => "update_stream_review_types"}, :method => "post") do %>
	<%= hidden_field_tag('id', @stream.id) %>
	<% @reviewTypes.each do |rt| %>
		<p><%= rt.title %>
		<% checkboxName = rt.id.to_s %>
		<% if(@stream.review_types.include?(rt))%>
			<%= check_box_tag("reviewTypeForm[]",checkboxName,true) %>
		<% else %>
			<%= check_box_tag("reviewTypeForm[]",checkboxName,false) %>
		<% end %>
		</p>
	<% end %>
	<%= submit_tag "Update" %>
<% end %>


<h2>Requests</h2>
<ul>
<%= render(:partial=>'projects/request', :collection=>@stream.requests) %>
</ul>