<%= render(:file=>"streams/menu") %>

<% 
if(@creationError)
  concat '<span style="background-color:red;">Project not created, check the project informations</span>'
end
%>

<h2>Create new project</h2>
<div id="stream_project_creation">
	<div>
		<% form_tag(:action=>'create_project') do %>
		  <%= hidden_field_tag('id', @stream.id) %>
		  <p><span class="bold">Summary ([X][X][X]):</span></p>
			<p><%= text_area_tag  'summary' %></p>
		  <p><span class="bold">Project Name :</span></p>
			<p><%= text_field_tag 'project_name' %></p>
		  <%= submit_tag('Create this project for the current stream') %>
		<% end %>
	</div>
	<div>
		<p> Message ici</p>
	</div>
</div>

<h2>Projects</h2>
<ul>
<% @projects.each do |project| %>
  	<%= render(:partial=>'stream_project', :object=>project) %>
<% end %>
</ul>
