<script>
function edit(id) {
    location = '/streams/edit_review/'+id;
}
function add(id,type_id) {
	location = '/streams/add_review_form?id='+id+"&type="+type_id;
}
</script>

<%= render(:file=>"streams/menu") %>

<h2>
	<%= link_to_function('Add', "add(#{@stream.id},#{@review_type.id})", {:class=>'btnlnk'}) %> 
	<%= @review_type.title %> review
</h2>

<% if @last_review %>
	<p><span class="bold">Last update time:</span> <%= time_ago_in_words(@last_review.updated_at.strftime("%Y-%m-%d %H:%M")) %></p>
	<%= render(:partial=>'review', :object=>@last_review) %>
<% end %>

    
<%= link_to_function("Old (#{@old_reviews.size})", "$('old_statuses').toggle();", :class=>"menu") %>
<div id='old_statuses' style="display:none;">
	<% for s in @old_reviews %><br />
		<%= render(:partial=>'review', :object=>s) %>
  <% end %>
</div>

