<p>
	<%= link_to "Stream", {:controller => "streams", :action => "show", :id => @stream.id},{:class=>"btnlnk"} %>
	<%= link_to "Projects",{:controller => "streams", :action => "show_stream_projects", :id => @stream.id},{:class=>"btnlnk"}%>
	<%= link_to "Informations", {:controller => "streams", :action => "show_stream_informations", :id => @stream.id},{:class=>"btnlnk"}%>
	<% @stream.review_types.each do |review_type| %>
		<%= link_to  review_type.title , {:controller => "streams", :action => "show_stream_review", :id => @stream.id, :type => review_type.id },{:class=>"btnlnk"}%>
	<% end %>
</p>

<h3>Create new project</h3>
<% form_tag(:action=>'create_project') do %>
  <%= hidden_field_tag('id', @stream.id) %>
  Summary ([X][X][X]) : <%= text_field_tag 'summary' %>
  Project Name : 		<%= text_field_tag 'project_name' %>

  <%= submit_tag('Create this project for the current stream') %>
<% end %>

<h3>Projects</h3>
<ul>
<% @projects.each do |project| %>
  <% if project.is_running %>
  	<%= render(:partial=>'stream_project', :object=>project) %>
  <% end %>
<% end %>
</ul>
