<h2>Update DB</h2>
<%= form_tag ({:action => 'upload'}, :multipart => true) %>
<p><label for="upload_file">Mantis CSV Export</label> : 
<%= file_field 'upload', 'datafile' %>
<%= submit_tag "Upload" %></p>
</form>

<h2>Stats</h2>

Total: <b><%= @report.requests.size %></b> requests<br/>

<%@report.by_status { |title, rs| %>
  <%= report_by(title, rs, "sta") %>
<% } %>


<h2>Last changes</h2>

<%= report_by("Changes", @last, "") %>


<h2>TODO MFM</h2>

<%= report_by("SDP", @sdp, "") %>

<%= report_by("Not assigned", @not_assigned, "") %>

<h2>By workstream</h2>

<%@report.by_workstream { |title, rs| %>
  <%= report_by(title, rs, "wos") %>
<% } %>

<h2>By assigned</h2>

<%@report.by_assigned_to { |title, rs| %>
  <%= report_by(title, rs, "ass") %>
<% } %>

<h2>By progress</h2>

<%@report.by_resolution { |title, rs| %>
  <%= report_by(title, rs, "res") %>
<% } %>

<h2>By WP</h2>

<%@report.by_work_package { |title, rs| %>
  <%= report_by(title, rs, "wp") %>
<% } %>

<h2>By PM</h2>

<%@report.by_pm { |title, rs| %>
  <%= report_by(title.to_s, rs, "std") %>
<% } %>


<h2>By Start date, non assigned (todo)</h2>

<%@report.by_start_date { |title, rs| %>
  <%= report_by(title.to_s, rs, "std") %>
<% } %>

<br/>

