<h2>Update DB</h2>
<%= form_tag({:action => 'upload'}, :multipart => true) %>
<p><label for="upload_file">Mantis CSV Export</label> : 
<%= file_field 'upload', 'datafile' %>
<%= submit_tag "Upload" %></p>
</form>

<h2>Stats</h2>

Total: <b><%= @report.requests.size %></b> requests<br/>

<%@report.by_status { |title, rs| %>
  <%= report_by(title, rs, "sta") %>
<% } %>


<h2>Last changes</h2>

<%= report_by("Changes", @last, "changes") %>


<h2>TODO MFM</h2>
<%= report_by("SDP", @sdp_mfm, "sdp_mfm") %>
<%= report_by("Not assigned", @not_assigned_mfm, "not_ass_mfm") %>
<%= report_by("All MFM", @all_mine, "all_mfm") %>

<h2>TODO DAM</h2>
<%= report_by("SDP", @sdp_dam, "sdp_dam") %>
<%= report_by("Not assigned", @not_assigned_dam, "not_ass_dam") %>


<h2>Anomalies</h2>

<%= report_by("should have started", @not_started, "not_started") %>
<%= report_by("without start date", @null_start_date, "nulls") %>
<%= report_by("without milestone date", @null_milestones, "nullm") %>
<%= report_by("past milestones (should be ended)", @past_milestones, "pastm") %>
<%= report_by("ended, but no actual milestone date", @ended_without_amdate, "ended") %>
<%= report_by("ended, but not cancelled, performed or closed", @not_performed, "ended") %>
<%= report_by("cancelled with sdp", @sdp_cancelled, "sdp_cancelled") %>

<h2>By workstream</h2>

<%@report.by_workstream { |title, rs| %>
  <%= report_by(title, rs, "wos") %>
<% } %>

<h2>By assigned</h2>

<%@report.by_assigned_to { |title, rs| %>
  <%= report_by(title, rs, "ass") %>
<% } %>

<h2>By progress</h2>

<%@report.by_resolution { |title, rs| %>
  <%= report_by(title, rs, "res") %>
<% } %>

<h2>By WP</h2>

<%@report.by_work_package { |title, rs| %>
  <%= report_by(title, rs, "wp") %>
<% } %>

<h2>By project name</h2>

<%@report.by_project_name { |title, rs| %>
  <%= report_by(title, rs, "by_project_name") %>
<% } %>

<h2>By PM</h2>

<%@report.by_pm { |title, rs| %>
  <%= report_by(title.to_s, rs, "std") %>
<% } %>

<br/>

