<h2>Reminders</h2>

<% @rmt_users.each { |resp| %>

<a href='#' onclick="$('<%=resp.rmt_user%>').toggle();return false;">- <%=resp.name%> (<%=resp.rmt_user%>)</a><br/>
<div id='<%=resp.rmt_user%>' style='display:none'>
<br/>
Bonjour <%= resp.name %>,<br/>
<br/>
voici les anomalies (informations contradictoires) renseignées dans RMT qu'il faudrait corriger.<br/>
<br/>

<%= report_by("Devrait avoir démarré (soit la start date est à décaler, soit le progress doit être changé à in progress)", @not_started.select {|r| r.assigned_to == resp.rmt_user} , "not_started", true) %>
<%= report_by("Sans start date (devrait jamais arriver)", @null_start_date.select {|r| r.assigned_to == resp.rmt_user}, "nulls", true) %>
<%= report_by("Sans milestone date (ça peut être vide mais c'est rare)", @null_milestones.select {|r| r.assigned_to == resp.rmt_user}, "nullm", true) %>
<%= report_by("Jalons passés (le status devrait être ended si c'est vraiment fini ou bien la date de actual milestone doit être redéfinie)", @past_milestones.select {|r| r.assigned_to == resp.rmt_user}, "pastm", true) %>
<%= report_by("Ended, mais il manque la actual milestone date", @ended_without_amdate.select {|r| r.assigned_to == resp.rmt_user}, "ended", true) %>
<%= ci_project_report_by("Tes Ci-projects", @ci_projects_all.select {|ci| ci.assigned_to == resp.rmt_user}, "ciprojectall", true) %>
<%= ci_project_report_by("Tes Ci-projects en retard par rapport à la date review", @ci_projects_late.select {|ci| ci.assigned_to == resp.rmt_user}, "ciprojectall", true, "review") %>
<%= ci_project_report_by("Tes Ci-projects en retard par rapport à la date objective", @ci_projects_late_objective.select {|ci| ci.assigned_to == resp.rmt_user}, "ciprojectall", true, "objective") %>
<%= ci_project_report_by("Tes Ci-projects sans Kick-off date", @ci_projects_assigned_without_kickoff.select {|ci| ci.assigned_to == resp.rmt_user}, "ciprojectall", true) %>

<br/>

A+,<br/>
Joan.<br/>
(Mail autogénéré. Me contacter en cas de problème.)<br/>
<br/>
<br/>
<%= report_by("En cadeau, toutes  tes requêtes", @all.select {|r| r.assigned_to == resp.rmt_user}, "ended", true) %>
<hr>
</div>

<% } %>

