<h2>Update DB</h2>
Last RMT update: <%= time_ago_in_words(@last_update) %> ago (<%= @last_update %>)<br/>
<br/>
<%= form_tag({:action => 'upload'}, :multipart => true) %>
<p><label for="upload_file">Mantis CSV</label> : 
<%= file_field 'upload', 'datafile' %>
<%= submit_tag "Upload" %></p>
</form>
