<h2>RMT import</h2>
<% if @last_update != nil %>
	<% last_rmt_update_ago_in_words = time_ago_in_words(@last_update) %>
	<% last_rmt_update_ago = @last_update %>
<% else %>
	<% last_rmt_update_ago_in_words = "Never" %>
	<% last_rmt_update_ago = "Never" %>
<% end %>
Last RMT update: <%= last_rmt_update_ago_in_words %> ago (<%= last_rmt_update_ago %>)<br/>
<br/>
<%= form_tag({:action => 'upload'}, :multipart => true) %>
<p><label for="upload_file">Mantis CSV</label>
<%= file_field 'upload', 'datafile' %>
<%= submit_tag "Upload" %></p>
</form>

<h2>SDP import</h2>
<% if @last_sdp_update != nil %>
	<% last_sdp_update_ago_in_words = time_ago_in_words(@last_sdp_update) %>
	<% last_sdp_update_ago = @last_sdp_update %>
<% else %>
	<% last_sdp_update_ago_in_words = "Never" %>
	<% last_sdp_update_ago = "Never" %>
<% end %>
Last SDP update: <%= last_sdp_update_ago_in_words %> ago (<%= last_sdp_update_ago %>)<br/>
<%= form_tag({:controller=>'tools', :action => 'do_sdp_upload'}, :multipart => true) %>
<p><label for="upload_file">SDP CSV</label>
<%= hidden_field_tag(:conf, APP_CONFIG['task_import_config']) %>
<%= file_field 'upload', 'datafile' %>
<%= submit_tag "Upload" %></p>
</form>

<%= link_to('more import choices', :controller=>'tools', :action=>'sdp_import') %>