<div id='presale_comment_<%=presale_comment.id%>'>
  <div class='presale_comment_date'>
				<%= presale_comment.updated_at.strftime("%Y-%m-%d %H:%M")%> -
        <%= presale_comment.person.name if presale_comment.person %>

        <%=link_to_function('Edit', "edit(#{presale_comment.id});")%>
  </div>

	<div class='status_explanation'>
	<table>
		<tr>
			<td><%= my_simple_format(presale_comment.comment) %></td>
		</tr>
	</table>
  </div>
</div>

<br />

