<script>
$j( document ).ready(function() {
    $j( "#presale_presale_type_milestone_date" ).datepicker();
    $j( "#presale_presale_type_buyside_launch_date" ).datepicker();
    $j( "#presale_presale_type_buyside_accepted_date" ).datepicker();
});
</script>

<%= hidden_field(:presale_presale_type, :id, :value=>@presale_presale_type.id) %>

<p>Milestone</p>
<p><%= select(:presale_presale_type, :milestone_name_id, @milestone_names.map {|m| [m.title, m.id]}, :size => @milestone_names.size ) %></p>
<p>Opportunity Number</p>
<p><%= text_field :presale_presale_type, :opportunity_number, :class => "presale_type_detail_tf" %></p>
<p>Status</p>
<p><%= select(:presale_presale_type, :status, @status, :size => @status.size ) %></p>
<p>Complexity</p>
<p><%= select(:presale_presale_type, :complexity, @complexity, :size => @complexity.size ) %></p>
<p>Milestone Date</p>
<p><%= text_field :presale_presale_type, :milestone_date, :class => "presale_type_detail_tf" %></p>
<p>Buyside launch Date</p>
<p><%= text_field :presale_presale_type, :buyside_launch_date, :class => "presale_type_detail_tf" %></p>
<p>Buyside accepted Date</p>
<p><%= text_field :presale_presale_type, :buyside_accepted_date, :class => "presale_type_detail_tf" %></p>
