<script src="/javascripts/jquery-1.11.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
  var $j = jQuery.noConflict();
</script>
<script src="/javascripts/tool.js"></script>

<div id="priority_milestones"></div>
<h3>Projects with presales</h3>
<table id="presales_table_1" class="sortable">
<thead>
	<tr>
		<th class="priority_setting_up">Priority Setting-up</th><th class="priority">Priority</th><th>ID</th><th>Name</th><th >Workstream</th><th>PM</th><th>Suite Name</th><th></th><th id="status_th">Status</th>
	</tr>
</thead>
<tbody>
<% status_number_max = 0 %>
<% i = 0 %>
<% @projects_with_presales.each do |p| %>
	<% name = "" %>
	<% name += p.project.name+" > " if p.project %>
	<% name += p.name %>

	<tr>
		<td><%= Presale.get_priority_message(@priorities_setting_up[p.id]) %></td>
		<td><%= Presale.get_priority_message(@priorities[p.id]) %></td>
		<td><%= p.id %></td>
		<td><%=link_to(name, :controller=>'projects', :action=>'show', :id=>p.id) %></td>
		<td><%= p.workstream %></td>
		<td><%= p.pm %></td>
		<td><%= p.suite_tag.name if p.suite_tag %></td>
		<td><%= button_to "Presale",  {:action=>'show_presale', :id=>p.id} %></td>
		<% status_number = 0 %>
		<% p.presales[0].presale_parameters.each do |pp| %>
			<% parameter_class = nil %>
			<% pp.status == true ? parameter_class = "presale_parameter_active" : parameter_class = "presale_parameter_inactive" %>
			<td><span class="<%= parameter_class%>"><%= pp.presale_type.title %></span></td>
			<% status_number += 1%>
			<% status_number_max = status_number if status_number_max < status_number %>
		<% end %>
	</tr>
	<% i = i + 1 %>
<% end %>
</tbody>
</table>


<h3>Projects without presales</h3>
<table id="presales_table_2" class="sortable">
<thead>
	<tr><th class="priority_setting_up">Priority Setting-up</th><th class="priority">Priority</th><th>ID</th><th>Name</th><th>Workstream</th><th>PM</th><th>Suite Name</th><th></th></tr>
</thead>
<tbody>
<% i = 0 %>
<% @projects_without_presales.each do |p| %>
	<% name = "" %>
	<% name += p.project.name+" > " if p.project %>
	<% name += p.name %>

	<tr>
		<td><%= Presale.get_priority_message(@priorities_setting_up[p.id]) %></td>
		<td><%= Presale.get_priority_message(@priorities[p.id]) %></td>	
		<td><%= p.id %></td>
		<td><%=link_to(name, :controller=>'projects', :action=>'show', :id=>p.id) %></td>
		<td><%= p.workstream %></td>
		<td><%= p.pm %></td>
		<td><%= p.suite_tag.name if p.suite_tag %></td>
		<td><%= button_to "Create presale",  {:action=>'show_presale', :id=>p.id} %></td>
	</tr>

	<% i = i + 1 %>
<% end %>
</tbody>
</table>

<script type="text/javascript">
  jQuery( document ).ready(function() {
  	jQuery("#status_th").attr('colspan', <%= status_number_max %>);

    jQuery(".priority_setting_up").hover(
      function(e) {
        jQuery("#priority_milestones").show();
        jQuery("#priority_milestones").html("<%= APP_CONFIG['presale_milestones_priority_setting_up'].join(',') %>");
        jQuery("#priority_milestones").css({top:e.pageY, left:e.pageX});
      }, function() {
      	 jQuery("#priority_milestones").hide();
      }
    );
  });
  jQuery( document ).ready(function() {
    jQuery(".priority").hover(
      function(e) {
        jQuery("#priority_milestones").show();
        jQuery("#priority_milestones").html("<%= APP_CONFIG['presale_milestones_priority'].join(',') %>");
        jQuery("#priority_milestones").css({top:e.pageY, left:e.pageX});
      }, function() {
      	 jQuery("#priority_milestones").hide();
      }
    );
  });
 </script>