<table class="edit">
<tr><td>Project</td><td><%= text_field :project, :name %></td></tr>
<tr><td>Workstream</td><td><%= text_field :project, :workstream %></td></tr>
<td>BRN</td><td><%= text_field :project, :brn %></td></tr>
<td>Coordinator</td><td><%= text_field :project, :coordinator %></td></tr>
<td>PM</td><td><%= text_field :project, :pm %> from RMT: <%=@project.request_pm.join(', ')%></td></tr>
<td>PM deputy</td><td><%= text_field :project, :pm_deputy %></td></tr>
<td>BPL</td><td><%= text_field :project, :bpl %></td></tr>
<td>ISPL</td><td><%= text_field :project, :ispl %></td></tr>
<td>ISPM</td><td><%= text_field :project, :ispm %></td></tr>
<td>Supervisor</td><td><%= select(:project, :supervisor_id, @supervisors.map {|p| [p.name, p.id]}, :include_blank=>true) %></td></tr>
<td>Lifecycle</td><td><%= select(:project, :lifecycle, [['Full GPP',0], ['Light GPP',1], ['Maintenance',2], ['LBIP',3], ]) %></td></tr>
<td>Description</td><td><%= text_area :project, :description %></td></tr>
</table>

