
<h3>
  <%= link_to('Open', {:action=>'show', :id=>project.id}, {:class=>'menu grey'}) %>
  <%= submit_tag 'Show Timeline', :class=>"menu grey", :onclick=>"show_timeline(" + project.id.to_s + ")" %>
  <% next_m_date = project.next_milestone_date;  bool = (next_m_date and next_m_date-Date.today() <= 5) %>
  <% if bool %><font color="red"><% end %>
  <%= next_m_date %>
  <%= project.workstream %>
  <%= project.full_name %>
  <% if bool %></font><% end %>
  <%= html_status(project.last_status) %>
  <% date = project.last_status_date
  if date
    days = time_ago_in_words(date) %>
    (<%= days %> - w<%= date.to_date.cweek %>)
  <% end %>

  <% if project.read_date and current_user.has_role?('Admin')%>
    <font color="#777777">
    Last read: <%= time_ago_in_words(project.read_date) %>
    </font>
  <% end %>
  <% if current_user.has_role?('Admin')%>
    <%= link_to_remote('Mark as read', {:url=>{:controller=>'projects',
     :action=>'mark_as_read', :id=>project.id},
     :success=>"$('markasread_#{project.id}').fade();"},
     {:class=>'btnlnk special', :id=>"markasread_#{project.id}"}) %>
  <% end %>
</h3>

<div id="milestone_ajax_div_<%= project.id.to_s %>" class="milestone_bar"></div>
