<li id="req_<%= import[:id] %>">
<!-- Project -->
<% if import[:workpackage][0..4] != "WP7.1" %>
<%  #TEST
	#if import[:workpackage][0..4] != "WP6.4" %>
	<% if not Project.find_by_name(import[:project_name]) %>
	<strong>new project</strong>
	<% end %>
	<% if not Project.find_by_name(get_workpackage_name_from_summary(import[:summary], import[:project_name])) %>
	<strong>new WP</strong>
	<% end %>

	<%= link_to_remote('link to project', :url=>{:action=>'link', :id=>import[:id], :project_name=>import[:project_name]}, :update=>"req_#{import[:id]}") %>

	
<% else %>
<!-- Stream -->
	<% if not Stream.find_with_workstream(import[:workstream]) %>
		<strong>Stream not found</strong>
	<% end %>
	<%= link_to_remote('link to stream', :url=>{:controller=>'streams', :action=>'link', :id=>import[:id]}, :update=>"req_#{import[:id]}") %>
<% end %>


<%= import[:workstream] %>
<%= import[:summary] %>
</li>
