<li id="p_<%=project.id%>">
<%= link_to_function(image_tag('expand.gif'), "$('sub_#{project.id}').toggle();") %>
<%= project.workstream %>
<%=link_to(project.name, :action=>'show', :id=>project.id) %>
( <b><%= project.projects.size + project.requests.size %></b> )
<%= project.html_status %>
<% date = project.last_status_date;
if date  
  days = time_ago_in_words(date) %>
  (<%= days %>)
<% end %>
<%= link_to_remote(image_tag('cut.png'), :url=>{:action=>'cut', :id=>project.id}) %>
<%= link_to_remote(image_tag('paste.png'), :url=>{:action=>'paste', :id=>project.id}) %>
<%= link_to_remote(image_tag('delete.gif'), :url=>{:action=>'destroy', :id=>project.id}, :confirm=>"Sure?", :success=>"$('p_#{project.id}').hide();") %>
<% if project.project==nil and project.supervisor_id==nil %>
<strong>no supervisor</strong>
<% end %>
<ul id="sub_<%=project.id%>" style="display:none;">
  <%= render(:partial=>'request', :collection=>project.requests) %>
  <%= render(:partial=>'project', :collection=>project.projects) %>
</ul>
</li>
