<li class="report_project">
<h2><%= report.workstream %> <%= report.name %> <%= report.html_status %></h2>
<h3>Actions</h3>
<ul>
  <%= render(:partial=>'actions/action_report', :collection=>report.current_actions) %>
</ul>
<ul>
<% status = report.get_status
  if status.explanation != "unknown" %>
Status: (<%= report.last_status_date %> days)<br/>
<ul>
  <%= simple_format(status.explanation) %>
</ul>
<% end %>
  <% if report.requests.size > 0 %>
  <ul>
    <%= render(:partial=>'request', :collection=>report.requests) %>
  </ul>
  <% end %>
  <%= render(:partial=>'subreport', :collection=>report.projects) %>
</ul>
</li>
