<span class="<%= report_request.sanitized_status %>">
#<%= report_request.request_id %>
<b><%= report_request.work_package %></b>
<%= report_request.milestone %>
<%= report_request.complexity %>
<%= report_request.assigned_to %>
<%= report_request.status %>
<%= report_request.resolution %>
<%= report_request.foreseen_end_date_str %>
</span>
<br/>

