<li class="report_project">
<h2 class="project_name"><%= report.workstream %> <%= report.name %> <%= html_status(report.last_status) %></h2>
<%= report.supervisor_name %><br/>

<% status = report.get_status
  if status.explanation != "unknown" %>
<b>Status:</b> <% date = report.last_status_date;
if date
  days = time_ago_in_words(date) %>
  (<%= days %>)
<% end %>
<br/>
<ul>
  <%= simple_format(status.explanation) %>
</ul>
<% end %>

<%
  cur = report.current_actions
  if cur.size > 0
%>
<b>Actions:</b><br/>
<ul>
  <%= render(:partial=>'actions/action_report', :collection=>cur) %>
</ul>
<% end %>

  <% if report.requests.size > 0 %>
  <b>Requests:</b>
  <ul>
    <%= render(:partial=>'request', :collection=>report.requests) %>
  </ul>
  <% end %>
<ul>
  <%= render(:partial=>'subreport', :collection=>report.projects) %>
</ul>
</li>
