<span class="<%= request.sanitized_status %>">
<a href="http://toulouse.sqli.com/EMN/view.php?id=<%= request.request_id %>"><%= request.request_id %></a>
<b><%= request.work_package %></b>
<%= request.assigned_to %>
<%= request.status %>
<%= request.resolution %>
</span>
<br/>
