<span class="<%= request.sanitized_status %>">
<a target="_blank" href="http://toulouse.sqli.com/EMN/view.php?id=<%= request.request_id %>"><%= request.request_id %></a>
<b><%= request.work_package %></b>
<%= request.milestone %>
<%= request.complexity %>
(<%= request.workload2 %>)
<%= request.assigned_to %>
<%= request.status %>
<%= request.resolution %>
<%= request.foreseen_end_date_str %>
</span>
<%= link_to_remote(image_tag('cut.png'), :url=>{:controller=>'welcome', :action=>'cut', :id=>request.id}) %>
<br/>

