<tr<% if risk.probability==0 %> style="color:#999;"<% end %>>
<td align="center"<%if risk.probability>=4 %> bgcolor="#A00"<%elsif risk.severity>=8  %> bgcolor="#F00"<%elsif risk.severity>=6 %> bgcolor="#FA0"<%elsif risk.severity>=3 %> bgcolor="#FF9"<%else%> bgcolor="#AFA"<%end%>><%= risk.severity %></td>
<td align="center"<% if risk.generic_risk_id!=nil %> style="background-color:#AAF;"<% end %>><%= risk.id %></td>
<td><%= my_simple_format(risk.context) %></td>
<td><% if risk.is_quality==1 %>Q<%end%></td>
<td><%= my_simple_format(risk.risk) %></td>
<td align="center"<%if risk.probability>=4%> bgcolor="#F55"<%end%>><%= risk.probability %> / 4</td>
<td><%= my_simple_format(risk.consequence) %></td>
<td align="center"><%= risk.impact %> / 3</td>
<td<%if (risk.probability>=4 or risk.severity>=6) and risk.actions==""%> bgcolor="#F55"<%end%>><%= my_simple_format(risk.actions) %></td>
<td><%= my_time(risk.created_at) %></td>
<td><%= my_time(risk.updated_at) %></td>
<td><%= link_to('Edit', :controller=>'risks', :action=>'edit', :id=>risk.id) %></td>
</tr>
