<li class="report_project">
<div class="sub_name"><%= subreport.workstream %> <%= subreport.name %> <%= html_status(subreport.last_status) %>

<% if subreport.projects.size == 0 and subreport.open_requests.size == 0 %>
<strong>No open request</strong>
<% end %>

</div>


<%
  cur = subreport.current_actions
  if cur.size > 0
%>
<b>Actions:</b>
<ul>
  <%= render(:partial=>'actions/action_report', :collection=>cur) %>
</ul>
<br/>
<% end %>
<% status = subreport.get_status
  if status.explanation != "unknown" %>
<b>Status:</b> <% date = subreport.last_status_date;
if date
  days = time_ago_in_words(date) %>
  (<%= days %>)
<% end %>
<br/>
<ul>
  <%= simple_format(status.explanation) %>
</ul>
<% end %>
<% if subreport.requests.size > 0 %>
  <b>Requests:</b>
  <ul>
    <%= render(:partial=>'request', :collection=>subreport.requests) %>
  </ul>
<% end %>
<ul>
  <%= render(:partial=>'subreport', :collection=>subreport.projects) %>
</ul>
</li>

