<li class="report_project">
<div class="sub_name"><%= subreport.workstream %> <%= subreport.name %> <%= subreport.html_status %></div>
<h3>Actions</h3>
<ul>
  <%= render(:partial=>'actions/action_report', :collection=>subreport.current_actions) %>
</ul>
<br/>
<% status = subreport.get_status
  if status.explanation != "unknown" %>
Status: (<%= subreport.last_status_date %> days)<br/>
<ul>
  <%= simple_format(status.explanation) %>
</ul>
<% end %>
  <% if subreport.requests.size > 0 %>
  Requests:
  <ul>
    <%= render(:partial=>'request', :collection=>subreport.requests) %>
  </ul>
  <% end %>
  <%= render(:partial=>'subreport', :collection=>subreport.projects) %>
</li>
