<%= render(:file=>"projects/change_script") %>

<div id="submenu">
<h2><%= @project.full_name %></h2>
</div>

<div id="subcontent">
<%= error_messages_for :status %>
<% form_for @status, :url=>{:action=>'add_status', :project_id=>@project.id} do |f| -%>
  <%= render(:partial => 'status_form') %>
  <p><label>&nbsp;</label>
		<%= hidden_field_tag 'AQ_status', 'YES' %>
		<%= tag "input", { "type" => "button", "value" => "add status", "onclick" => "qsValidation();" } %></p>
<% end -%>
</div>
