<h2>Check</h2>
<%= link_to('Projects', {:action=>'index'},{:class=>"btnlnk"}) %>
<br/>
<br/>
<%= @text %>
<br/>
<ul>
<%= render(:partial=>'project', :collection=>@projects) %>
</ul>

<h3>Root requests</h3>
<ul>
<%= render(:partial=>'project', :collection=>@root_requests) %>
</ul>

<h3>Missing associations</h3>
<ul>
<%= render(:partial=>'missing', :collection=>@missing_associations) %>
</ul>

