<script type="text/javascript">
  var _checkIsDirty  = 1;
  var _formChanged   = 0;
  window.onbeforeunload = function() {
    if(_checkIsDirty && _formChanged) return "Caution! The changes are not saved!";
    }
  function formChanged() {
    _formChanged   = 1;
    }
  function formSave() {
    _checkIsDirty = 0;
    document.forms[0].submit();
    }
</script>


<h2><%= @project.name %> Status</h2>

<strong>You should add a new status rather than edit an old one unless it is a minor edit</strong>

<%= error_messages_for :status %>
<% form_for @status, :url=>{:action=>'update_status', :id=>@status.id} do |f| -%>
  <%= render(:partial => 'status_form') %>
  <p><label>&nbsp;</label>
  <%= check_box_tag(:update, '1', @project.get_status.is_current?) %> update timestamp
  <%= submit_tag 'Update', :onclick=>"formSave();" %></p>
<% end -%>

