<%= render(:file=>"projects/change_script") %>

<h2><%= @project.name %> Status</h2>

<%= error_messages_for :status %>
<% form_for @status, :url=>{:action=>'update_status', :id=>@status.id} do |f| -%>
  <%= render(:partial => 'status_form') %>
  <p><label>&nbsp;</label>
  <%= check_box_tag(:update, '1', @project.get_status.is_current?) %> update timestamp
  <%= submit_tag 'Update', :onclick=>"formSave();" %></p>
<% end -%>

