<h2>Projects</h2>
<% if current_user.has_role?('Admin') %>
<%= link_to('Import', {:action=>'import'},{:class=>"btnlnk"}) %>
<%= link_to('Check', {:action=>'check'},{:class=>"btnlnk"}) %>
<% end %>
<%= link_to('Report', {:action=>'report'},{:class=>"btnlnk"}) %>
<%= link_to('Summary', {:action=>'summary'},{:class=>"btnlnk"}) %>
Last RMT update: <%= time_ago_in_words(@last_update) %> ago (<%= @last_update %>)<br/>
<%= @projects.size %> projects, <%= @wps.size %> WPs with open requests and a status

<div class="legend">
  <div class="milestone">
  <div class="milestone_name blank">
  No date
  </div>
  <div class="milestone_comments status-1">
  No request
  </div>
  </div>

  <div class="milestone">
  <div class="milestone_name missing">
  No date
  </div>
  <div class="milestone_comments status0">
  Some requests
  </div>
  </div>


  <div class="milestone">
  <div class="milestone_name normal">
  Date OK
  </div>
  <div class="milestone_comments status0">
  No info
  </div>
  </div>


  <div class="milestone">
  <div class="milestone_name soon">
  2 weeks
  </div>
  <div class="milestone_comments status1">
  GO
  </div>
  </div>

  <div class="milestone">
  <div class="milestone_name verysoon">
  1 w / late
  </div>
  <div class="milestone_comments status2">
  GO w/a
  </div>
  </div>

  <div class="milestone">
  <div class="milestone_name passed">
  Passed
  </div>
  <div class="milestone_comments status3">
  NO GO
  </div>
  </div>

  <div class="milestone">
  <div class="milestone_name skipped">
  Skipped
  </div>
  <div class="milestone_comments status0">
  no info
  </div>
  </div>
</div>


<%= link_to_function('filters', "$('filters').toggle();") %>
<% if(are_filtered) %><strong>filtered</strong><% end %>
<div id="filters" style="display:none;">
<% form_tag(:action=>'filter') do %>
<table>
<tr valign="top"><td>
<b>Status</b><br/>
<%= check_box_tag('st[]', 0) %> unknown<br/>
<%= check_box_tag('st[]', 1) %> green<br/>
<%= check_box_tag('st[]', 2) %> amber<br/>
<%= check_box_tag('st[]', 3) %> red<br/>
</td><td>
<b>Workstreams</b><br/>
<% for workstream in @workstreams %>
  <%= check_box_tag('ws[]',workstream) %> <%= workstream %><br/>
<% end %>
</td><td>
<b>Supervisors</b><br/>
<% for s in @supervisors %>
  <%= check_box_tag('sup[]',s.id) %> <%= s.name %><br/>
<% end %>
</td><td>
<b>QR</b><br/>
<% for s in @qr %>
  <%= check_box_tag('qr[]',s.id) %> <%= s.name %><br/>
<% end %>
</td></tr>
<tr>
<td colspan=4>
Text: <%= text_field_tag('text') %> precedence on other filters<br/>
Searches project title and description, statuses, request summary and PM names
</td>
</tr>
</table>
<%= submit_tag('Filter') %>
<% end %>
<br/>
</div>

<%= link_to_function('Toggle Frieze', "$('frieze').toggle()") %>
<div id="frieze"<%if current_user.has_role?('Admin')%> style="display:none;"<%end%> >
<% for project in @wps %>
<h3>
  <%= link_to('Open', {:action=>'show', :id=>project.id}, {:class=>'menu grey'}) %>
  <%= project.full_name %>
  <%= html_status(project.last_status) %>
  <% date = project.last_status_date
  if date
    days = time_ago_in_words(date) %>
    (<%= days %> - w<%= date.to_date.cweek %>)
  <% end %>
</h3>

<div class="milestone_bar">
<%= render(:partial=>'milestones/milestone', :collection=>project.sorted_milestones) %>
</div>
<% end %>
</div>

<%= link_to_function('Toggle projects', "$('projects').toggle()") %>
<div id="projects"<%if not current_user.has_role?('Admin')%> style="display:none;"<%end%> >
<ul>
<%= render(:partial=>'project', :collection=>@projects) %>
</ul>
</div>

