<%= link_to_function('Legend',"$('legend').toggle();", :style=>"float:right;") %>
<div class="legend" id="legend" style="display:none;">
  <div class="milestone">
  <div class="milestone_name blank">
  No date
  </div>
  <div class="milestone_comments status-1">
  No request
  </div>
  </div>

  <div class="milestone">
  <div class="milestone_name missing">
  No date
  </div>
  <div class="milestone_comments status0">
  Some requests
  </div>
  </div>


  <div class="milestone">
  <div class="milestone_name normal">
  Date OK
  </div>
  <div class="milestone_comments status0">
  No info
  </div>
  </div>


  <div class="milestone">
  <div class="milestone_name soon">
  2 weeks
  </div>
  <div class="milestone_comments status1">
  GO
  </div>
  </div>

  <div class="milestone">
  <div class="milestone_name verysoon">
  1 w / late
  </div>
  <div class="milestone_comments status2">
  GO w/a
  </div>
  </div>

  <div class="milestone">
  <div class="milestone_name passed">
  Passed
  </div>
  <div class="milestone_comments status3">
  NO GO
  </div>
  </div>

  <div class="milestone">
  <div class="milestone_name skipped">
  Skipped
  </div>
  <div class="milestone_comments status0">
  no info
  </div>
  </div>
</div>


<%= link_to_function('Toggle Frieze', "Effect.toggle('frieze','blind')",{:class=>"btnlnk"}) %>
<div id="frieze">
<% for project in @wps %>
<h3>
  <%= link_to('Open', {:action=>'show', :id=>project.id}, {:class=>'menu grey'}) %>
  <% next_m_date = project.next_milestone_date;  bool = (next_m_date and next_m_date-Date.today() <= 5); if bool %>
  <font color="red">
  <% end %>
  <%= next_m_date %>
  <%= project.full_name %>
  <% if bool %>  </font>  <% end %>
  <%= html_status(project.last_status) %>
  <% date = project.last_status_date
  if date
    days = time_ago_in_words(date) %>
    (<%= days %> - w<%= date.to_date.cweek %>)
  <% end %>

  <% if project.read_date and current_user.has_role?('Admin')%>
  <font color="#777777">
  Last read: <%= time_ago_in_words(project.read_date) %>
  </font>
  <% end %>

</h3>

<div class="milestone_bar">
<%= render(:partial=>'milestones/milestone', :collection=>project.sorted_milestones) %>
</div>
<% end %>
</div>
<br/>
<br/>

<%= link_to_function('Toggle projects', "Effect.toggle('projects','blind')",{:class=>"btnlnk"}) %>
<div id="projects" style="display:none;">
<ul>
<%= render(:partial=>'project', :collection=>@projects) %>
</ul>
</div>

