<h2>Projects</h2>
<% if current_user.has_role?('Admin') %>
<%= link_to('New', {:action=>'new'},{:class=>"btnlnk"}) %>
<%= link_to('Import', {:action=>'import'},{:class=>"btnlnk"}) %>
<%= link_to('Check', {:action=>'check'},{:class=>"btnlnk"}) %>
<% end %>
<%= link_to('Report', {:action=>'report'},{:class=>"btnlnk"}) %>
<%= link_to('Summary', {:action=>'summary'},{:class=>"btnlnk"}) %>
<%= link_to('WS Reporting', {:action=>'ws_reporting'},{:class=>"btnlnk"}) %>
<%= link_to('Tickets changes', {:action=>'week_changes'}, {:class=>'btnlnk'}) %>

<div class="stats">
Last RMT update: <%= time_ago_in_words(@last_update) %> ago (<%= @last_update %>)<br/>
<%= @projects.size %> projects, <%= @wps.size %> WPs with open requests and a status
</div>


<%= link_to_function('filters', "Effect.toggle('filters','blind');",{:class=>"btnlnk"}) %>
<% if(are_filtered) %><strong>filtered</strong><% end %>
<div id="filters" style="display:none;border:1px solid #DDD;margin-top:25px;background: #EEE;">
<% form_tag(:action=>'filter') do %>
<table>
<tr valign="top"><td>
<b>Status</b><br/>
<%= check_box_tag('st[]', 0) %> unknown<br/>
<%= check_box_tag('st[]', 1) %> green<br/>
<%= check_box_tag('st[]', 2) %> amber<br/>
<%= check_box_tag('st[]', 3) %> red<br/>
</td><td>
<b>Workstreams</b><br/>
<% for workstream in @workstreams %>
  <%= check_box_tag('ws[]',workstream) %> <%= workstream %><br/>
<% end %>
</td><td>
<b>Supervisors</b><br/>
<% for s in @supervisors %>
  <%= check_box_tag('sup[]',s.id) %> <%= s.name %><br/>
<% end %>
</td><td>
<b>QR</b><br/>
<% for s in @qr %>
  <%= check_box_tag('qr[]',s.id) %> <%= s.name %><br/>
<% end %>
</td></tr>
<tr>
<td colspan=4>
Text: <%= text_field_tag('text') %> precedence on other filters<br/>
Searches project title and description, statuses, request summary and PM names
</td>
</tr>
</table>
<%= submit_tag('Filter') %>
<% end %>
<br/>
</div>
<br/>
<br/>


<div id="tabs">
  <ol>
    <li style="margin-left: 1px" id="tabHeaderActive"><a href="javascript:void(0)" onClick="toggleTab(1,6)"><span>Projects <strong><%= @wps.size %></strong></span></a></li>
    <li id="tabHeader2"><a href="javascript:void(0)" onClick="toggleTab(2,6)" ><span>Actions <strong><%= @actions.size %></strong></span></a></li>
    <li id="tabHeader3"><a href="javascript:void(0)" onClick="toggleTab(3,6)" ><span>Amendments <strong><%= @amendments.size %></strong></span></a></li>
    <li id="tabHeader4"><a href="javascript:void(0)" onClick="toggleTab(4,6)" ><span>Risks <strong><%= @risks.size %></strong></span></a></li>
    <li id="tabHeader5"><a href="javascript:void(0)" onClick="toggleTab(5,6)" ><span>Inconsistencies <strong><%= @inconsistencies.size %></strong></span></a></li>
    <li id="tabHeader6"><a href="javascript:void(0)" onClick="toggleTab(6,6)" ><span>Checklists <strong><%= @checklist_milestones.size %></strong></span></a></li>
  </ol>

  <div id="tabscontent">
    <div id="tabContent1" class="tabContent" style="display:yes;">
        <br />
        <div>
        <%= render(:file=>'projects/index_projects') %>
        </div>
    </div>

    <div id="tabContent2" class="tabContent" style="display:none;">
        <br />
        <div>
          <%= render(:file=>'actions/actions_header') %>
          <%= render(:partial=>'actions/action', :collection=>@actions) %>
          </table>
        </div>
    </div>

    <div id="tabContent3" class="tabContent" style="display:none;">
        <br />
        <div>
          <%= render(:file=>'amendments/amendments_header') %>
          <%= render(:partial=>'amendments/amendment', :collection=>@amendments) %>
          </table>
        </div>
    </div>

    <div id="tabContent4" class="tabContent" style="display:none;">
        <br />
        <div>
          <%= render(:file=>'risks/risks_header') %>
          <%= render(:partial=>'risks/risk', :collection=>@risks) %>
          </table>
        </div>
    </div>

    <div id="tabContent5" class="tabContent" style="display:none;">
        <br />
        <div>
          <table>
          <tr style="font-weight:bold;"><td>Suggested</td><td>Current</td><td>Project</td></tr>
          <%= render(:partial=>'risks/inconsistency', :collection=>@inconsistencies, :as=>:p) %>
          </ul>
        </table>
    </div>

    <div id="tabContent6" class="tabContent" style="display:none;">
        <br />
        <div>
          <table>
          <tr style="font-weight:bold;"><td>Suggested</td><td>Current</td><td>Project</td></tr>
          <%= render(:partial=>'risks/inconsistency', :collection=>@inconsistencies, :as=>:p) %>
          </ul>
        </table>
    </div>
    
    
    
  </div><!--End of tabscontent-->
</div><!--End of tabs-->

