<h2>Projects</h2>
<%= link_to('Import', {:action=>'import'},{:class=>"btnlnk"}) %>
<%= link_to('Check', {:action=>'check'},{:class=>"btnlnk"}) %>
<br/>
<br/>
<%= @projects.size %> projects<br/>
<%= link_to_function('filters', "$('filters').toggle();") %>
<% if(session[:project_filter_workstream] != nil or session[:project_filter_status]) %><strong>filtered</strong>
<% end %>
<div id="filters" style="display:none;">
<% form_tag(:action=>'filter') do %>
<table>
<tr valign="top"><td>
<b>Status</b><br/>
<%= check_box_tag('st[]', 0) %> unknown<br/>
<%= check_box_tag('st[]', 1) %> green<br/>
<%= check_box_tag('st[]', 2) %> amber<br/>
<%= check_box_tag('st[]', 3) %> red<br/>
</td><td>
<b>Workstreams</b><br/>
<% for workstream in @workstreams %>
  <%= check_box_tag('ws[]',workstream) %> <%= workstream %><br/>
<% end %>
</td></tr>
</table>
<%= submit_tag('Filter (todo)') %>
<% end %>
<br/>
</div>

<ul>
<%= render(:partial=>'project', :collection=>@projects) %>
</ul>
