<% if(are_filtered) %>(<strong>filtered</strong>)<br/><% end %>

<h2>Discussion topics</h2>

<table>
<tr style="background-color: #DDD;font-weight:bold;">
<td width="20">#</td>
<td width="160">Supervisor</td>
<td width="400">Topic</td>
<td width="160">Created / Done</td>
<td width="300">Decision</td>
</tr>
<%= render(:partial=>'topic', :collection=>@topics) %>
</table>

<h2>Global Stats</h2>
<h3>Requests by workstream (workload)</h3>
<%@report.by_workstream(false) { |title, rs| %>
  <%= report_by(title, rs, "wos", false, true) %>
<% } %>

<h3>Projects by status</h3>
UNKNOWN: <% s = @projects.select { |p| p.project == nil and p.last_status==0}.size %><%= s %> (<%= ((s.to_f/@size)*100).to_i %>%)<br/>
GREEN: <% s = @projects.select { |p| p.project == nil and p.last_status==1}.size %><%= s %> (<%= ((s.to_f/@size)*100).to_i %>%)<br/>
AMBER: <% s = @projects.select { |p| p.project == nil and p.last_status==2}.size %><%= s %> (<%= ((s.to_f/@size)*100).to_i %>%)<br/>
RED: <% s = @projects.select { |p| p.project == nil and p.last_status==3}.size %><%= s %> (<%= ((s.to_f/@size)*100).to_i %>%)<br/>

<% @supervisors.each do |s|%>
<h1><%= s.name %></h1>
<%= render(:partial=>'report', :collection=>@projects.select{|p| p.supervisor_id == s.id}) %>
<% end %>

