<%= @project.icon_status %>
<h2><%= @project.full_name %> </h2>
<%= link_to('Edit project', {:action=>'edit', :id=>@project.id}, {:class=>'btnlnk'}) %>
<%= link_to('Add status', {:action=>'add_status_form', :project_id=>@project.id}, {:class=>'btnlnk'}) %><br/>
<br/>
<b>WS</b>: <%= @project.workstream %><br/>
<b>BRN</b>: <%= @project.brn %><br/>
<% if @project.description and @project.description!=''%>
<%= simple_format(@project.description) %>
<% end %>

<h3>Status</h3>
<div class="status_explanation">
  <% if @status.updated_at %>
  <div class="status_date">
  <%= @status.updated_at %>
  (<b><%= time_ago_in_words(@status.updated_at) %></b>)
  <%= link_to('Edit', :action=>'edit_status', :id=>@status.id) %>
  </div>
  <% end %>
  <%= simple_format(@status.explanation) %>
</div>

<h3>Project</h3>
<% if @project.project %>
  <ul>
  <%= render(:partial=>'project', :object=>@project.project) %>
  </ul>
<% end %>

<h3>Requests</h3>
<ul>
<%= render(:partial=>'request', :collection=>@project.requests) %>
</ul>

<h3>Workpackages</h3>
<ul>
<%= render(:partial=>'project', :collection=>@project.projects) %>
</ul>

