<h2><%= @project.name %> </h2>
<%= @project.icon_status %>
<%= link_to('Edit', :action=>'edit', :id=>@project.id) %>
<%= link_to('Add status', :action=>'add_status_form', :project_id=>@project.id) %><br/>

<b>WS</b>: <%= @project.workstream %><br/>
<b>BRN</b>: <%= @project.brn %><br/>
<% if @project.description and @project.description!=''%>
<%= simple_format(@project.description) %>
<% end %>

<h3>Status</h3>

<%= simple_format(@project.get_status.explanation) %>

<h3>Project</h3>
<% if @project.project %>
<ul>
<%= render(:partial=>'project', :object=>@project.project) %>
</ul>
<% end %>

<h3>Requests</h3>

<ul>
<%= render(:partial=>'request', :collection=>@project.requests) %>
</ul>


<h3>Workpackages</h3>

<ul>
<%= render(:partial=>'project', :collection=>@project.projects) %>
</ul>

