<script>
function edit(id, nb_months, has_requests) {
  if (!has_requests) {
    alert("This project has no request, you should edit the workpackage")
    }
  if(nb_months == 0 || confirm('This status is old. You should add a new status.\nAre you sure you want to edit it?')) {
    location = '/projects/edit_status/'+id;
    }
  }
function add(id, nb_months, has_requests) {
  if (!has_requests) {
    alert("This project has no request, you should edit the workpackage")
    return;
    }
  if(nb_months >= 1 || confirm('There is a status for this month already.\nAre you sure you want to add a new status?')) {
    location = '/projects/add_status_form/'+id;
    }
  }
</script>

<%
  cookies["tab_menu_project_show"] = "1" if !cookies["tab_menu_project_show"]
  # TODO: do this check inside tab_menu
%>

<div id="submenu">
  <%= @project.icon_status %>
  <h2><%= @project.full_name %></h2>
</div>
<div id="subcontent">
  <div id="tabs">
    <ol>
      <%= tab_menu("project_show", [
        "Timeline and status",
        "Risks <strong>#{@project.risks.size}</strong>",
        "Amendments <strong>#{@project.current_amendments.size}</strong>",
        "Actions <strong>#{@project.current_actions.size}</strong>",
        "Notes/Capi <strong>#{@project.visible_notes(current_user.id).size}</strong>",
        "Information"        
        ]) %>
    </ol>

    <div id="tabscontent">
      <div id="tabContent1" class="tabContent" style="display:<%= cookies["tab_menu_project_show"]=="1"? "block" : "none"%>;">
          <div>
            <div style="float:left;">
              <%= link_to('Add milestone', {:controller=>'milestones', :action=>'new', :project_id=>@project.id}, {:class=>'btnlnk'}) %>
              <%= link_to('Export All Spiders', {:controller=>'spiders', :action=>'project_spider_export', :project_id=>@project.id}, {:class=>'btnlnk'}) %>
            </div>
            <% if @project.is_qr_qwr %>
              <div style="float:Right;">
                Remaining QS :        <%= @project.calcul_qs_previsional.to_s %><br />
                Remaining Spiders :   <%= @project.calcul_spider_previsional  %>
              </div>
            <% end %>
            <br/>
            <br/>
            
            <div class="milestone_bar">
              <%= render(:partial=>'milestones/milestone', :collection=>@project.sorted_milestones) %>
            </div>
            
            <% if @project.requests.size > 0 %>
              <%= link_to_function('Add/Refresh status for this week', "add(#{@project.id}, #{s = @project.get_status; s.updated_at ?
							(Date.today.year * 12 + Date.today.month) - (s.updated_at.to_date.year * 12 + s.updated_at.to_date.month): 0}, #{@project.has_requests})", {:class=>'btnlnk'}) %>
              <%
                n,c = @project.project_check_items_numbers
                check_all_done = (n==c)
                s = "btnlnk"
                s += " special" if !check_all_done
              %>
              <%= link_to_function("#{n}/#{c} checks", "$('checks').toggle()", :class=>s) %>
              <% if @project.read_date %>
                <font color="#777777">
                  Last read: <%= time_ago_in_words(@project.read_date) %>
                </font>
              <% end %>
              <ul id="checks" style="display:none">
                <%= render(:partial=>'checklists/checklist_item', :collection=>@project.project_check_root_items, :as=>:i) %>
              </ul>
            <% end %>
            <%= render(:partial=>'status', :object=>@status) %>
            <br/>
            <%= link_to_function("Old (#{@old_statuses.size})", "$('old_statuses').toggle();", :class=>"menu") %>
            <div id='old_statuses' style="display:none;">
              <% for s in @old_statuses %>
                <%= render(:partial=>'status', :object=>s) %>
              <% end %>
            </div>
          </div>
      </div>

      <div id="tabContent2" class="tabContent" style="display:<%=cookies["tab_menu_project_show"]=="2"? "block":"none"%>;">
          <div>
            <%= link_to('Add risk', {:controller=>'risks', :action=>'new', :project_id=>@project.id}, {:class=>'btnlnk'}) %>
            <%= link_to('Run risk checklist', {
                :controller=>'generic_risk_questions',
                :action=>'run',
                :id=>@project.id},
              :class=>"btnlnk") %><br/>
            <br/>
            Suggested status:
            <% suggested_status = @project.suggested_status %>
            <%= html_status(suggested_status) %>
            <% if  suggested_status < @status.status %>
              <strong>If the current status <%=html_status(@status.status)%> is correct, then some risks are not identified</strong>            <br/>
            <% end %>
            <% if @status.status > 0 and suggested_status > @status.status %>
              <strong>If the current status <%=html_status(@status.status)%> is correct, then some risks are too high</strong>            <br/>
            <% end %>
            <br/>

            <a href="#" onclick="return false;" title="Probability:
            0:can not occur
            1:low. 1% < x < 35%
            2:normal. 36% < x < 70%
            3:high. > 70%
            4:occured

            Impact:
            1:low. cost, delay or quality impact < 10%
            2:medium. cost, delay or quality impact > 10%
            3:high. cost, demlay or quality impact > 20%">Help</a>
            <table class="grid">
            <tr class="header">
            <td>Severity</td>
            <td>ID</td>
            <td>Context</td>
            <td>Q</td>
            <td>Risk</td>
            <td>Probability</td>
            <td>Consequence/Impact</td>
            <td>Impact</td>
            <td>Actions taken</td>
            <td>Created at</td>
            <td>Modif.</td>
            <td></td>
            </tr>
              <%= render(:partial=>'risk', :collection=>@project.risks.sort_by {|r| [-r.severity, r.id]}) %>
            </table>
          </div>
      </div>

      <div id="tabContent3" class="tabContent" style="display:<%=cookies["tab_menu_project_show"]=="3"? "block":"none"%>;">
          <div>
            <%= link_to('Add amendment', {:controller=>'amendments', :action=>'new', :project_id=>@project.id}, {:class=>'btnlnk'}) %><br />
            <br />
            <%= render(:file=>'amendments/amendments_header') %>
            <%= render(:partial=>'amendments/amendment', :collection=>@project.amendments) %>
            </table>
          </div>
      </div>

      <div id="tabContent4" class="tabContent" style="display:<%=cookies["tab_menu_project_show"]=="4"? "block":"none"%>;">
          <div>
            <%= link_to('Add action', {:controller=>'actions', :action=>'new', :project_id=>@project.id}, {:class=>'btnlnk'}) %><br/>
            <br/>
            <%= render(:file=>'actions/actions_header') %>
            <%= render(:partial=>'actions/action', :collection=>@project.visible_actions(current_user.id)) %>
            </table>
          </div>
      </div>

      <div id="tabContent5" class="tabContent" style="display:<%=cookies["tab_menu_project_show"]=="5"? "block":"none"%>;">
          <div>
            <%= link_to('Add note', {:controller=>'notes', :action=>'new', :project_id=>@project.id}, {:class=>'btnlnk'}) %><br />
            <br />
            <%= render(:partial=>'notes/note', :collection=>@project.visible_notes(current_user.id)) %>
          </div>
      </div>

      <div id="tabContent6" class="tabContent" style="display:<%=cookies["tab_menu_project_show"]=="6"? "block":"none"%>;">
          <div>
            <%= link_to('Edit project', {:action=>'edit', :id=>@project.id}, {:class=>'btnlnk'}) %>
            <% if @project.responsibles.exists?(current_user) %>
              <%= link_to_remote('Remove from my projects', {:url=>{:controller=>'projects', :action=>'remove_from_mine', :id=>@project.id}, :success=>"$('btnaddtomine').fade();"}, {:class=>'btnlnk special', :id=>'btnaddtomine'}) %>
            <% else %>
              <%= link_to_remote('Add to my projects', {:url=>{:controller=>'projects', :action=>'add_to_mine', :id=>@project.id}, :success=>"$('btnaddtomine').fade();"}, {:class=>'btnlnk special', :id=>'btnaddtomine'}) %>
            <% end %>
            <br/>
            <br/>
            <b>Supervisor</b>: <% if not @project.supervisor_id %>?<% else %><%= @project.supervisor.name %><% end %><br/>
            <b>WS</b>: <%= @project.workstream %><br/>
            <b>BRN</b>: <%= @project.brn %><br/>
            <b>Coordinator</b>: <%= @project.coordinator %><br/>
            <b>PM</b>: <%= @project.pm %> (from RMT: <%=@project.request_pm.join(', ')%>)<br/>
            <b>BPL</b>: <%= @project.bpl %><br/>
            <b>ISPL</b>: <%= @project.ispl %><br/>
            <b>Request resp:</b> <%=@project.assignees.join(', ')%><br/>
            <b>Associations:</b> <%=@project.responsibles.map{|r| r.name}.join(', ')%><br/>
            <b>QR/QWR</b>: <%= @project.qr_qwr.name if @project.qr_qwr %><br/>
						<b>Is QR/QWR active</b>: <%= @project.is_qr_qwr %><br />
            <b>DWR</b>: <%= @project.dwr %><br/>

			<b>Is Running:</b> <%= @project.is_running.to_s %>
			<% if !@project.is_running %>
				<%= link_to('Start project', { :action => "start", :id => @project.id }) %>
			<% end %>
			<br />

            <b>Suite</b>: <%= @project.suite_tag.name if @project.suite_tag %><br/>
						<b>Is Running:</b> <%= @project.is_running.to_s %>
						<% if !@project.is_running %>
							<%= link_to('Start project', { :action => "start", :id => @project.id }) %>
						<% end %>
						<br />

            <% if @project.description and @project.description!=''%>
              <%= simple_format(@project.description) %>
            <% end %>
            <h3>Project</h3>
            <% if @project.project %>
              <ul>
              <%= render(:partial=>'project', :object=>@project.project) %>
              </ul>
            <% end %>

            <h3>Requests</h3>
            <ul>
            <%= render(:partial=>'request', :collection=>@project.requests) %>
            </ul>

            <h3>Workpackages</h3>
            <ul>
            <%= render(:partial=>'project', :collection=>@project.projects) %>
            </ul>

          </div>
      </div>

    </div><!--End of tabscontent-->
  </div><!--End of tabs-->
</div> <!-- subcontent -->

<% if @project.requests.size > 0 or @project.has_status or @project.checklist_items.size > 0%>

<% end %>

<% if @project.requests.size > 0  or @project.actions.size > 0 %>
<% end %>


