<SCRIPT language="Javascript">
// $(document).ready(function(){
// 	$(".question_reference_note").change(function() {
// 			var question_reference_id = this.id
// 			var question_reference_note = $(this).val()
// 		
// 			$(".question_reference_note").attr('disabled', 'disabled');
// 			$("#loading_" + question_reference_id).show();
// 			
// 			$.ajax({
// 			url: "/question_references/save_question_reference",
// 			type: "POST",
// 			data: "question_reference_id=" + question_reference_id + "&question_reference_note=" + question_reference_note})
// 			.done(function(result) { 
// 				$(".question_reference_note").removeAttr('disabled');
// 				$("#loading_" + question_reference_id).hide();
// 			})
// 			.fail(function() { 
// 				$(".question_reference_note").removeAttr('disabled');
// 				$("#loading_" + question_reference_id).hide();
// 				alert("Error, modification not saved.");
// 			});
// 	});
// });
function question_reference_change(id,value)
{
	var question_reference_id = id;
 	var question_reference_note = value;
	
	// Lock screen
	lock_inputs();
	// Show loading indicator
	$("loading_" + question_reference_id).show();

	// Request
	new Ajax.Request('/question_references/save_question_reference', {
    parameters: { question_reference_id: question_reference_id, question_reference_note : question_reference_note  },
	  onSuccess: function(response) {
			unlock_inputs();
			$("loading_" + question_reference_id).hide();
	  },
		onFailure:function(response) {
			unlock_inputs(); 
			$("loading_" + question_reference_id).hide();
			alert("Error, modification not saved.");
		}
	});
}

function lock_inputs()
{
	$$('.question_reference_note').each(
	   function (e) {
	      e.disable();
	});
}
function unlock_inputs()
{
	$$('.question_reference_note').each(
	  function (e) {
	     e.enable();
  });	
}
</SCRIPT>

<table>
<tr><th>Lifecycle</th><!-- <th>PM Type</th> --><th>Axe</th><th>Milestone</th><th>Question text</th><th>Reference Note</th></tr>
<% @questionReferencesList.each{|m| %>
	<tr>
	<td style="background-color: #6D6D6D;color:white;border: 1px solid black;"><%= m.lifecycle_question.lifecycle.name.to_s %></td>
	<!-- <td class="grey_cell" style="border: 1px solid black;"><%= m.lifecycle_question.pm_type_axe.pm_type.title.to_s %></td> -->
	<td style="background-color: #6D6D6D;color:white;border: 1px solid black;"><%= m.lifecycle_question.pm_type_axe.title.to_s %></td>
	<td style="background-color: #6D6D6D;color:white;border: 1px solid black;"><%= m.milestone_name.title.to_s %></td>
	<td style="background-color: #8DC600;border: 1px solid black;"><%= m.lifecycle_question.text.to_s %></td>
	
	<td><select class="question_reference_note" id="<%= m.id %>" onchange="question_reference_change(this.id,this.value);">
		<option <% if (m.note.to_s == "NI") %>selected<% end %> value="NI">NI</option>
		<option <% if (m.note.to_s == "1") %>selected<% end %> value="1">1</option>
		<option <% if (m.note.to_s == "2") %>selected<% end %> value="2">2</option>
		<option <% if (m.note.to_s == "3") %>selected<% end %> value="3">3</option>
	</select></td>
	
	<td id="loading_<%= m.id %>" style="display:none;"><%= image_tag "ajax-loader.gif", :alt => "Loading", :id => "image_loading" %></td>
	
<% } %>
</table>