Dear <%= @person.name %>,<br/>
<br/>
<% if @new_notes.size > 0 %>
  You have <%= @new_notes.size %> new or modified notes on your projects since the last 10 days.<br/>
  <ul>
    <% for n in @new_notes -%>
      <li><b><%= n.project.full_name %>:</b>  <%= n.note.strip %></li>
    <% end -%>
  </ul>
<% end %>

<% if @requests_to_close.size > 0 %>
  You have <%= @requests_to_close.size %> requests to close.<br/>
  <ul>
    <%= render(:partial=>'projects/request2', :collection=>@requests_to_close) %>
  </ul>
<% end %>

<% if @amendments.size > 0 %>
  You have <%= @amendments.size %> open amendments with passed deadlines, please verify the status.<br/>
  <ul>
    <%= render(:partial=>'amendments/text_amendment', :collection=>@amendments, :as=>:a) %>
  </ul>
<% end %>

<% if @actions.size > 0 %>
  You have <%= @actions.size %> actions.<br/>
  <ul>
    <%= render(:partial=>'actions/text_action', :collection=>@actions, :as=>:a) %>
  </ul>
<% end %>

<% if @milestones_with_open_checklists.size > 0 %>
  You have <%= @milestones_with_open_checklists.size %> open checklists.<br/>
  <ul>
    <%= render(:partial=>'milestones/text_milestone', :collection=>@milestones_with_open_checklists, :as=>:m) %>
  </ul>
<% end %>

<% if @tbv.size > 0 %>
  You have <%= @tbv.size %> requests to validate (based on your workload).<br/>
  <br/>
  <table>
    <tr style="font-weight:bold;">
      <td>RMT ID</td>
      <td>Name</td>
      <td>Current week</td>
      <td>Next week</td>
    </tr>
    <%= render(:partial=>'workloads/conso_requests_to_validate', :collection=>@tbv, :as=>:r) %>
  </table><br/>
<% end %>

<% if @wl_percent_planned < 80 %>
	<span style="font-weight:bold;">To plan</span><br />
	You have <%= @wl_to_plan %> days to plan.
<% end %>

<% if @ciproject_reminder_hash.count > 0 %>
	<br /><br /><span style="font-weight:bold;">CI-Projects</span><br />
	<% if @ciproject_reminder_hash["late"] %>
		<p>You have <%= @ciproject_reminder_hash["late"].count %> CI-Projects late.</p>
	    <table>
		    <tr style="font-weight:bold;">
				<td>ID</td>
				<td></td>
				<td>Status</td>
				<td>Visibility</td>
				<td>Assigned to</td>
				<td>Summary</td>
				<td>Stage</td>
				<td>SQLI</td>
				<td>Airbus</td>
				<td>Deployment</td>
				<td>Kick-Off Date</td>
				<td>Dates which are late</td>
		    </tr>
			<%= render(:partial=>'ci_projects/daily_ci_project', :collection=>@ciproject_reminder_hash["late"], :as=>:p, :locals => { :check_date => true }) %>
		</table><br />
	<% end %>
	
	<% if @ciproject_reminder_hash["notKickoff"] %>
		<p>You have <%= @ciproject_reminder_hash["notKickoff"].count %> CI-Projects assigned but without kickoff date.</p>
		<table>
		    <tr style="font-weight:bold;">
				<td>ID</td>
				<td></td>
				<td>Status</td>
				<td>Visibility</td>
				<td>Assigned to</td>
				<td>Summary</td>
				<td>Stage</td>
				<td>SQLI</td>
				<td>Airbus</td>
				<td>Deployment</td>
				<td>Kick-Off Date</td>
		    </tr>
			<%= render(:partial=>'ci_projects/daily_ci_project', :collection=>@ciproject_reminder_hash["notKickoff"], :as=>:p, :locals => { :check_date => false }) %>
		</table><br />
	<% end %>
	
	<% if @ciproject_reminder_hash["all"] %>
		<p>You have <%= @ciproject_reminder_hash["all"].count %> CI-Projects.</p>
		<table>
		    <tr style="font-weight:bold;">
				<td>ID</td>
				<td></td>
				<td>Status</td>
				<td>Visibility</td>
				<td>Assigned to</td>
				<td>Summary</td>
				<td>Stage</td>
				<td>SQLI</td>
				<td>Airbus</td>
				<td>Deployment</td>
				<td>Kick-Off Date</td>
		    </tr>
			<%= render(:partial=>'ci_projects/daily_ci_project', :collection=>@ciproject_reminder_hash["all"], :as=>:p, :locals => { :check_date => false }) %>
		</table><br />
	<% end %>
<% end %>



<br/>
<br/>
Your very kind secretary,<br/>
The <a href="http://tls-srv-eisq.sqli.com/">BAM</a>.<br/>

