Dear <%= @person.name %>,<br/>
<br/>
<% if @new_notes.size > 0 %>
  You have <%= @new_notes.size %> new or modified notes on your projects since the last 10 days.<br/>
  <ul>
    <% for n in @new_notes -%>
      <li><b><%= n.project.full_name %>:</b>  <%= n.note.strip %></li>
    <% end -%>
  </ul>
<% end %>

<% if @requests_to_close.size > 0 %>
  You have <%= @requests_to_close.size %> requests to close.<br/>
  <ul>
    <%= render(:partial=>'projects/request2', :collection=>@requests_to_close) %>
  </ul>
<% end %>

<% if @amendments.size > 0 %>
  You have <%= @amendments.size %> open amendments with passed deadlines, please verify the status.<br/>
  <ul>
    <%= render(:partial=>'amendments/text_amendment', :collection=>@amendments, :as=>:a) %>
  </ul>
<% end %>

<% if @actions.size > 0 %>
  You have <%= @actions.size %> actions.<br/>
  <ul>
    <%= render(:partial=>'actions/text_action', :collection=>@actions, :as=>:a) %>
  </ul>
<% end %>

<% if @milestones_with_open_checklists.size > 0 %>
  You have <%= @milestones_with_open_checklists.size %> open checklists.<br/>
  <ul>
    <%= render(:partial=>'milestones/text_milestone', :collection=>@milestones_with_open_checklists, :as=>:m) %>
  </ul>
<% end %>
<br/>
<br/>
Your very kind secretary,<br/>
The <a href="http://tls-srv-eisq.sqli.com/">BAM</a>.<br/>

