<p><%= label_tag 'code' %>
<%= text_field :role, :name %></p>

<p><%= label_tag 'display' %>
<%= text_field :role, :display %></p>

<p><%= label_tag 'description' %>
<%= text_area :role, :description, {:rows=>3} %></p>
