<h3><%= @milestone.name %> checklist</h3>

<% if current_user.has_role?('Admin') %>
  <% if @milestone.checklist_not_applicable == 0 %>
    <li><%= link_to_remote('Make this checklist not applicable for this milestone',
      :url=>{:controller=>'milestones', :action=>'set_checklist_not_applicable', :id=>@milestone.id},
      :complete=>"open_checklist(#{@milestone.id});",
      :confirm=>"delete this checklist ?",
      :html=>{:id=>"not_applicable"})
    %></li>
    <li><%= link_to_remote('Refresh',
      :url=>{:controller=>'milestones', :action=>'deploy_checklists', :id=>@milestone.id},
      :complete=>"open_checklist(#{@milestone.id});",
      :html=>{:id=>"deploy_checklists"})
    %></li>
  <% else %>
    <li><%= link_to_remote('Currently not applicable',
      :url=>{:controller=>'milestones', :action=>'set_checklist_applicable', :id=>@milestone.id},
      :complete=>"open_checklist(#{@milestone.id});",
      :confirm=>"Make this milestone checklist applicable ?",
      :html=>{:id=>"not_applicable"})
    %></li>
  <% end %>
  <br/>

  <% if @milestone.checklist_not_allowed? and @items.size==0%>
    <strong>This milestone can not have a checklist in this state</strong><br/>
  <% end %>
<% end %>

<% if @milestone_requests.count > 0 %>
  <% for r in @requests %>
    <% items = @items.select{|i| i.request_id==r.id} %>
    <% if items.size > 0 %>
      <b><%= r.work_package%> <%= r.milestone if r.milestone!='N/A'%> <%= r.resolution%> <%= r.contre_visite=='Yes' ? '<strong>Contre-Visite</strong>' : ''%></b>
      (<a target="_blank" href="http://toulouse.sqli.com/EMN/view.php?id=<%= r.request_id %>">#<%= r.request_id.to_i%></a>)<br/>
      <ul>
        <%= render(:partial=>"checklist_item", :collection=>items, :as=> :i) %>
      </ul>
    <% end %>
<% end %>
<% else %>
  <% items = @items %>
  <%= render(:partial=>"checklist_item", :collection=>items, :as=> :i) %>
<% end %>