<li>
<%= action_report.person.name %>:
<b><%= action_report.action %></b>
<% if action_report.due_date %>
<%= action_report.due_date %>
(<%= time_ago_in_words(action_report.due_date) %>)
<% end %>
<u><%= action_report.result %></u>
</li>