<%= hidden_field :amendment, :project_id %>

<p><%= label_tag 'project' %>
<%= select(:amendment, :project_id, @projects_select, :include_blank=>"=== No project ===") %>
</p>

<p><%= label_tag 'milestone' %>
<%= select(:amendment, :milestone, ['m1','m3','m5','m7','m9','m10','m10a','m11','m12','m13','m14']) %>
</p>

<p><%= label_tag 'amendment' %>
<%= text_area :amendment, :amendment, {:rows=>3} %></p>

<p><%= label_tag 'action' %>
<%= text_area :amendment, :action, {:rows=>3} %></p>

<p><%= label_tag 'responsible' %>
<%= text_field :amendment, :responsible %></p>

<p><%= label_tag 'duedate' %>
<%= text_field :amendment, :duedate %> yyyy-mm-dd (was milestone date, but the due date is more appropriate, so check this date)</p>

<p><%= label_tag 'done' %>
<%= check_box :amendment, :done %></p>
