<tr>
<td align="right" <%=log.css_class%>><%= log.date %></td>
<td align="right"><%= log.initial %></td>
<td align="right"><%= log.sdp_remaining %></td>
<td align="right"><%= log.wl_remaining %></td>
<td align="right"><%= log.delay %></td>
<td align="right"><%= log.balance %></td>
<td align="right"><%= log.percent %>%</td>
<td></td>
</tr>

