en construction :)<br/>
<br/>
<%= link_to('New planning', {:action=>'new'}, {:class=>'btnlnk'}) %>

<ul>
<%= render(:partial=>'planning', :collection=>@plannings, :as=>:p) %>
</ul>

<% if @planning %>
<h2><%= @planning.name %></h2>
<%= link_to('New task', {:controller=>:tasks, :action=>'new', :id=>@planning.id}, {:class=>'btnlnk'}) %>

<ul>
<%= render(:partial=>'task', :collection=>@planning.tasks, :as=>:t) %>
</ul>

<div id='planning'style="width:700px;height:300px;border: 1px solid #AAA;">Loading planning...</div>

<script>
  planning = new Planning('planning', <%= @planning.tasks.to_json %> );
</script>

<% end %>
